{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CDM_upload{% endblock %}

{% block style %}
<style>
	.menu { padding:0; margin:0; list-style-type:none;}
	.menu li {background:#343957; margin-right:1px; float:left; color:#fff; }
	.menu li a { display:block; width:80px; text-align:center; height:32px; line-height:32px; color:#fff; font-size:13px; text-decoration:none;}

	.cur{ background:#D96C00; font-weight:bold;}
</style>
{% comment %}    <link rel="stylesheet" type="text/css" href="/static/css/zzsc.css">
    <link rel="stylesheet" href="/static/css/dcalendar.picker.css"/>{% endcomment %}
{% endblock %}

{% block content %}

   {% comment %} <div class="row">
        <div class="col-lg-12">
          <ul class="menu" id="menu">
            <li><a href="{% url "CDM:CDM_upload"%}">Add</a></li>
            <li><a href="{% url "CDM:CDM_edit"%}">Edit</a></li>
            <li><a href="{% url "CDM:CDM_search"%}">Search</a></li>
          </ul>
        </div>
    </div>{% endcomment %}


    <div id="content-wrapper">

      <div class="container-fluid">


        <!-- Breadcrumbs-->
        <form class='form-Test' action="." method="POST" οnsubmit="return submitCheck();" id="index" enctype="multipart/form-data">
               <!-- <div class="container-fluid"> -->
            <div style="color:#FFF;font-weight: bolder;">{{ message_CDM }}</div>
            <div class="container" style="background-color:rgba(255,255,255,0)">
                <div style="background-color:rgba(255,255,255,0.4)" class="row">
                    <div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.Customer.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Customer}}
                          </div>
                    </div>
                    {% comment %}<div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.Phase.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Phase}}
                          </div>
                    </div>{% endcomment %}
                    <div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.Project.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Project }}
                          </div>
                    </div>
                    <div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.SKU_NO.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.SKU_NO}}
                          </div>
                    </div>
                    <div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.SS_Data.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.SS_Data}}
                          </div>
                    </div>
                    {% comment %}<div class="col-md-2">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.SS_Data_1.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.SS_Data_1}}
                          </div>
{#                        <input type="datetime-local"><span style="color: red;">test</span>#}

                    </div>{% endcomment %}
                </div>
                {% comment %}<div style="background-color:rgba(255,255,255,0.2)" class="row">
                    <div class="col-md-6">
                        <span style="color:#FFF">{{ CDMforms.Project.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Project }}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <span style="color:#FFF">{{ CDMforms.SKU_NO.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.SKU_NO}}
                          </div>
                    </div>
                </div>{% endcomment %}
                <div style="background-color:rgba(255,255,255,0.2)" class="row">
                    <div class="col-md-6">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.C_cover_Material.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.C_cover_Material}}
                          </div>
                    </div>
                    <div class="col-md-6">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.D_cover_Material.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.D_cover_Material}}
                          </div>
                    </div>
                </div>
                <div style="background-color:rgba(255,255,255,0.4)" class="row">
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L1.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L1}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L2.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L2}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L3.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L3}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L4.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L4}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L5.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L5}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L6.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L6}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.L7.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.L7}}
                          </div>
                    </div>
                    <div class="col-md-1">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.Ave.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Ave}}
                          </div>
                    </div>
                </div>
                <div style="background-color:rgba(255,255,255,0.2)" class="row">
                    <div class="col-md-10">
                        <span style="color:#FFF"><span style="color: red;">*</span>{{ CDMforms.Conclusion.label_tag }}</span>
                          <div class="form-group">
                            {{ CDMforms.Conclusion}}
                          </div>
                    </div>
                </div>
                <div style="background-color:rgba(255,255,255,0.4)" class="row">
                    <div class="col-md-12"><center>
                    <button type="submit" style="font-weight: bolder;color: #0c0c0c" name="Upload">Upload{% comment %}<img src="/static/src/upload.jpg" height="25" width="40">{% endcomment %}</button>
                     </center>
                      {% csrf_token %}
                    </div>
                </div>


            </div>

        </form>
      </div>
    </div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
// 表单元素提交时ＪＳ判断输入的值，为空时则不刷新页面返回，不为空跳转并传值到新页面
 function submitCheck(){
 	var txt1 = document.getElementById("name");
 	var txt2 = document.getElementById("pwd");
    var txt3 = document.getElementById("yzm");
    if(txt1.value==""){
    	alert("请输入用户名！");
	    txt1.focus();
	    return false;
    }else if(txt2.value==""){
    	alert("请输入密码！");
	    txt2.focus();
	    return false;
    }else if(txt3.value==""){
    	alert("请输入验证码！");
	    txt3.focus();
	    return false;
    }
    return true;
  }
</script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    {% comment %}<script type="text/javascript">
      var urlstr = location.href;
      //alert(urlstr);
      var urlstatus=false;
      $("#menu a").each(function () {
        if ((urlstr + '/').indexOf($(this).attr('href')) > -1&&$(this).attr('href')!='') {
          $(this).addClass('cur'); urlstatus = true;
        } else {
          $(this).removeClass('cur');
        }
      });
      if (!urlstatus) {$("#menu a").eq(0).addClass('cur'); }
    </script>
        <script src="/static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/dcalendar.picker.js"></script>
        <script type="text/javascript">
            $('#mydatepicker').dcalendarpicker();
            $('#mydatepicker2').dcalendarpicker({
                format:'yyyy-mm-dd'
            });
            $('#mycalendar').dcalendar();
        </script>{% endcomment %}
        <script>
        　　function only_num(obj){
        　　　　//得到第一个字符是否为负号
        　　　　var num = obj.value.charAt(0);
        　　　　//先把非数字的都替换掉，除了数字和.
        　　　　obj.value = obj.value.replace(/[^\d\.]/g,'');
        　　　　//必须保证第一个为数字而不是.
        　　　　obj.value = obj.value.replace(/^\./g,'');
        　　　　//保证只有出现一个.而没有多个.
        　　　　obj.value = obj.value.replace(/\.{2,}/g,'.');
        　　　　//保证.只出现一次，而不能出现两次以上
        　　　　obj.value = obj.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
        　　　　//如果第一位是负号，则允许添加
        　　　　if(num == '-'){
        　　　　　　obj.value = '-'+obj.value;
        　　　　}
        　　}
        </script>
{% endblock %}