{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}lesson_form_upload{% endblock %}
{% block css %}
 <link rel="stylesheet" href="/static/css/ElementUI.css">
 <link href="/static/css/bouncing.css" rel="stylesheet">
<style>
[v-cloak]{
  display: none;
}
  .selectMsg{
     font-size:16px;
      padding: 15px;
      display: flex;
  }
  .selectMsg label{
      font-weight: 800;
      margin-right: 10px;
      color: white;
  }
   .selectMsg label:last-child{
     margin-left: 15px;
   }
  .selectMsg #project{
      margin-left: 0;
  }
  .el-table .el-table__row.warning-row {
    background: oldlace!important;
  }
  .el-table .el-table__row.warning-row:hover{
   background: oldlace!important;
  }
   .el-table .info-row {
    background: #8b968d!important;
  }
   .el-table .info-row:hover{
     background: #8b968d!important;
   }
    .el-table .danger-row {
    background: #F56C6C!important;
  }
   .el-table .danger-row:hover{
    background: #F56C6C!important;
   }
  .el-table .success-row {
    background: #a8c97f!important;
  }
  .el-table .success-row:hover{
    background-color: #a8c97f!important;
  }
  .el-table  .cell{
     text-align: center;
 }
.el-icon-circle-check,.el-icon-circle-close{
    font-size:2.5rem;
    color:cadetblue;
}
.tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}
.inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
.inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;
    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}
{% comment %}解决hover事件的高亮{% endcomment %}
.el-table--enable-row-hover .el-table__body tr:hover>td{
    background-color: transparent !important;
}
{% comment %}解决点击事件出现 current_row class对上面的样式的影响{% endcomment %}
.el-table__body tr.current-row>td {
    background-color: transparent !important;
    }
.el-table .el-select .el-input__inner{
    height: 50px;
}
.eltable-photo{
    white-space: nowrap;
    overflow-x: auto;
    text-overflow: clip
}
.eltable-photo::-webkit-scrollbar {/*滚动条整体样式*/
            width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 10px;
        }
.eltable-photo::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 4px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
        }
.eltable-photo::-webkit-scrollbar-track {/*滚动条里面轨道*/
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 4px;
            background: rgba(0,0,0,0.1);
        }
.eltable-photo .el-image{
    margin-left: 6px;

}
.eltable-photo .el-image:first-child{
    margin-left: 0px;
}
.el-pagination.is-background{
      text-align: right;
      margin: 10px 0 0 0;
  }
  .el-pagination__total,.el-pagination__jump{
      color: white;
  }
</style>
{% endblock %}
{% block content %}
<div id="app"  >
  <div class="selectMsg" v-cloak>
    <div class="customerContent" style="margin-right: 20px" v-cloak>
    <label for="customer" v-cloak>客戶別 </label>
     <el-select  v-model="customer" v-cloak >
            <el-option v-for="item in customerOptions" :label="item.label" :value="item.value" v-cloak >${ item.value }</el-option>
      </el-select><br>
      <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
    </div>
    <div class="projectContent"  style="margin-right: 10px" v-cloak>
     <label for="project" v-cloak>專案號</label>
     <el-select  v-model="project"  placeholder="請輸入專案號" style="margin-right: 20px;width:200px"  clearable v-cloak >
            <el-option v-for="item in projectvalue"  :label="item.project" :value="item.project" ></el-option>
      </el-select><br>
      <div class="inputError" v-cloak  v-show="projectError">專案號不能為空</div>
    </div>
    <div class="phaseContent" style="margin-right: 30px" v-cloak>
         <label for="phase" v-cloak >Phase</label>
        <el-select v-model="phase" id="phase" v-cloak>
            <el-option v-for="(item,index) in phasevalue" :key="index" :label="phaseName[item]" :value="phasevalue[index]"></el-option>
        </el-select>
        <div class="inputError" v-cloak  v-show="phaseError">phase號不能為空</div>
    </div>
    <el-button v-cloak @click="Search" type="primary" style="height:40px;margin-right: 20px">搜索</el-button>
</div>
  <div  class="tableAround"  v-cloak>
    {% csrf_token %}
 <!--數據表-->
     {% comment %} datatable 的 key value：
      object     :
      symptom    :
      root_cause :
      solution   :
      action     :
      photo      :
      id         :
      comment    :
      len_id    :
     {% endcomment %}
  <el-table height="700" border :data="tableData.slice((currentPage -1 )*pageSize,(currentPage)*pageSize)" id="out-table" style="min-width: 100%;border-radius: 10px"
    :row-class-name="tableRowClassName"
     row-click="rowClick"
     :header-cell-style="{
       'background-color':'#fafafa',
       'font-weight':'800',
       'border-bottom':'1px solid rgb(103, 194, 58)'
    }">
      <el-table-column prop="object" label="Object" sortable ></el-table-column>
      <el-table-column prop="symptom" label="Symptom" sortable ></el-table-column>
      <el-table-column prop="root_cause" label="Root_Cause" sortable></el-table-column>
      <el-table-column prop="solution" label="Solution" sortable label="LessonLearn ID"></el-table-column>
      <el-table-column prop="action" label="Action" sortable label="LessonLearn ID"></el-table-column>
      <el-table-column prop="photo" label="Photo" sortable class="eltable-photo">
          <template scope="scope">
              <div v-if="0" class="eltable-photo">
                  <img v-for="(item) in scope.row.photo" :src="item">
              </div>
              <div class="eltable-photo">
                   <el-image v-for="(item) in scope.row.photo" :src="item" style="width: 100px; height: 100px;" :preview-src-list="scope.row.photo" lazy="true"></el-image>
              </div>
          </template>
      </el-table-column>
      <el-table-column label="結果" prop="id" sortable>
       <template slot-scope="scope">
         <span v-if="!scope.row.isSet">${ scope.row.result }</span>
         <el-select v-if="scope.row.isSet" v-model="result[scope.row['id']]"  >
            <el-option v-for="item in options" :label="item.label" :value="item.value" ></el-option>
         </el-select>
        </template>
      </el-table-column>
      <el-table-column prop="comment" label="備註" sortable>
        <template slot-scope="scope">
        <span v-if="!scope.row.isSet">${ scope.row.comment }</span>
        <el-input v-if="scope.row.isSet" placeholder="请输入内容" type="textarea"  v-model="comment[scope.row['id']]" clearable></el-input>
        </template>
       </el-table-column>
      <!--結果上傳 -->
      <el-table-column label="提交修改結果">
           <template slot-scope="scope">
           <el-button size="mini" type="primary" v-if="!scope.row.isSet" @click="edit(scope.row,scope.row['id'])">编辑</el-button>
           <el-button size="mini" type="success" v-if="scope.row.isSet" @click="submit(scope.row['id'],scope.row)">提交</el-button>
           <el-button size="mini" type="primary" v-if="scope.row.isSet" @click="cancel(scope.row['id'],scope.row)">取消</el-button>
       </template>
    </el-table-column>
  </el-table>
</div>
  <el-pagination
      background
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[20, 50, 100, 150]"
      :page-size="50"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.length"
      :hide-on-single-page="!tableData.length">

    </el-pagination>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script  src="/static/js/Element/table.js"></script>
<script  src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script  src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/Element/image.js"></script>
<script src="/static/js/Element/message.js"></script>
<script type="text/babel">
  new Vue ({
    el:"#app",
    delimiters: ['${', '}'],
    data() {
      return {
        comment:[],
        result:[],
        lesson_id:[],
        options:[{
            label:"",
            value:""
        },{
            label:"Pass",
            value:"Pass"
        },{
            label:"Fail",
            value:"Fail"
        },{
            label:"Not Support",
            value:"NS"
        },{
            label:"N/A",
            value:"NA"
        },
          // "Pass","Fail","Not Support","N/A"
        ],
        title:["object","symptom","root_cause","solution","action"],
        tableData:[],
        search:'',
        customer:'',
        project:'',
        projectvalue:[],
        phase:'',
        phasevalue:[],
        projectError:false,
        customerError:false,
        phaseError:false,
        phaseName:["FVT", "SIT", "FFRT", "INV",],
        customerOptions:[{
            "label":"C38(NB)",
            "value":"C38(NB)",
        },{
            "label":"C38(AIO)",
            "value":"C38(AIO)",
        },{
            "label":"A39",
            "value":"A39",
        }
        ],
        showCustomer:'',
        showProject:'',
        showPhase:'',
        currentPage:"1",
        pageSize:50,

      }
    },
    mounted(){
        //input 初始化
        this.getdata("get");
        let _this = this;
        window.onbeforeunload =function () {
            let result= _this.checkChangedData();
            if (result){
                return false;
            }
          }
        //this.inputNum();

    },
    methods: {
      /*
      *  获取数据的封装函数 ：引用了axios 和 qs 的js文件
      *  接收数据的规则：
      *  selectMsg : 客户别、机种名、phase
      *  Content :{
      *   result   ：测试结果 ,
      *   comment  : 备注信息 ，
      *  }
      * */
      getdata:function(e){
                console.log("getdata begin");
                //let data = {"isGetData":e,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()};
                axios.get("/LessonProjectME/Lesson_ProjectResult/?action="+e+"&csrfmiddlewaretoken="+$("[name='csrfmiddlewaretoken']").val()+"" ,{
                    headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'} //改变头格式，原生默认上传json格式
                }).then((res) => {
                    this.selectMsg=res.data['selectMsg'];
                    this.tableData=res.data['content']?res.data['content']:[];
                    this.comment.length=this.tableData.length;
                    this.result.length=this.tableData.length;
                    for(let num =0;num < this.tableData.length;num++){
                        //生成表格中的序列号
                        this.lesson_id[num]=this.tableData[num]["len_id"];
                        this.tableData[num]["id"]= num;
                        //编辑按钮的flag
                        Vue.set(this.tableData[num],'isSet',0);
                    }
                    this.showCustomer = this.customer;
                    this.showProject = this.project;
                    this.showPhase = this.phase;

                });

            },
      Search:function(){
           let _this = this;
           //customer和project和phase未填
          if(this.customer===''){
                   //alert("客戶別未選擇");
                    this.customerError = true;
                   return false;
               };
          if(this.project===''){
                   //alert("專案號未填寫");
                 this.projectError = true;
                  return false;
               };
          if(this.phase===''){
                   //alert("專案號未填寫");
                 this.phaseError = true;
                  return false;
               };
          console.log("search");
          let parameter = "search&customer="+this.customer+"&project="+this.project+"&phase="+this.phase;
          // 上传流程
          // 先检查是否为第一次查询
          if(this.showCustomer ||this.showProject || this.showPhase || this.showCategory){
              // 判断不为第一次查询
              // 然后判断是否有未更改的值
              let result= this.checkChangedData();
              if(!result){
                  //都已更新完毕，没有未处理的值
                  try{
                      this.getdata(parameter);
                  }catch(e){ console.log(e);}
              }else
                  {
                  //当前页面存在未保存的值，需向用户确认
                  var warning =confirm("檢測到當前填寫的部分數據未保存，請及時點擊保存，以免數據丟失 是否繼續搜索?");
                  if(warning){
                    this.getdata(parameter);
                    }else{
                        //取消動作
                        return false;
                    }
              }
          }else
              {
             // 判断为第一次查询
             this.getdata(parameter);
          }

          this.getdata(parameter)
      },
      tableRowClassName({row, rowIndex}) {
        switch (row.result) {
            case "Pass": return  'success-row';
            case "Fail": return  'danger-row';
            case "NS": return  'info-row';
            case "NA": return 'warning-row';
            default: return "";
        }
      },
      setCurrent:function(row) {
        //this.$refs.singleTable.setCurrentRow(row);
      },
      handleCurrentChange:function(val) {
        //this.currentRow = val;
        console.log(val);
      },
      /*  提交功能
       *  上传信息：
       *          "lesson_id":this.lesson_id[index], --- 该项数据在数据库的序列号
                   "comment":this.comment[index],    ---  结果备注信息
                   "result":this.result[index],      ---  测试结果
                   "customer":this.showCustomer,     ---  客户别
                   "project":this.showProject,       ---  机种名
                   "phase":this.showPhase            ---   phase
           返回信息：
                   {"msg"：400 ,"content" :"修改成功"}--- 成功返回
                   {"msg"：401 ,"content" :"修改失败"}--- 返回失败
       */
      submit:function (id,row) {
          if(this.result[id]==""){
                alert("測試結果未填入");
                return false;
          }
          if(this.customer == ""){
              this.customerError= true;
              return false;
          }
          if(this.project == ""){
              this.projectError= true;
              return false;
          }
          //结果未发生改变
          if(this.result[id] === row.result && this.comment[id] === row.comment){
              this.$message({
                  type:"info",
                  message:"结果未发生变化"
              });
              this.cancel(id,row);
              return false;
          }

          let data ={
               "lesson_id":this.lesson_id[id],
               "comment":this.comment[id],
               "result":this.result[id],
               "customer":this.showCustomer,
               "project":this.showProject,
               "phase":this.showPhase
          }
           axios.post("/LessonProjectME/Lesson_ProjectResult/",Qs.stringify(data),{
                    headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                } ).then((res) => {
                   if(res.data.msg === 400){
                     row.result = this.result[id]  ;
                     row.comment = this.comment[id] ;
                     row.isSet = 0 ;
                     this.$message({
                        message:res.data['content'],
                        type:'success'
                    })
                   }else{
                     this.$message({
                        message:res.data['content'],
                        showClose: true,
                        type: 'error',
                        duration:5000,
                    })
                   }
                }).catch((err) => {
                     this.$message({
                        message:err,
                        type: 'error',
                        duration:5000,
                    })
           });
      },
      //取消修改
      cancel:function (id,row) {
         this.result[id] = '';
         this.comment[id] = '';
         row.isSet = 0;
      },
      //打开编辑功能
      edit:function (row,index) {
          //打开改行的编辑按钮
          this.result[index] = row.result;
          this.comment[index] = row.comment;
          row.isSet = 1;
      },
      filters:function () {
          if(this.search){
             return this.tableData.filter(this.tableData['object'].toLowerCase().includes(this.search.toLowerCase())||
                                    this.tableData['symptom'].toLowerCase().includes(this.search.toLowerCase())||
                                    this.tableData['root_cause'].toLowerCase().includes(this.search.toLowerCase())||
                                    this.tableData['solution'].toLowerCase().includes(this.search.toLowerCase())||
                                    this.tableData['action'].toLowerCase().includes(this.search.toLowerCase()));
          }
          else{
              return this.tableData
          }

      },
      //導出表格
      exportExcel:function (){
           /* 从表生成工作簿对象 */
        var wb = XLSX.utils.table_to_book(document.querySelector("#out-table"));
        /* 获取二进制字符串作为输出 */
        var wbout = XLSX.write(wb, {
            bookType: "xlsx",
            bookSST: true,
            type: "array"
        });
        try {
            saveAs(
            //Blob 对象表示一个不可变、原始数据的类文件对象。
            //Blob 表示的不一定是JavaScript原生格式的数据。
            //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
            //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
            new Blob([wbout], { type: "application/octet-stream" }),
            //设置导出文件名称
            "sheetjs.xlsx"
            );
        } catch (e) {
            if (typeof console !== "undefined") console.log(e, wbout);
        }
        return wbout;
        },
      //检查是否发生数据改变
      checkChangedData(){
          for(let i = 0 , length= this.tableData.length;i<length;i++ ){
              //如果有存在正在修改的數據，返回true
              if(this.tableData[i].isSet === 1){
                  return true;
              }
          }
          //否則返回false
          return false;
      },
      //分页
      handleSizeChange(val) {
        this.pageSize=val;
      },
      handleCurrentChange(val) {
        this.currentPage=val;
      }

    },
    watch: {
       //關閉customer和project 未輸入提示 以及依據選項產生聯動
       customer(newValue,oldValue){
           //關閉錯誤提示
           this.customerError = false;
           //清除上次搜索過的記錄
           this.project='';
           this.phase='';
           console.log(this.selectMsg);
           this.projectvalue=this.selectMsg[newValue];
           //Vue.$set(this.projectvalue,this.selectMsg['0'][newValue]);
          // console.log(this.selectMsg,newValue,this.projectvalue);
       },
       project(newValue,oldValue){
           //關閉錯誤提示
           this.projectError = false;
           //清除上次搜索過的記錄
           this.phase='';
           if(this.customer == ''){
               return false;
           }
           //console.log(this.selectMsg['0'][this.customer]);
           //遍歷所有數據進行查找
           for(let index =0; index < this.selectMsg[this.customer].length;index++){
               //console.log(this.selectMsg['0'][this.customer][index]['project'], newValue);
               //查找當前選項
                if(this.selectMsg[this.customer][index]['project'] == newValue){
                    this.phasevalue = this.selectMsg[this.customer][index]['phase'];
                    //Vue.set()
                    //console.log(this.phasevalue);
                    return ;
                }
           }
       },
       phase(newValue,oldValue){
           this.phaseError = false;
           //console.log(newValue);
       },
},
  })
</script>
{% endblock %}
