{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}LNV_OBI{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
    <style>
    .content{
    width:25px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:60px;
    background-color:#343957;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 24px;
    writing-mode: vertical-lr;
    z-index: 99;
    opacity: 0.9;
}
    #container-yansebiaoshi{
    display:none;
    position: fixed;
    right: 35px;
    top:60px;
    z-index: 99;
    border: 2px solid  #deb887;
}
     .el-pagination__total,.el-pagination__jump{
        color:black;
    }
    .gutter{
        display:block!important;
        width:17px!important;
    }
    .cell-green{
    background: greenyellow;
}
    .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
    .tips{
    font-size: 20px;
    font-weight: bold;
    color: coral;
    margin-left: 15px;
}
    .el-table .cell {
    box-sizing: border-box;
    white-space: pre-line;
    word-break: break-all;
    line-height: 23px;
    }
    tbody tr td:last-child {
    text-align: left;
    }
     .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
    .inputError,#Customer{
        display:inline-block;
    }
    .el-tooltip__popper{
    max-width: 400px;
    white-space: pre-line;
    }
    .oneLine {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .el-table .my-cell {
    vertical-align: top
  }
    body .el-table th.gutter{
      display: table-cell!important;
    }
    body .el-table colgroup.gutter{
      display: table-cell!important;
    }

  .tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #c0c0c0;
    border-radius: 10px;
    background-color: rgba(255,255,255,255);
}
  .fileUploadContent{
    display: inline-flex;
    display: -webkit-inline-flex;
}
  .fileUploadContent label{
    display: inline-block;
    word-break: keep-all;
    line-height: 40px;
}
  .fileUploadContent input{
    line-height: 35px;
    height: 40px;
    border-radius: 10px;
    width: 210px;
    color: antiquewhite;
}

  .fileUploadContent .showFileName{
     line-height: 40px;
     margin-left: 20px;
     font-size: 18px;
     color: white;
   }

  .inputPackage{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .inputPackage span{
    position: absolute;
    line-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
  }

  .inputPackage input{
      opacity: 0;
      width: 100%;
      height: 100%;
  }

#sh {
    font-size:18px;
    font-family:微软雅黑;
    border: 2px solid #9f9ca1;
}

#sh::-webkit-input-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}
#sh::-moz-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}
#sh:-ms-input-placeholder{
        color:#2f97a8;
    font-family:微软雅黑;
}
    </style>
{% endblock %}
{% block content %}
    <div class="content" id="yincang">spec</div>
    <div id="container-yansebiaoshi">
    <img src="/static/src/obispec.png">
    </div>
    <div id="app">
<div class="row" style="white-space: nowrap;">
    <div class="col-md-4">
    <label style="color: #FFF;font-size: 16px;" for="Customer">Customer</label>
       <select id="Customer" ref="Customer" v-model="selectedCustomer" style="height:30px;width:90px;border-radius:5px 5px 5px 5px;">
           <option value="All">All</option>
           <option v-for="(item,key,index) in selectItem" >${ item }</option>
       </select>
    <label style="color: #FFF;margin-left: 10px;font-size: 16px;" for="ProjectName">Project Name</label>
         <el-autocomplete
                  class="inline-input"
                  v-model="selectedProjectName"
                  ref="ProjectName"
                  :fetch-suggestions="querySearch"
                  placeholder="请输入ProjectName"
                  @select="handleSelect">
         </el-autocomplete>
    <label style="color: #FFF;margin-left: 10px;font-size: 16px;" for="Platform">Platform</label>
       <select id="Platform" ref="Platform" v-model="selectedPlatform" style="height:30px;width:100px;border-radius:5px 5px 5px 5px;">
           <option value="All">All</option>
           <option v-for="(item,key,index) in sectionPlatform" >${ item }</option>
       </select>
    <label style="color: #FFF;margin-left: 10px;font-size: 16px;" for="PN">PN</label>
         <el-autocomplete
                  class="inline-input"
                  v-model="selectedPN"
                  ref="PN"
                  :fetch-suggestions="querySearchPN"
                  placeholder="请输入PN"
                  @select="handleSelect">
         </el-autocomplete>
    <el-button size="small" style="background:#428bca;color:#fff;margin-left: 50px;" value="Search" name="Search" @click="selectMsg()">Search</el-button>
    <a style="margin-top: 10px;margin-left: 40px;color: white" href="/static/src/modelfiles/OBIDeviceResult.xlsx">模板下载<img src="/static/src/back/document_save_2_24px_539656_easyicon.net.png" alt="..."></a>
    </div>
</div>
<div class="row" style="white-space: nowrap;margin-bottom: 20px;">
    <div v-cloak class="fileUploadContent" v-if="canEdit==1">
        <div class="inputPackage" v-cloak>
              <span v-cloak>請選擇文件</span>
              <input v-cloak type="file" id="upload" ref="file" @change="updateFile(event)" v-model="excelFile">
        </div>
        <el-button @click="fileUpload" type="warning" style="height:40px" v-cloak> Excel上傳</el-button>
        <span class="showFileName" v-cloak >${ fileName }</span>
    </div>
</div>
<div class="tableAround" v-cloak >
    <div class="col-md-5" style="float: left;margin-top: -5px;">
        <span style="font-weight: bold;color: black;font-size: 16px;">已選</span><span id="SelectNum" style="font-weight: bold;color: black;font-size: 16px;margin-left: 14px;">0</span><span class="col-md-4" style="font-weight: bold;color: black;font-size: 16px;">條</span>
            <el-button v-if="canEdit==1" size="medium" style="background-color:#69ec57;border-color:black;color:black;margin: 2px;margin-left: 50px;" name="新增" @click="addData()" v-cloak>新增</el-button>
            <el-button v-if="canEdit==1" size="medium" style="background-color:#00CCFF;border-color:black;color:black;margin: 2px;margin-left: 10px;" name="修改" @click="updateData()" v-cloak>修改</el-button>
            <el-button v-if="canEdit==1" size="medium" style="background-color: #FF6666;border-color:black;color:black;margin: 2px;margin-left: 10px;" name="刪除" @click="deleteData()" v-cloak>刪除</el-button>
    </div>
    {% csrf_token %}
    <template>
    <el-input type="text" v-model="search"  id="sh" placeholder="請輸入關鍵字搜索..."></el-input>
    <el-table border stripe height="750" ref="multipleTable" @selection-change="handleSelectionChange" :row-key="getRowKeys" :data="datas.slice((currentPage-1)*pageSize,currentPage*pageSize)"
              @selection-change="handleSelectionChange"
              :header-cell-style="{background:'white','border-bottom':'1px solid rgb(103, 194, 58)'}"
              style="border-radius: 10px;word-break: keep-all" :cell-style="addColor">
        <el-table-column type="selection" :reserve-selection="true" width="50" fixed></el-table-column>
        <el-table-column type="index" :index="indexMethod" fixed></el-table-column>
        <el-table-column prop="Customer" label="Customer" align="center" width="85" fixed>
        </el-table-column>
        <el-table-column prop="Project_Name" label="Project name" align="center" width="95" fixed>
        </el-table-column>
        <el-table-column prop="Platform" label="Platform" align="center" width="100">
        </el-table-column>
        <el-table-column prop="Series" label="Series" align="center" width="100">
        </el-table-column>
        <el-table-column prop="Category" label="Category" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Device_No" label="Device No." width="90" align="center">
        </el-table-column>
        <el-table-column prop="PN" label="P/N" align="center" width="105">
        </el-table-column>
        <el-table-column prop="Device_Name" label="Device name" align="center" width="140">
        </el-table-column>
        <el-table-column prop="Test_Result" label="Test result" align="center" width="100">
        </el-table-column>
        <el-table-column prop="FW_Ver" label="FW version" align="center" width="100">
        </el-table-column>
        <el-table-column prop="Software_Ver" label="Software version" width="100" align="center">
        </el-table-column>
        <el-table-column prop="HW_ID_ver" label="HW ID version" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Test_Phase" label="Test Phase" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Comments" label="Comments" width="160" align="center">
        </el-table-column>
    </el-table>
    <div class="block">
        <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[2, 50, 100, 200]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="total_computed">
        </el-pagination>
    </div>
    </template>
</div>

<el-dialog
    title="數據新增"
    width="80%"
    :visible.sync="insert">
    <template>
<el-form ref="form" :model="form"  :rules="rules" label-width="120px" size="medium">
<el-row>
  <el-col span="10">
  <el-form-item label="Customer" prop="Customer">
      <el-input v-model="form.Customer" disabled="true"></el-input>
{#        <el-select v-model="form.Customer" placeholder="请选择">#}
      {#{#            <el-option#}
      {#{#                v-for="item in selectItem"#}
      {#{#                :key="item"#}
      {#{#                :label="item"#}
      {#{#                :value="item">#}
      {#{#            </el-option>#}
      {#{#        </el-select>#}
  </el-form-item>
  </el-col>
  <el-col span="10">
  <el-form-item label="Project name" prop="Project_Name">
      <el-input v-model="form.Project_Name" disabled="true"></el-input>
  </el-form-item>
  </el-col>
</el-row>
<el-row>
  <el-col span="10">
      <el-form-item label="Platform" prop="Platform">
        <el-select v-model="form.Platform" placeholder="请选择">
            <el-option
                v-for="item in sectionPlatform"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
      </el-form-item>
  </el-col>
  <el-col span="10">
      <el-form-item label="Series" prop="Series">
        <el-select v-model="form.Series" placeholder="请选择">
            <el-option
                v-for="item in sectionSeries"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
      </el-form-item>
  </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Category" prop="Category">
        <el-select v-model="form.Category" placeholder="请选择">
            <el-option
                v-for="item in sectionCategory"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
{#          <el-input v-model="form.Category"></el-input>#}
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="Device No." prop="Device_No">
        <el-input v-model="form.Device_No"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="P/N" prop="PN">
        <el-input v-model="form.PN"></el-input>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="Device name" prop="Device_Name">
        <el-input type="textarea" v-model="form.Device_Name" :rows="1"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Test result" prop="Test_Result">
         <el-select v-model="form.Test_Result" placeholder="請選擇" >
            <el-option value="F">F</el-option>
            <el-option value="Qd">Qd</el-option>
            <el-option value="Qd_L">Qd_L</el-option>
            <el-option value="Qd_C">Qd_C</el-option>
         </el-select>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="FW version" prop="FW_Ver">
        <el-input v-model="form.FW_Ver"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Software version" prop="Software_Ver">
        <el-input v-model="form.Software_Ver"></el-input>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="HW ID version" prop="HW_ID_ver">
        <el-input v-model="form.HW_ID_ver"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
  <el-col span="10">
  <el-form-item label="Test Phase" prop="Test_Phase">
         <el-select v-model="form.Test_Phase" placeholder="請選擇" >
            <el-option value="FVT">FVT</el-option>
            <el-option value="SIT">SIT</el-option>
         </el-select>
  </el-form-item>
  </el-col>
  <el-col span="10">
  <el-form-item label="Comments" prop="Comments">
        <el-input type="textarea" v-model="form.Comments" :rows="1"></el-input>
  </el-form-item>
  </el-col>
</el-row>
<div class="el-form-item__content" style="margin-left: 300px;">
  <el-form-item>
    <el-button type="primary" @click="onSubmit('form')">新增</el-button>
  </el-form-item>
 </div>
</el-form>
</template>
</el-dialog>

<el-dialog
    title="數據修改"
    width="80%"
    :visible.sync="update">
    <template>
<el-form ref="form1" :model="form1"  label-width="120px" size="medium">
<el-row>
  <el-col span="10">
  <el-form-item label="Customer" prop="Customer">
      <el-input v-model="form1.Customer" disabled="true"></el-input>
{#        <el-select v-model="form1.Customer" placeholder="请选择">#}
{#            <el-option#}
{#                v-for="item in selectItem"#}
{#                :key="item"#}
{#                :label="item"#}
{#                :value="item">#}
{#            </el-option>#}
{#        </el-select>#}
  </el-form-item>
  </el-col>
  <el-col span="10">
  <el-form-item label="Project name" prop="Project_Name">
      <el-input v-model="form1.Project_Name" disabled="true"></el-input>
  </el-form-item>
  </el-col>
</el-row>
<el-row>
  <el-col span="10">
      <el-form-item label="Platform" prop="Platform">
        <el-select v-model="form1.Platform" placeholder="请选择">
            <el-option
                v-for="item in sectionPlatform"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
      </el-form-item>
  </el-col>
  <el-col span="10">
      <el-form-item label="Series" prop="Series">
        <el-select v-model="form1.Series" placeholder="请选择">
            <el-option
                v-for="item in sectionSeries"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
      </el-form-item>
  </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Category" prop="Category">
        <el-select v-model="form1.Category" placeholder="请选择">
            <el-option
                v-for="item in sectionCategory"
                :key="item"
                :label="item"
                :value="item">
            </el-option>
        </el-select>
{#          <el-input v-model="form1.Category"></el-input>#}
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="Device No." prop="Device_No">
        <el-input v-model="form1.Device_No"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="P/N" prop="PN">
        <el-input v-model="form1.PN"></el-input>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="Device name" prop="Device_Name">
        <el-input type="textarea" v-model="form1.Device_Name" :rows="1"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Test result" prop="Test_Result">
         <el-select v-model="form1.Test_Result" placeholder="請選擇" >
            <el-option value="F">F</el-option>
            <el-option value="Qd">Qd</el-option>
            <el-option value="Qd_L">Qd_L</el-option>
            <el-option value="Qd_C">Qd_C</el-option>
         </el-select>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="FW version" prop="FW_Ver">
        <el-input v-model="form1.FW_Ver"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
    <el-col span="10">
      <el-form-item label="Software version" prop="Software_Ver">
        <el-input v-model="form1.Software_Ver"></el-input>
      </el-form-item>
    </el-col>
    <el-col span="10">
      <el-form-item label="HW ID version" prop="HW_ID_ver">
        <el-input v-model="form1.HW_ID_ver"></el-input>
      </el-form-item>
    </el-col>
</el-row>
<el-row>
  <el-col span="10">
  <el-form-item label="Test Phase" prop="Test_Phase">
         <el-select v-model="form1.Test_Phase" placeholder="請選擇" >
            <el-option value="FVT">FVT</el-option>
            <el-option value="SIT">SIT</el-option>
         </el-select>
  </el-form-item>
  </el-col>
  <el-col span="10">
  <el-form-item label="Comments" prop="Comments">
        <el-input type="textarea" v-model="form1.Comments" :rows="1"></el-input>
  </el-form-item>
  </el-col>
</el-row>
<div class="el-form-item__content" style="margin-left: 300px;">
  <el-form-item>
    <el-button type="primary" @click="onSubmit1('form1')">修改</el-button>
  </el-form-item>
 </div>
</el-form>
</template>
</el-dialog>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script type="text/babel">
$(document).ready(function() {
    $("#yincang").click(function () {
        $("#container-yansebiaoshi").toggle();
    });
    $("body").click(function (e) {
    if (!$(e.target).closest("#yincang").length) {
        $("#container-yansebiaoshi").hide();
    }
    });
})
 new Vue({
     el: '#app',
     delimiters: ['${', '}'],
     data: function () {
         return {
             visible: false,
             insert:false,
             update:false,
             search:'',
             tableContent: [],
             canEdit:false,
             currentPage: 1,//默认显示第一页
             pageSize:100,//默认每页显示100条
             totalNum: null,
             selectItem:[],
             selectProjectName:[],
             {#ProjectName:[],#}
             selectPN:[],
             sectionPlatform:[],
             sectionSeries:[],
             sectionCategory:[],
             selectedCustomer:null,
             selectedProjectName:'',
             selectedPlatform:null,
             selectedPN:'',
             excelFile:null,
             fileName:"未選擇文件",
             multipleSelection: [],
             formData:[],
             formData1:[],
             form: {
                  Customer: '',
                  Project_Name: '',
                  Platform: '',
                  Series: '',
                  Category: '',
                  Device_No: '',
                  PN: '',
                  Device_Name: '',
                  Test_Result: '',
                  FW_Ver: '',
                  Software_Ver: '',
                  HW_ID_ver: '',
                  Test_Phase: '',
                  Comments: '',
             },
             rules: {
              Customer: [
                { required: true, message: '请選擇Customer', trigger: 'change' },
              ],
              Project_Name: [
                { required: true, message: '请输入ProjectName', trigger: 'blur' },
              ],
              Platform: [
                { required: true, message: '请選擇Platform', trigger: 'change' },
              ],
              Series: [
                { required: true, message: '请選擇Series', trigger: 'change' },
              ],
              Category: [
                { required: true, message: '请输入Category', trigger: 'blur' },
              ],
              Device_No: [
                { required: true, message: '请输入DeviceNo', trigger: 'blur' },
              ],
              PN: [
                { required: true, message: '请输入PN', trigger: 'blur' },
              ],
            },
             editid: '',
             form1: {
                  id: '',
                  Customer: '',
                  Project_Name: '',
                  Platform: '',
                  Series: '',
                  Category: '',
                  Device_No: '',
                  PN: '',
                  Device_Name: '',
                  Test_Result: '',
                  FW_Ver: '',
                  Software_Ver: '',
                  HW_ID_ver: '',
                  Test_Phase: '',
                  Comments: '',
             },
         }
     },
     mounted: function (){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
     methods: {
        //获取数据
        getdata: function (e) {
            let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
            axios.post("/OBIDeviceResult/OBIDeviceResult_edit/", Qs.stringify(data), {
                headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
            }).then((res) => {
                this.selectItem=res.data.select;
                this.selectProjectName=res.data.selectProjectName;
                this.selectPN=res.data.selectPN;
                this.tableContent = res.data.content;
                this.totalNum=this.tableContent.length;
                this.sectionPlatform = res.data.sectionPlatform;
                this.sectionSeries = res.data.sectionSeries;
                this.sectionCategory = res.data.sectionCategory;
                this.canEdit = res.data.canEdit;
         });

        },
         //索引
         indexMethod(index) {
                    return index +1;
            },
         //分页
         handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
            this.pageSize = val;
         },
         handleCurrentChange(val) {
          console.log(`当前页: ${val}`);
          this.currentPage = val;
         },

            //模糊匹配
          querySearch(queryString, cb) {
            var projectName = this.selectProjectName;
            var results = queryString ? projectName.filter(this.createFilter(queryString)) : projectName;
            // 调用 callback 返回建议列表的数据
            cb(results);
          },

          querySearchPN(queryString, cb) {
            var pn = this.selectPN;
            var results = queryString ? pn.filter(this.createFilter(queryString)) : pn;
            // 调用 callback 返回建议列表的数据
            cb(results);
          },
          createFilter(queryString) {
            return (restaurant) => {
              return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
          },
          handleSelect(item) {
            {#this.number = item.number;#}
            console.log(item);
          },
           handleSelectionChange(val) {
                this.multipleSelection = val;
                var len=document.getElementById("SelectNum");
                len.innerHTML=this.multipleSelection.length;
           },

          //上传搜索项：以此选项搜索符合条件的内容
         selectMsg :function(row){
           let Customer = this.$refs.Customer.value;
           let ProjectName = this.$refs.ProjectName.value;
           let Platform = this.$refs.Platform.value;
           let PN = this.$refs.PN.value;
           let data ={"isGetData":"SEARCH","Customer":Customer,"ProjectName":ProjectName,"Platform":Platform,"PN":PN,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()};
           axios.post("/OBIDeviceResult/OBIDeviceResult_edit/",Qs.stringify(data), {
           headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
            }).then((res) => {
               this.canEdit = res.data.canEdit;
               this.tableContent = res.data.content;
               this.totalNum=this.tableContent.length;
               this.$refs.multipleTable.clearSelection();
           });
        },

          updateFile:function(e){
                const first="未選擇文件";
                let newValue= e.target.files;
                if(newValue){
                 let file=document.getElementById('upload');
                 let filename= file.files[0].name;
                 let fileType=filename.substr(filename.lastIndexOf(".")+1);
                 if((fileType.toLowerCase() === 'xlsx')||(fileType.toLowerCase() === 'xls')){
                     this.fileName=filename;
                     this.uploadFile=file.files[0];
                 }else{
                     alert("上傳類型不為'xlsx'或'xls'");
                       try{
                       }catch(e){
                          console.log(e);
                       }
                 }
             }else{
                 this.uploadFile=null;
                 this.fileName=first;
             }
          },

         //批量上傳
          fileUpload:function(){
                    const first="未選擇文件";
                    let Customer = this.$refs.Customer.value;
                    let ProjectName = this.$refs.ProjectName.value;
                    let Platform = this.$refs.Platform.value;
                    let PN = this.$refs.PN.value;
                    if(this.uploadFile){
                       //1.解析Excel
                       let outputResult;
                       let _this= this;
                       let files = this.uploadFile;
                       let undefined_to_null=function(value){
                           if(value == undefined){
                               value=null;
                           }
                           return value;
                       };
                       var fileReader = new FileReader ();
                       const loading = this.$loading({
                              lock: true,
                              text: 'Loading',
                              spinner: 'el-icon-loading',
                              background: 'rgba(0, 0, 0, 0.7)'
                       });
                       fileReader.onload = function (ev) {
                         try {
                         {#_this.loading=true;#}
                         var data = ev.target.result,
                          workbook = XLSX.read(data, {
                            type: 'binary'
                         }), //以二进制流方式读取得到整份excel表格对象
                          persons = []; //存储获取到的数据
                       } catch (e) {
                             loading.close();
                         return;
                      }
                      for (var sheet in workbook.Sheets) {
                    if (workbook.Sheets.hasOwnProperty(sheet)) {
                        var fromTo = workbook.Sheets[sheet]['!ref'];
                        var datas = workbook.Sheets[sheet];
                        //如果有不规范数据可以在这里进行处理datas
                        persons = persons.concat(XLSX.utils.sheet_to_json(datas));
                    }
                }
                     //数据保存在result
                      let result=JSON.stringify(persons);
                       //将之前张开的树形结构收起
                          //_this.reset();
                       //2.上傳數據
                        axios.post("/OBIDeviceResult/OBIDeviceResult_edit/" ,{"Customer":Customer,"ProjectName":ProjectName,"Platform":Platform,'PN':PN,"ExcelData":result},{
                        headers:{ 'X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式 ==>'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8',
                    }).then((res) => {
                        //console.log(res.data,"first");//上传成功的操作
                        _this.tableContent = res.data.content;
                        _this.totalNum = _this.tableContent.length;
                        _this.errMsg=res.data.errMsg;
                        _this.uploadFile=null;
                        _this.fileName=first;
                        _this.selectPN=res.data.selectPN;
                        {#_this.loading=false;#}
                        loading.close();
                        //上传成功的操作
                        if(_this.errMsg){
                            _this.$alert(_this.errMsg, '提示', {
                                  type: 'warning',
                                })
                        }else {
                            _this.$message({
                                message: '上傳成功',
                                type: 'success',
                            })
                        }
                        //接受数据的初始化
                        try{
                        }catch(e)
                        {
                           console.log("错误异常"+e);
                        }
                    }).catch(function (e) {
                            loading.close();
                            _this.uploadFile=null;
                            var warning =confirm("上傳異常");
                            console.log("上傳錯誤信息"+e);
                        });
               };
                       try{
                       fileReader.readAsBinaryString(files);
                       }
                       catch(e){
                             loading.close();
                             console.log(e);
                             alert("文件上傳異常") ;
                             return;
                        }
                 }else{
                   loading.close();
                  alert("未選擇文件");
                  return false;
              }
                    this.excelFile='';
          },

         addData() {
            this.insert = true;
            this.form.Customer = this.$refs.Customer.value;
            this.form.Project_Name = this.$refs.ProjectName.value;
         },

         updateData() {
            let datas = this.multipleSelection;   // multipleSelection存储了勾选到的数据
             {#console.log(datas[0]);#}
            if(datas.length == 0){
                 this.$alert('請勾選一條數據', '提示', {
                    type: 'warning',
                 })
            }else if(datas.length == 1){
                this.update = true;
                this.editid = datas[0].id;
                this.form1.Customer = datas[0].Customer;
                this.form1.Project_Name = datas[0].Project_Name;
                this.form1.Platform = datas[0].Platform;
                this.form1.Series = datas[0].Series;
                this.form1.Category = datas[0].Category;
                this.form1.Device_No = datas[0].Device_No;
                this.form1.PN = datas[0].PN;
                this.form1.Device_Name = datas[0].Device_Name;
                this.form1.Test_Result = datas[0].Test_Result;
                this.form1.FW_Ver = datas[0].FW_Ver;
                this.form1.Software_Ver = datas[0].Software_Ver;
                this.form1.HW_ID_ver = datas[0].HW_ID_ver;
                this.form1.Test_Phase = datas[0].Test_Phase;
                this.form1.Comments = datas[0].Comments;
            }else{
                 this.$alert('只能勾選一條數據', '提示', {
                    type: 'warning',
                 });
            }
            this.$refs.multipleTable.clearSelection();
         },

         deleteData(){
            if(this.multipleSelection.length == 0){
                 this.$alert('請至少選中一條數據', '提示', {
                    type: 'warning',
                 })
            }else{
                    var warning=confirm('此操作将永久删除该条数据, 是否继续?');
                    if(warning) {
                         let checkArr = this.multipleSelection;   // multipleSelection存储了勾选到的数据
                         let params = [];
                         let self = this;
                         checkArr.forEach(function (item) {
                             console.log(item);
                             params.push(item.id);       // 添加所有需要删除数据的id到一个数组，post提交过去
                    });
                     {#console.log(params);#}
                       let Customer = this.$refs.Customer.value;
                       let ProjectName = this.$refs.ProjectName.value;
                       let Platform = this.$refs.Platform.value;
                       let PN = this.$refs.PN.value;
                       let data ={"isGetData":"MUTICANCEL","params": params,"Customer":Customer,"ProjectName":ProjectName,
                            "Platform":Platform,"PN":PN,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()};
                       axios.post("/OBIDeviceResult/OBIDeviceResult_edit/",data).then((res) => {
                             this.tableContent = res.data.content;
                             this.totalNum=this.tableContent.length;
                             self.$message({
                                 message: '删除成功',
                                 type: 'success'
                         });
                        this.$refs.multipleTable.clearSelection();
                 })
             }else{
                 return false;
             }
            }
      },

         onSubmit(formName) {
           this.$refs[formName].validate((valid) => {
            if (valid) {
                if (this.formData.length==0){this.formData = new FormData();}
                  this.formData.append('CustomerSearch', this.$refs.Customer.value);
                  this.formData.append('ProjectNameSearch', this.$refs.ProjectName.value);
                  this.formData.append('PlatformSearch', this.$refs.Platform.value);
                  this.formData.append('PNSearch', this.$refs.PN.value);
                  this.formData.append('Customer', this.$refs.form.model.Customer);
                  this.formData.append('ProjectName', this.$refs.form.model.Project_Name);
                  this.formData.append('Platform', this.$refs.form.model.Platform);
                  this.formData.append('Series', this.$refs.form.model.Series);
                  this.formData.append('Category', this.$refs.form.model.Category);
                  this.formData.append('DeviceNo', this.$refs.form.model.Device_No);
                  this.formData.append('PN', this.$refs.form.model.PN);
                  this.formData.append('DeviceName', this.$refs.form.model.Device_Name);
                  this.formData.append('TestResult', this.$refs.form.model.Test_Result);
                  this.formData.append('FWVer', this.$refs.form.model.FW_Ver);
                  this.formData.append('SoftwareVer', this.$refs.form.model.Software_Ver);
                  this.formData.append('HWID_ver', this.$refs.form.model.HW_ID_ver);
                  this.formData.append('TestPhase', this.$refs.form.model.Test_Phase);
                  this.formData.append('Comments', this.$refs.form.model.Comments);
                  this.formData.append("action",'submit');
                  axios.post("/OBIDeviceResult/OBIDeviceResult_edit/", this.formData,{
                              headers:{ 'Content-Type': 'multipart/form-data','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                          }).then((res)=>{
                              this.tableContent = res.data.content;
                              this.totalNum=this.tableContent.length;
                              this.errMsgNumber=res.data.errMsgNumber;
                              this.formData = new FormData();
                              if(this.errMsgNumber){
                                  this.$alert(this.errMsgNumber, '提示', {
                                        type: 'warning',
                                  });
                                  this.insert = true;
                              }else{
                                  try {
                                          this.$refs.form.resetFields();
                                  } catch (e) {

                                  }
                                  this.insert = false;
                              }
                  })
                }else {
                  console.log('error submit!!');
                  return false;
                }
            });
          },

         onSubmit1() {
                if (this.formData1.length==0){this.formData1 = new FormData();}
                  this.formData1.append('CustomerSearch', this.$refs.Customer.value);
                  this.formData1.append('ProjectNameSearch', this.$refs.ProjectName.value);
                  this.formData1.append('PlatformSearch', this.$refs.Platform.value);
                  this.formData1.append('PNSearch', this.$refs.PN.value);
                  this.formData1.append('id', this.editid);
                  this.formData1.append('Customer', this.$refs.form1.model.Customer);
                  this.formData1.append('ProjectName', this.$refs.form1.model.Project_Name);
                  this.formData1.append('Platform', this.$refs.form1.model.Platform);
                  this.formData1.append('Series', this.$refs.form1.model.Series);
                  this.formData1.append('Category', this.$refs.form1.model.Category);
                  this.formData1.append('DeviceNo', this.$refs.form1.model.Device_No);
                  this.formData1.append('PN', this.$refs.form1.model.PN);
                  this.formData1.append('DeviceName', this.$refs.form1.model.Device_Name);
                  this.formData1.append('TestResult', this.$refs.form1.model.Test_Result);
                  this.formData1.append('FWVer', this.$refs.form1.model.FW_Ver);
                  this.formData1.append('SoftwareVer', this.$refs.form1.model.Software_Ver);
                  this.formData1.append('HWID_ver', this.$refs.form1.model.HW_ID_ver);
                  this.formData1.append('TestPhase', this.$refs.form1.model.Test_Phase);
                  this.formData1.append('Comments', this.$refs.form1.model.Comments);
                  this.formData1.append("action",'SAVE');
                  axios.post("/OBIDeviceResult/OBIDeviceResult_edit/", this.formData1,{
                              headers:{ 'Content-Type': 'multipart/form-data','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                          }).then((res)=>{
                              this.tableContent = res.data.content;
                              this.totalNum=this.tableContent.length;
                              this.errMsgNumber=res.data.errMsgNumber;
                              this.formData1 = new FormData();
                              if(this.errMsgNumber){
                                  this.$alert(this.errMsgNumber, '提示', {
                                        type: 'warning',
                                  });
                                  this.insert = true;
                              }else{
                                  try {
                                          this.$refs.form1.resetFields();
                                  } catch (e) {

                                  }
                                  this.update = false;
                              }
                  })
          },

        addColor({row, column, rowIndex, columnIndex}) {
                   if (columnIndex === 10 && row.Test_Result == 'F') {
                           return {
                                     color: '#FF0000'
                                   }
                   }
                   if (columnIndex === 10 && (row.Test_Result == 'Qd' || row.Test_Result == 'Qd_C' || row.Test_Result == 'Qd_L')){
                           return {
                                     backgroundColor: '#33FF33'
                                   }
                   }

        },


         ToBreak (val) {
            //console.log(val,"val")
          if(val){
              //console.log(val.replace('\n', '<br />'),"val")
              return val.replace('\n', '<br />')
          }
        },

         getRowKeys (row) {
              return row.id
            },

     },
        computed:{
                datas(){//必须是el-table里面绑定的数据变量,不能与axios接受的变量名一样
                    {#console.log(111);#}
                    const search=this.search;
                    if(search){
                        return this.tableContent.filter(data=>{//axios返回时接受数据的变量
                            return Object.keys(data).some(key=>{
                                return String(data[key]).toLowerCase().indexOf(search.toLowerCase())>-1
                            })
                        })
                    }
                    return this.tableContent//axios返回时接受数据的变量
                },
                total_computed () {
                    this.Totalsize = this.datas.length;//edwin:export数据的个数
                    {#console.log(this.Totalsize);#}
                  return this.datas.length//必须是el-table里面绑定的数据变量
                }
            },
        watch: {
                datas() {
                        this.currentPage = 1;
                }
            },
 })
</script>
{% endblock %}
