<{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}summary{% endblock %}
{% block css %}
 <link rel="stylesheet" href="/static/css/index.css">
    <style>
    .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 70%;
    margin: 10px auto 5px;
    position: relative;
}
     .showDataArea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    margin: 20px 0 20px 0;
    width: 100%;

}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.container-echart{
   text-align: center;
   width: 50%;
   background-color: #F5F7FA;
   padding: 5px;
   border: 1px solid #fff5d4;
}

.container-echart1{
   text-align: center;
   width: 100%;
   background-color: #F5F7FA;
   padding: 5px;
   border: 1px solid #fff5d4;
}

.showDataArea #main {

}

.container{
   background-color: #409EFF;

}


 .Quatity {
    height: 500px;
    width: 100%;
    vertical-align: middle;
}

 .dashboard {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
     flex-wrap: nowrap;
}
.dashboard #myChart1 {
    height: 100%;
    width: 50%;
}
.dashboard #myChart2 {
    height: 100%;
    width: 50%;
}
    .el-button--mini, .el-b utton--mini.is-round {
    padding: 1px 5px;
}
    .el-collapse-item__header{

        background-image: linear-gradient(to right, rgba(0,139,139,0), rgba(0,139,139,1));
        {#background-image: linear-gradient(to right, rgba(70,130,180,0), rgba(70,130,180,1));#}
    }
    </style>
{% endblock %}
{% block content %}
<div id="app">
        {% csrf_token %}
<el-collapse v-model="activeName"  @change="handleChange">

  <el-collapse-item name="1" >

      <template slot="title" >
         <h5>INV Distributed By Customer</h5>
      </template>

    <div class="row">
        <div style="margin-left: 20px;margin-top: 12px">
           <label style="color: #000000;font-size: medium" for="Customer">Year:</label>
        </div>
        <div class="col-md-2" style="margin-left: 2px">
            <el-date-picker
                  v-model="selectedYear1"
                  id="selectedYear1"
                  type="year"
                  ref="selectedYear1"
                  value-format="yyyy"
                  placeholder="选择年">
            </el-date-picker>
        </div>

          <div class="col-md-1" style="margin-left: 50px;margin-top: 5px">
                <el-button size="small" :loading="elbuttonloading1" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="SEARCH1">Search</el-button>
          </div>

     </div>
       <p class="selectItem" v-cloak  v-if="showYear1" style="color: #000000;font-size: medium;">當前表格信息：${ showYear1 }年</p>
        <template v-cloak>
          <el-table  border  :data="tableData1" style="width: 50%;float: left" id="out-table1"
          v-loading="tableloading1"
            element-loading-text="數據更新中，請稍後"
            border>
            <el-table-column prop="Customer" label="Customer" align="center" width="100"></el-table-column>
            <el-table-column prop="Pass" label="Pass" align="center" width="100"></el-table-column>
            <el-table-column prop="Fail" label="Fail" align="center" width="100"></el-table-column>
            <el-table-column prop="Ongoing" label="Ongoing" align="center" width="100"></el-table-column>
            <el-table-column prop="Planning" label="Planning" align="center" width="100" ></el-table-column>
            <el-table-column prop="Total" label="Total" align="center" ></el-table-column>
          </el-table>
         </template>
{#        <div class="showDataArea" v-if="Top10" v-cloak>#}
      <!--柱状图-->
      <div  class="container-echart" style="float: right" v-cloak>
          <div class="Quatity" id="main2" style="height:400px;"></div>
      </div>
  </el-collapse-item>

  <el-collapse-item name="2">
      <template slot="title">
          <h5>INV Distributed By Customer By Month</h5>
      </template>

    <div class="row">
        <div style="margin-left: 20px;margin-top: 12px">
           <label style="color: #000000;font-size: medium" for="Customer">Year:</label>
        </div>
        <div class="col-md-2" style="margin-left: 2px">
            <el-date-picker
                  v-model="selectedYear2"
                  id="selectedYear2"
                  type="year"
                  ref="selectedYear2"
                  value-format="yyyy"
                  placeholder="选择年">
            </el-date-picker>
        </div>

          <div class="col-md-1" style="margin-left: 50px;margin-top: 5px">
                <el-button :loading="elbuttonloading5" size="small" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="SEARCH2">Search</el-button>
          </div>
     </div>
     <p class="selectItem" v-cloak   v-if="showYear2" style="color: #000000;font-size: medium;">當前表格信息：${ showYear2 }年</p>
      <template v-cloak>
          <el-table  border  :data="tableData2" style="width: 50%;float: left" id="out-table2"
          v-loading="tableloading2"
            element-loading-text="數據更新中，請稍後"
            border>
            <el-table-column prop="Month" label="Month" align="center" width="120" ></el-table-column>
              <el-table-column v-if="tableData2[0]" v-for="(item,key,index) in selectItem" :label="{% comment %}'Project: '+{% endcomment %}item" :prop="item">
               </el-table-column>
            {% comment %}<el-table-column prop="A39" label="A39" align="center" width="120" ></el-table-column>
            <el-table-column prop="C38N" label="C38N" align="center" width="160" ></el-table-column>
            <el-table-column prop="C38A" label="C38A" align="center" width="160" ></el-table-column>{% endcomment %}
            <el-table-column prop="Total" label="Total" align="center" ></el-table-column>
          </el-table>
      </template>
      <div  class="container-echart" style="float: right" v-cloak>
          <div class="Quatity" id="main3" style="height:400px;"></div>
{#          <el-button type="primary" size="mini" id="selectall3" flag="1">All</el-button>#}
      </div>

  </el-collapse-item>

  <el-collapse-item name="3">
      <template slot="title">
          <h5>INV Distributed By Project</h5>
      </template>

    <div class="row" style="white-space: nowrap;">
        <div class="col-md-2" style="margin-top: 2px">
            <label style="color: #000000;font-size: medium" for="Customer">Customer:</label>
                  <select id="Customer1" ref="Customer1"   v-model="selectedCustomer1" style="height:30px;width:90px;border-radius:5px 5px 5px 5px;margin-top: 2px">
                           <option value=""> </option>
                           <option v-for="(item,key,index) in selectItem" >${ item }</option>
                  </select>
            <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
        </div>
         <div class="col-md-3">
            <template>
            <div class="block">
                <label style="color: #000000;font-size: medium" for="Customer">Year:</label>
            <el-date-picker
                  v-model="selectedYear3"
                  id="selectedYear3"
                  type="year"
                  ref="selectedYear3"
                  value-format="yyyy"
                  placeholder="选择年">
            </el-date-picker>
          </div>
                </template>
            </div>
    <div class="col-md-1">
        <el-button :loading="elbuttonloading5" size="small" style="background:#428bca;color:#fff;margin-top: 5px" value="Search" name="Search" @click="SEARCH3">Search</el-button>
    </div>

    </div>
<p class="selectItem" v-cloak  v-if="showCustomer1" style="color: #000000;font-size: medium;">當前表格信息：${ showCustomer1 }/${ showYear3 }</p>
          <!--柱状图-->
          <div class="container-echart1"  v-cloak>
              <div class="Quatity" id="main4" style="height:400px;"></div>
          </div>
          <template v-cloak>
              <el-table  border  :data="tableData3" style="width: 100%;" id="out-table1"
              v-loading="tableloading3"
            element-loading-text="數據更新中，請稍後"
            border>
                <el-table-column prop="Project" label="Project" align="center" width="200"></el-table-column>
                <el-table-column prop="Pass" label="Pass" align="center" width="200" ></el-table-column>
                <el-table-column prop="Fail" label="Fail" align="center" width="200" ></el-table-column>
                <el-table-column prop="Ongoing" label="Ongoing" align="center" width="200" ></el-table-column>
                <el-table-column prop="Planning" label="Planning" align="center" width="200"></el-table-column>
                <el-table-column prop="Total" label="Total" align="center"></el-table-column>
              </el-table>
          </template>


{#       <div class="container-echart1"  v-show="this.condition == 'C38(NB)'" v-cloak>#}
{#           <div class="Quatity" id="main5" style="height:400px;"></div>#}
{#       </div>#}

    </el-collapse-item>

  <el-collapse-item name="4">
      <template slot="title">
          <h5>INV Distributed By Category</h5>
      </template>

    <div class="row">
        <div style="margin-left: 20px;margin-top: 12px" >
           <label style="color: #000000;font-size: medium" for="Customer">Year:</label>
        </div>
        <div class="col-md-2" style="margin-left: 2px">
            <el-date-picker
                  v-model="selectedYear4"
                  id="selectedYear4"
                  type="year"
                  ref="selectedYear4"
                  value-format="yyyy"
                  placeholder="选择年">
            </el-date-picker>
        </div>

          <div class="col-md-1" style="margin-left: 50px;margin-top: 5px">
                <el-button :loading="elbuttonloading4" size="small" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="SEARCH4">Search</el-button>
          </div>

     </div>
     <p class="selectItem" v-cloak  v-if="showYear4" style="color: #000000;font-size: medium;">當前表格信息：${ showYear4 }年</p>
          <!--柱状图-->
          <div class="container-echart1" style="float: right" v-cloak>
              <div class="Quatity" id="main6" style="height:400px;"></div>
          </div>
          <template v-cloak>
              <el-table  border  :data="tableData4" style="width: 100%;" id="out-table1"
              v-loading="tableloading4"
            element-loading-text="數據更新中，請稍後"
            border>
                <el-table-column prop="KeyPart" label="TP Category" align="center" width="120"></el-table-column>
                <el-table-column prop="Pass" label="Pass" align="center" width="120" ></el-table-column>
                <el-table-column prop="Fail" label="Fail" align="center" width="120" ></el-table-column>
                <el-table-column prop="Ongoing" label="Ongoing" align="center" width="120" ></el-table-column>
                <el-table-column prop="Planning" label="Planning" align="center" width="120"></el-table-column>
                <el-table-column prop="Total" label="Total" align="center"></el-table-column>
              </el-table>
          </template>


    </el-collapse-item>

  <el-collapse-item name="5">
      <template slot="title">
          <h5>INV Distributed By Project By Month</h5>
      </template>

    <div class="row" style="white-space: nowrap;margin-top: 2px">
        <div class="col-md-2">
            <label style="color: #000000;font-size: medium" for="Customer">Customer:</label>
                  <select id="Customer2" ref="Customer2"   v-model="selectedCustomer2" style="height:30px;width:90px;border-radius:5px 5px 5px 5px;margin-top: 2px">
                           <option value=""> </option>
                           <option v-for="(item,key,index) in selectItem" >${ item }</option>
                  </select>
            <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
        </div>
         <div class="col-md-3">
            <template>
            <div class="block">
                <label style="color: #000000;font-size: medium" for="Customer">Year:</label>
                <el-date-picker
                      v-model="selectedYear5"
                      id="selectedYear5"
                      type="year"
                      ref="selectedYear5"
                      value-format="yyyy"
                      placeholder="选择年">
                </el-date-picker>
            </div>
                </template>
         </div>
    <div class="col-md-1">
        <el-button size="small" :loading="elbuttonloading5" style="background:#428bca;color:#fff;margin-top: 5px;margin-left: 10px" value="Search" name="Search" @click="SEARCH5">Search</el-button>
    </div>

    </div>
      <p class="selectItem" v-cloak  v-if="showCustomer2" style="color: #000000;font-size: medium;">當前表格信息：${ showCustomer2 }/${ showYear5 }</p>
          <template v-cloak>
              <el-table  border  :data="tableData5" style="width: 100%" id="out-table1"
              v-loading="tableloading5"
            element-loading-text="數據更新中，請稍後"
            border>
                <el-table-column prop="Project" label="Project" align="center" width="120"></el-table-column>
                <el-table-column prop="Jan" label="Jan" align="center" width="80" ></el-table-column>
                <el-table-column prop="Feb" label="Feb" align="center" width="80" ></el-table-column>
                <el-table-column prop="Mar" label="Mar" align="center" width="80" ></el-table-column>
                <el-table-column prop="Apr" label="Apr" align="center" width="80"></el-table-column>
                <el-table-column prop="May" label="May" align="center" width="80"></el-table-column>
                <el-table-column prop="Jun" label="Jun" align="center" width="80"></el-table-column>
                <el-table-column prop="Jul" label="Jul" align="center" width="80"></el-table-column>
                <el-table-column prop="Aug" label="Aug" align="center" width="80"></el-table-column>
                <el-table-column prop="Sep" label="Sep" align="center" width="80"></el-table-column>
                <el-table-column prop="Oct" label="Oct" align="center" width="80"></el-table-column>
                <el-table-column prop="Nov" label="Nov" align="center" width="80"></el-table-column>
                <el-table-column prop="Dec" label="Dec" align="center" width="80"></el-table-column>
                <el-table-column prop="By_Project_Total_Qty" label="By_Project_Total_Qty" align="center" ></el-table-column>
              </el-table>
          </template>

    </el-collapse-item>

</el-collapse>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/echart/echart.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                Sum:{},
                tableData1: [],
                tableData2: [],
                tableData3: [],
                tableData4: [],
                tableData5: [],
                selectItem: [],
                selectedYear: '',
                selectedYear1: '',
                selectedYear2: '',
                selectedYear3: '',
                selectedYear4: '',
                selectedYear5: '',
                selectedCustomer: null,
                selectedCustomer1: null,
                selectedCustomer2: null,
                showCustomer: '',
                showCustomer1: '',
                showCustomer2: '',
                showYear: '',
                showYear1: '',
                showYear2: '',
                showYear3: '',
                showYear4: '',
                showYear5: '',
                customerError:false,
                title: [],
                settable:false,
                Top10:[],
                activeName: ['1','2','3','4','5'],
                coloroder:{'Pass': "#589800", 'Fail': "#FF0000", 'Ongoing': "#FFFF00", 'Planning': "#FFFFFF"},
                condition:null,
                elbuttonloading1: false,
                tableloading1: false,
                elbuttonloading2: false,
                tableloading2: false,
                elbuttonloading3: false,
                tableloading3: false,
                elbuttonloading4: false,
                tableloading4: false,
                elbuttonloading5: false,
                tableloading5: false,
            }
        },
        mounted() {        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
            {#stateFormat(row, column, cellValue) {#}
            {#    cellValue += '';#}
            {#    if (!cellValue.includes('.')) cellValue += '.';#}
            {#    return cellValue.replace(/(\d)(?=(\d{3})+\.)/g, function ($0, $1) {#}
            {#       return $1 + ',';#}
            {#    }).replace(/\.$/, '');#}
            {#     },#}

            handleChange(val) {
                console.log(val);
            },

            getdata: function (e) {
                this.elbuttonloading1 = true;
                this.tableloading1 = true;
                this.elbuttonloading2 = true;
                this.tableloading2 = true;
                this.elbuttonloading3 = true;
                this.tableloading3 = true;
                this.elbuttonloading4 = true;
                this.tableloading4 = true;
                this.elbuttonloading5 = true;
                this.tableloading5 = true;
                var myChart3 = echarts.init(document.getElementById('main2'));
                myChart3.showLoading() // 在获取数据之前, 显示加载动画
                var myChart4 = echarts.init(document.getElementById('main3'));
                myChart4.showLoading() // 在获取数据之前, 显示加载动画
                var myChart5 = echarts.init(document.getElementById('main4'));
                myChart5.showLoading() // 在获取数据之前, 显示加载动画
                var myChart6 = echarts.init(document.getElementById('main6'));
                myChart6.showLoading() // 在获取数据之前, 显示加载动画
                let data = {"isGetData": e,};
                axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                    }
                }).then((res) => {
                    this.selectItem = res.data.select;
                    this.tableData1 = res.data['content1'];
                    this.tableData2 = res.data['content2'];
                    this.tableData3 = res.data['content3'];
                    this.tableData4 = res.data['content4'];
                    this.tableData5 = res.data['content5'];
                    {#this.Top10 = res.data['Top10'];#}
                    this.INV_data = res.data['INV_data'];
                    this.INV_Customer = res.data['INV_Customer'];
                    this.INV_Month = res.data['INV_Month'];
                    this.INV_Project = res.data['INV_Project'];
                    {#this.AIO_Project = res.data['AIO_Project'];#}
                    this.INV_Category = res.data['INV_Category'];

                    this.settable = false;
                    //1
                    var INV_Customer_label = [];
                    for (var i = 0; i < this.INV_Customer.length; i++) {
                        var getINV_Customer_label = this.INV_Customer[i].name;
                        INV_Customer_label.push(getINV_Customer_label);
                    }
                    //2
                    var INV_Month_label = [];
                    for (var i = 0; i < this.INV_Month.length; i++) {
                        var getINV_Month_label = this.INV_Month[i].name;
                        INV_Month_label.push(getINV_Month_label);
                    }

                    var INV_Project_label = [];
                    for (var i = 0; i < this.INV_Project.length; i++) {
                        var getINV_Project_label = this.INV_Project[i].name;
                        INV_Project_label.push(getINV_Project_label);
                    }

                    var INV_Category_label = [];
                    for (var i = 0; i < this.INV_Category.length; i++) {
                        var getINV_Category_label = this.INV_Category[i].name;
                        INV_Category_label.push(getINV_Category_label);
                    }


                    // 指定图表的配置项和数据
                    var option3 = {
                        color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                        title: {
                            text: 'By Customer',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Customer_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.Customer_key,//['A39','C38N','C38A']
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Customer
                    };
                    {#var myChart3 = echarts.init(document.getElementById('main2'));#}

                    var option4 = {
                        color: ['#589800', '#1E90FF', "#FF8C00"],
                        title: {
                            text: 'By Customer',
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                            textStyle: {
                                fontSize: 20
                            }

                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Month_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.Month_key,//['Jan','Feb','Mar','Apr','May','Jun'],
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Month
                    };
                    {#var myChart4 = echarts.init(document.getElementById('main3'));#}

                    var option5 = {
                        color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                        title: {
                            text: 'INV By Project',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Project_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.INV_Project_key,//['DLMVA','ELMV2','ELIC1','ELAV4V5','ELMEA','EL531','EL4C2', 'EL452','EL432532','FLPR5R7','FLZ04','EL4C4'],
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Project
                    };
                    {#var myChart5 = echarts.init(document.getElementById('main4'));#}

                            var option6 = {
                                color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                                title: {
                                    text: 'By Category',
                                    textStyle: {
                                        fontSize: 20,
                                    },
                                    x: 'center',
                                    y: 'top',
                                    textAlign: 'left',
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                    },
                                    textAlign: 'left',
                                },
                                legend: {
                                    left: 'center',
                                    top: 'bottom',
                                    data: INV_Category_label,
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        data: this.INV_data.Category_key,//['A39','C38N','C38A']
                                        axisLabel: {//坐标轴刻度标签的相关设置。
                                            interval: 0,
                                            rotate: "45"
                                        },
                                        axisTick: {
                                            alignWithLabel: true
                                        }
                                    }

                                ],
                                yAxis: [
                                    {
                                        type: 'value'
                                    }
                                ],
                                series: this.INV_Category
                            };
                            {#var myChart6 = echarts.init(document.getElementById('main6'));#}

                            // 使用刚指定的配置项和数据显示图表。
                            myChart3.setOption(option3, true);
                            {#var selectArr = myChart3.getOption().legend[0].data;#}

                            myChart4.setOption(option4, true);
                            {#var selectArr = myChart4.getOption().legend[0].data;#}

                            myChart5.setOption(option5, true);

                            {#myChart6.setOption(option6, true);#}

                            myChart6.setOption(option6, true);

                            window.addEventListener('resize', () => {
                                myChart3.resize();
                                myChart4.resize();
                                myChart5.resize();
                                myChart6.resize();
                                {#myChart7.resize();#}

                            })
                    this.elbuttonloading1 = false;
                    this.tableloading1 = false;
                    this.elbuttonloading2 = false;
                    this.tableloading2 = false;
                    this.elbuttonloading3 = false;
                    this.tableloading3 = false;
                    this.elbuttonloading4 = false;
                    this.tableloading4 = false;
                    this.elbuttonloading5 = false;
                    this.tableloading5 = false;
                    myChart3.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    myChart4.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    myChart5.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    myChart6.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                });
            },

            SEARCH1: function () {
                    this.elbuttonloading1 = true;
                    this.tableloading1 = true;
                    var myChart3 = echarts.init(document.getElementById('main2'));
                    myChart3.showLoading() // 在获取数据之前, 显示加载动画
                    let Date = this.$refs.selectedYear1.value;
                    let data = {
                        "isGetData": "SEARCH1",
                        "Date": Date,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res)=>{
                        this.showYear1 = Date;
                        this.tableData1 = res.data['content1'];
                    {#this.Top10 = res.data['Top10'];#}
                    this.INV_data = res.data['INV_data'];
                    this.INV_Customer = res.data['INV_Customer'];

                    this.settable = false;
                    //1
                    var INV_Customer_label = [];
                    for (var i = 0; i < this.INV_Customer.length; i++) {
                        var getINV_Customer_label = this.INV_Customer[i].name;
                        INV_Customer_label.push(getINV_Customer_label);
                    }


                    // 指定图表的配置项和数据
                    var option3 = {
                        color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                        title: {
                            text: 'By Customer',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Customer_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.Customer_key,//['A39','C38N','C38A']
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Customer
                    };



                            // 使用刚指定的配置项和数据显示图表。
                            myChart3.setOption(option3, true);
                            {#var selectArr = myChart3.getOption().legend[0].data;#}



                            window.addEventListener('resize', () => {
                                myChart3.resize();
                                {#myChart7.resize();#}

                            })
                        this.elbuttonloading1 = false;
                        this.tableloading1 = false;
                        myChart3.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    })
                    this.settable = true;
            },

            SEARCH2: function () {
                    this.elbuttonloading2 = true;
                    this.tableloading2 = true;
                    var myChart4 = echarts.init(document.getElementById('main3'));
                    myChart4.showLoading() // 在获取数据之前, 显示加载动画
                    let Date = this.$refs.selectedYear2.value;
                    let data = {
                        "isGetData": "SEARCH2",
                        "Date": Date,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res)=>{
                        this.showYear2 = Date;
                    this.selectItem = res.data.select;
                    this.tableData2 = res.data['content2'];

                    {#this.Top10 = res.data['Top10'];#}
                    this.INV_data = res.data['INV_data'];

                    this.INV_Month = res.data['INV_Month'];

                    this.settable = false;
                    //1

                    var INV_Month_label = [];
                    for (var i = 0; i < this.INV_Month.length; i++) {
                        var getINV_Month_label = this.INV_Month[i].name;
                        INV_Month_label.push(getINV_Month_label);
                    }

                    // 指定图表的配置项和数据

                    var option4 = {
                        color: ['#589800', '#1E90FF', "#FF8C00", "#FE2E64"],
                        title: {
                            text: 'By Customer',
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                            textStyle: {
                                fontSize: 20
                            }

                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Month_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.Month_key,//['Jan','Feb','Mar','Apr','May','Jun'],
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Month
                    };
                    {#var myChart4 = echarts.init(document.getElementById('main3'));#}

                            // 使用刚指定的配置项和数据显示图表。


                            myChart4.setOption(option4, true);
                            {#var selectArr = myChart4.getOption().legend[0].data;#}

                            window.addEventListener('resize', () => {

                                myChart4.resize();

                                {#myChart7.resize();#}

                            })

                        this.elbuttonloading2 = false;
                        this.tableloading2 = false;
                        myChart4.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    })
                    this.settable = true;
            },

            SEARCH3: function () {
                if (this.$refs.Customer1.value == '') {
                    this.customerError = true;
                    return false;
                } else {
                    this.elbuttonloading3 = true;
                    this.tableloading3 = true;
                    var myChart5 = echarts.init(document.getElementById('main4'));
                    myChart5.showLoading() // 在获取数据之前, 显示加载动画
                    this.customerError = false;
                    let Customer = this.$refs.Customer1.value;
                    let Date = this.$refs.selectedYear3.value;
                    let data = {
                        "isGetData": "SEARCH3",
                        "Customer": Customer,
                        "Date": Date,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res)=>{
                        this.condition = Customer;
                        this.showCustomer1 = this.selectedCustomer1;
                        this.showYear3 = Date;

                    this.tableData3 = res.data['content3'];

                    {#this.Top10 = res.data['Top10'];#}
                    this.INV_data = res.data['INV_data'];

                    this.INV_Project = res.data['INV_Project'];
                    //console.log(this.INV_data, this.INV_Project);
                    this.settable = false;

                    var INV_Project_label = [];
                    for (var i = 0; i < this.INV_Project.length; i++) {
                        var getINV_Project_label = this.INV_Project[i].name;
                        INV_Project_label.push(getINV_Project_label);
                    }

                    // 指定图表的配置项和数据

                    var option5 = {
                        color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                        title: {
                            text: 'INV By Project',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: INV_Project_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.INV_data.INV_Project_key,//['DLMVA','ELMV2','ELIC1','ELAV4V5','ELMEA','EL531','EL4C2', 'EL452','EL432532','FLPR5R7','FLZ04','EL4C4'],
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.INV_Project
                    };
                    {#var myChart5 = echarts.init(document.getElementById('main4'));#}


                            // 使用刚指定的配置项和数据显示图表。

                            myChart5.setOption(option5, true);

                            {#myChart6.setOption(option6, true);#}

                            window.addEventListener('resize', () => {

                                myChart5.resize();

                                {#myChart7.resize();#}

                            })
                        this.elbuttonloading3 = false;
                        this.tableloading3 = false;
                        myChart5.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    })
                    this.settable = true;
                }
            },

            SEARCH4: function () {
                    this.elbuttonloading4 = true;
                    this.tableloading4 = true;
                    var myChart6 = echarts.init(document.getElementById('main6'));
                    myChart6.showLoading() // 在获取数据之前, 显示加载动画
                    let Date = this.$refs.selectedYear4.value;
                    let data = {
                        "isGetData": "SEARCH4",
                        "Date": Date,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res)=>{
                        this.showYear4 = Date;

                    this.tableData4 = res.data['content4'];

                    {#this.Top10 = res.data['Top10'];#}
                    this.INV_data = res.data['INV_data'];

                    {#this.AIO_Project = res.data['AIO_Project'];#}
                    this.INV_Category = res.data['INV_Category'];

                    this.settable = false;
                    //1


                    var INV_Category_label = [];
                    for (var i = 0; i < this.INV_Category.length; i++) {
                        var getINV_Category_label = this.INV_Category[i].name;
                        INV_Category_label.push(getINV_Category_label);
                    }


                    // 指定图表的配置项和数据

                            var option6 = {
                                color: ['#589800', '#FF0000', "#FFFF00", "#00FFFF"],
                                title: {
                                    text: 'By Category',
                                    textStyle: {
                                        fontSize: 20,
                                    },
                                    x: 'center',
                                    y: 'top',
                                    textAlign: 'left',
                                },
                                tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                    },
                                    textAlign: 'left',
                                },
                                legend: {
                                    left: 'center',
                                    top: 'bottom',
                                    data: INV_Category_label,
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: [
                                    {
                                        type: 'category',
                                        data: this.INV_data.Category_key,//['A39','C38N','C38A']
                                        axisLabel: {//坐标轴刻度标签的相关设置。
                                            interval: 0,
                                            rotate: "45"
                                        },
                                        axisTick: {
                                            alignWithLabel: true
                                        }
                                    }

                                ],
                                yAxis: [
                                    {
                                        type: 'value'
                                    }
                                ],
                                series: this.INV_Category
                            };
                            {#var myChart6 = echarts.init(document.getElementById('main6'));#}

                            // 使用刚指定的配置项和数据显示图表。

                            myChart6.setOption(option6, true);

                            window.addEventListener('resize', () => {

                                myChart6.resize();
                                {#myChart7.resize();#}

                            })
                        this.elbuttonloading4 = false;
                        this.tableloading4 = false;
                        myChart6.hideLoading() // 当服务器数据获取成功之后, 隐藏加载动画
                    })
                    this.settable = true;
            },

            SEARCH5: function () {
                if (this.$refs.Customer2.value == '') {
                    this.customerError = true;
                    return false;
                } else {
                    this.elbuttonloading5 = true;
                    this.tableloading5 = true;
                    this.customerError = false;
                    let Customer = this.$refs.Customer2.value;
                    let Date = this.$refs.selectedYear5.value;
                    let data = {
                        "isGetData": "SEARCH5",
                        "Customer": Customer,
                        "Date": Date,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/INVGantt/INVGantt-summary/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res)=>{
                        this.condition = Customer;
                        this.showCustomer2 = this.selectedCustomer2;
                        this.showYear5 = Date;

                    this.tableData5 = res.data['content5'];
                    {#this.Top10 = res.data['Top10'];#}

                    this.settable = false;
                    this.elbuttonloading5 = false;
                        this.tableloading5 = false;
                    })
                    this.settable = true;
                }
            },

        }
    })
 </script>
{% endblock %}

