{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Summary_加班請假{% endblock %}
{% block css %}
 <link rel="stylesheet" href="/static/css/index.css">
    <style>
    .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 70%;
    margin: 10px auto 5px;
    position: relative;
}
   .showDataArea{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    margin: 20px 0 20px 0;
    width: 100%;

}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 160px;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.container-echart{
   text-align: center;
   width: 100%;
   background-color: #F5F7FA;
   padding: 5px;
   border: 1px solid #fff5d4;
}


.showDataArea #main {

}

.container{
   background-color: #409EFF;

}


 .Quatity {
    height: 500px;
    width: 100%;
    vertical-align: middle;
}

 .dashboard {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
     flex-wrap: nowrap;
}
.dashboard #myChart1 {
    height: 100%;
    width: 50%;
}
.dashboard #myChart2 {
    height: 100%;
    width: 50%;
}
    .el-button--mini, .el-b utton--mini.is-round {
    padding: 1px 5px;
}
    .el-collapse-item__header{

        background-image: linear-gradient(to right, rgba(0,139,139,0), rgba(0,139,139,1));
        {#background-image: linear-gradient(to right, rgba(70,130,180,0), rgba(70,130,180,1));#}
    }
    </style>
{% endblock %}
{% block content %}
<div id="app">
        {% csrf_token %}
{##}
{#      <template slot="title" >#}
{#         <h5 style="color:#333;fontFamily:MicrosoftYaHeiUI;fontSize:18px;fontWeight:900">加班</h5>#}
{#      </template>#}

    <div class="row" style="white-space: nowrap;">
{#        <div class="col-md-2" style="margin-top: 2px">#}
{#            <label style="color: #ffffff;font-size: medium" for="Department_Code">部門代碼</label>#}
{#                  <select id="Department_Code" ref="Department_Code"   v-model="selectedDepartment" style="height:30px;width:120px;border-radius:5px 5px 5px 5px;margin-top: 2px">#}
{#                           <option value="All">All</option>#}
{#                           <option v-for="(item,key,index) in selectItem" >${ item }</option>#}
{#                  </select>#}
{#        </div>#}
         <div class="col-md-3" style="margin-top: 2px">
            <template>
             <div class="block">
                <label style="color: #ffffff;font-size: medium;" for="Year">年份</label>
            <el-date-picker
                  v-model="selectedYear1"
                  id="selectedYear1"
                  type="year"
                  size="small"
                  ref="selectedYear1"
                  value-format="yyyy"
                  placeholder="选择年">
            </el-date-picker>
            </div>
            </template>
             <div class="inputError" v-cloak v-show="customerError">年份未選擇</div>
         </div>
    <div class="col-md-1">
        <el-button size="small" style="background:#428bca;color:#fff;margin-top: 5px" :loading="elbuttonloading" value="Search" name="Search" @click="SEARCH1">Search</el-button>
    </div>

    </div>
       <p class="selectItem" v-cloak  v-if="showCustomer1" style="color: #000000;font-size: medium;">當前表格信息：${ showCustomer1 }/${ showYear1 }</p>
        <template v-cloak>
          <el-table stripe border  :data="tableData1" style="width: 100%;" :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900}" id="out-table1" >
            <el-table-column prop="Department" label="部門名稱 --> (人均加班時數)" align="center" width="120"></el-table-column>
            <el-table-column prop="QM" label="QM" align="center" width="80"></el-table-column>
{#            <el-table-column prop="IDL_Sum" label="IDL 人數 (扣除課/理級主管/產假人員/作業人員)" align="center" width="120"></el-table-column>#}
            <el-table-column prop="IDL_Sum" label="IDL 人數 " align="center" width="120"></el-table-column>
            <el-table-column prop="Jan" label="Jan" align="center" width="80"></el-table-column>
            <el-table-column prop="Feb" label="Feb" align="center"  width="80"></el-table-column>
            <el-table-column prop="Mar" label="Mar" align="center" width="80"></el-table-column>
            <el-table-column prop="Apr" label="Apr" align="center" width="80"></el-table-column>
            <el-table-column prop="May" label="May" align="center" width="80"></el-table-column>
            <el-table-column prop="Jun" label="Jun" align="center" width="80"></el-table-column>
            <el-table-column prop="Jul" label="Jul" align="center" width="80"></el-table-column>
            <el-table-column prop="Aug" label="Aug" align="center" width="80"></el-table-column>
            <el-table-column prop="Sep" label="Sep" align="center" width="80"></el-table-column>
            <el-table-column prop="Oct" label="Oct" align="center" width="80"></el-table-column>
            <el-table-column prop="Nov" label="Nov" align="center" width="80"></el-table-column>
            <el-table-column prop="Dec" label="Dec" align="center" width="80"></el-table-column>
            <el-table-column prop="Year_Sum" label="Year Sum" align="center" width="100"></el-table-column>
            <el-table-column prop="Year_Average" label="Year Average" align="center" ></el-table-column>
          </el-table>
         </template>
<hr>
      <!--柱状图1-->
      <div  class="container-echart"  v-cloak>
          <div class="Quatity" id="main2" style="height:500px;"></div>
      </div>
      <hr>
      {% comment %}<div class="row" style="white-space: nowrap;">
         <div class="col-md-3">
            <template>
                <div class="block">
                    <label style="color: #ffffff;font-size: medium" for="Year">月份</label>
                        <el-date-picker
                              v-model="selectedMonth1"
                              id="selectedMonth1"
                              type="month"
                              ref="selectedMonth1"
                              value-format="yyyy-MM"
                              placeholder="选择月">
                        </el-date-picker>
                </div>
            </template>
             <div class="inputError" v-cloak v-show="customerError">月份未選擇</div>
            </div>
              <div class="col-md-1">
        <el-button size="small" style="background:#428bca;color:#fff;margin-top: 5px" value="Search" name="Search" @click="SEARCH2">Search</el-button>
    </div>
      </div>
      <!--柱状图2-->
      <div  class="container-echart" id="echarts1" v-cloak>
          <div class="Quatity" id="main3" style="height:450px;"></div>
      </div>{% endcomment %}

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>a
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/echart/echart.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                Sum:{},
                tableData1: [],
                tableData2: [],
                selectItem: [],
                selectedYear: '',
                selectedYear1: '',
                selectedYear2: '',
                selectedYear3: '',
                selectedYear4: '',
                selectedMonth1: '',
                selectedDepartment: null,
                selectedDepartment1: null,
                selectNumber: null,
                selectedCustomer1: null,
                selectedCustomer2: null,
                showCustomer: '',
                showCustomer1: '',
                showCustomer2: '',
                showYear: '',
                showYear1: '',
                showYear2: '',
                showYear3: '',
                showYear4: '',
                systemTime: '',
                customerError:false,
                title: [],
                Top10:[],
                condition:null,
                elbuttonloading: false,
            }
        },
        mounted() {        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
            this.addDate();
       },
        methods: {


            handleChange(val) {
                console.log(val);
            },


            addDate () {
                let nowDate = new Date();
                let date = nowDate.getFullYear();
                this.systemTime = date;
            },

            getdata: function (e) {
                let data = {"isGetData": e,};
                axios.post("/PersonalInfo/Summary1/", Qs.stringify(data), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8',
                        'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                    }
                }).then((res) => {
                    this.selectItem = res.data.select;
                    this.tableData1 = res.data['content1'];
                    this.tableData2 = res.data['content2'];
                    this.Summary = res.data['Summary'];
                    this.Month = res.data['Month'];
                    this.Month_Singal = res.data['Month_Singal'];
                    this.Test_Status = res.data['Test_Status'];
                    //1
                    var Month_label = [];
                    for (var i = 0; i < this.Month.length; i++) {
                        var getMonth_label = this.Month[i].name;
                        Month_label.push(getMonth_label);
                    }

                    var Month_Singal_label = [];
                    for (var i = 0; i < this.Month_Singal.length; i++) {
                        var getMonth_Singal_label = this.Month_Singal[i].name;
                        Month_Singal_label.push(getMonth_Singal_label);
                    }


                    // 指定图表的配置项和数据
                    var option3 = {
                        color: [
                                  "#FFC000", "#E38EFF", "#00FFFF", "#589800",
                                  "#00B0F0", "#9F81F7", "#0066FF", "#663300",
                                  "#00FF00", "#00B0F0", "#BB5500", "#CC00FF"
                               ],
                        title: {
                            text: '有效加班時數',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        toolbox:{//保存圖片
                            feature:{
                                saveAsImage:{}
                            }
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: Month_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.Summary.Department_key,
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.Month
                    };
                    var myChart3 = echarts.init(document.getElementById('main2'));

                    {% comment %}var option4 = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: this.Month_Singal_label
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.Summary.Department_key,
                                axisLabel : {//坐标轴刻度标签的相关设置。
                                interval:0,
                                rotate:"45"
                            },
                                axisPointer: {
                                    type: 'shadow'
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                max: 100,
                                interval: 20,
                                name: '當月加班時數',
                                //axisLabel: {
                                //formatter: '{value} h'
                                //}
                            },
                            {
                                type: 'value',
                                max: 150,
                                interval: 30,
                                name: 'IDL人數',
                                //axisLabel: {
                                //formatter: '{value} 人'
                                //}
                            }
                        ],
                        series: this.Month_Singal,
                    };{% endcomment %}

                    {% comment %}var myChart4 = echarts.init(document.getElementById('main3'));{% endcomment %}

                    // 使用刚指定的配置项和数据显示图表。
                    myChart3.setOption(option3, true);

                    {% comment %}myChart4.setOption(option4, true);{% endcomment %}

                    window.addEventListener('resize', function() {
                            myChart3.resize();
                            {% comment %}myChart4.resize();{% endcomment %}
                         })

                });
            },

            SEARCH1: function () {
                this.elbuttonloading = true;
                if (this.$refs.selectedYear1.value == '') {
                    this.customerError = true;
                    return false;
                }else{
                    this.customerError = false;
                    {#let Department_Code = this.$refs.Department_Code.value;#}
                    let Date = this.$refs.selectedYear1.value;
                    let data = {
                        "isGetData": "SEARCH1",
                        "Date": Date,
                        {#"Department_Code": Department_Code,#}
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/PersonalInfo/Summary1/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res) => {
                    this.selectItem = res.data.select;
                    this.tableData1 = res.data['content1'];
                    this.Summary = res.data['Summary'];
                    this.Month = res.data['Month'];
                    this.Month_Singal = res.data['Month_Singal'];
                    this.Test_Status = res.data['Test_Status'];
                    //1
                    var Month_label = [];
                    for (var i = 0; i < this.Month.length; i++) {
                        var getMonth_label = this.Month[i].name;
                        Month_label.push(getMonth_label);
                    }

                    var Month_Singal_label = [];
                    for (var i = 0; i < this.Month_Singal.length; i++) {
                        var getMonth_Singal_label = this.Month_Singal[i].name;
                        Month_Singal_label.push(getMonth_Singal_label);
                    }
                    var option3 = {
                        color: [
                                 "#FFC000", "#E38EFF", "#00FFFF", "#589800",
                                 "#00B0F0", "#9F81F7", "#0066FF", "#663300",
                                 "#00FF00", "#00B0F0", "#BB5500", "#CC00FF"
                               ],
                        title: {
                            text: '有效加班時數',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        toolbox:{//保存圖片
                            feature:{
                                saveAsImage:{}
                            }
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: Month_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.Summary.Department_key,
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.Month
                    };
                    var myChart3 = echarts.init(document.getElementById('main2'));

                    // 使用刚指定的配置项和数据显示图表。
                    myChart3.setOption(option3, true);

                    {#myChart4.setOption(option4, true);#}

                    window.addEventListener('resize', function() {
                            myChart3.resize();
                            {#myChart4.resize();#}
                         })
                    this.elbuttonloading = false;
                });
            }

            },

            SEARCH2: function () {
                if (this.$refs.selectedMonth1.value == '') {
                    this.customerError = true;
                    return false;
                } else {
                    this.customerError = false;
                    let Month = this.$refs.selectedMonth1.value;
                    let data = {
                        "isGetData": "SEARCH2",
                        "Month": Month,
                        "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                    }
                    axios.post("/PersonalInfo/Summary1/", Qs.stringify(data, {indices: false}), {
                        headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                    }).then((res) => {
                    this.selectItem = res.data.select;
                    //this.tableData1 = res.data['content1'];
                    this.Summary = res.data['Summary'];
                    this.Month = res.data['Month'];
                    this.Month_Singal = res.data['Month_Singal'];
                    this.Test_Status = res.data['Test_Status'];
                    {#this.settable = false;#}

                    //var Month_label = [];
                    //for (var i = 0; i < this.Month.length; i++) {
                    //    var getMonth_label = this.Month[i].name;
                    //    Month_label.push(getMonth_label);
                   // }

                    var Month_Singal_label = [];
                    for (var i = 0; i < this.Month_Singal.length; i++) {
                        var getMonth_Singal_label = this.Month_Singal[i].name;
                        Month_Singal_label.push(getMonth_Singal_label);
                    }
                    {% comment %}
                      var option3 = {
                        color: ['#589800', '#FF0000', '#0080FF', '#B766AD'],
                        title: {
                            text: '有效加班時數',
                            textStyle: {
                                fontSize: 20,
                            },
                            x: 'center',
                            y: 'top',
                            textAlign: 'left',
                        },
                        toolbox:{//保存圖片
                            feature:{
                                saveAsImage:{}
                            }
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            },
                            textAlign: 'left',
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: Month_label,
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.Summary.Department_key,
                                axisLabel: {//坐标轴刻度标签的相关设置。
                                    interval: 0,
                                    rotate: "45"
                                },
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }

                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: this.Month
                    };
                    var myChart3 = echarts.init(document.getElementById('main2'));
                 {% endcomment %}
                    var option4 = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                crossStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        toolbox: {
                            feature: {
                                dataView: {show: true, readOnly: false},
                                magicType: {show: true, type: ['line', 'bar']},
                                restore: {show: true},
                                saveAsImage: {show: true}
                            }
                        },
                        legend: {
                            left: 'center',
                            top: 'bottom',
                            data: this.Month_Singal_label
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: this.Summary.Department_key,
                                axisLabel : {//坐标轴刻度标签的相关设置。
                                interval:0,
                                rotate:"45"
                            },
                                axisPointer: {
                                    type: 'shadow'
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                max: 100,
                                interval: 20,
                                name: '當月加班時數',
                            },
                            {
                                max: 150,
                                interval: 30,
                                type: 'value',
                                name: 'IDL人數',
                            }
                        ],
                        series: this.Month_Singal,
                    };

                    var myChart4 = echarts.init(document.getElementById('main3'));

                    // 使用刚指定的配置项和数据显示图表。
                    //myChart3.setOption(option3, true);

                    myChart4.setOption(option4, true);

                    window.addEventListener('resize', function() {
                           // myChart3.resize();
                            myChart4.resize();
                         })

                });
            }
                    {#this.settable = true;#}
            },

        }
    })
 </script>
{% endblock %}

