{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ProjectInfo_search{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
    <style>
.content{
    width:25px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:60px;
    background-color:#343957;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 24px;
    writing-mode: vertical-lr;
    z-index: 99;
    opacity: 0.9;
}
    #container-yansebiaoshi{
    display:none;
    position: fixed;
    right: 35px;
    top:60px;
    z-index: 99;
    border: 2px solid  #deb887;
}
    .el-pagination__total,.el-pagination__jump{
        color:white;
    }
    .el-table td.is-right, .el-table th.is-right {
    white-space: pre-line;
    text-align: left;
}
    .el-table .cell{
        white-space: pre-line;
    }
    .gutter{
        display:block!important;
        width:17px!important;
    }
    {% comment %}内容过长显示省略号{% endcomment %}
    .oneLine {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    {% comment %}提示框宽度，提示内容换行{% endcomment %}
    .el-tooltip__popper{
    max-width: 400px;
    white-space: pre-line;
    }

      .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
  .inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;

    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}
    #sh {
        font-size:18px;
           font-family:微软雅黑;
        border: 2px solid #9f9ca1;
    }
    #sh::-webkit-input-placeholder{
            color:#2f97a8;
        font-family:微软雅黑;
    }
    #sh::-moz-placeholder{
            color:#2f97a8;
        font-family:微软雅黑;
    }
    #sh:-ms-input-placeholder{
            color:#2f97a8;
        font-family:微软雅黑;
    }
    </style>
{% endblock %}
{% block content %}
<div id="app">
<div class="row" style="white-space: nowrap;">
    <div class="col-md-2">
        <label style="color: #FFF" for="Customer">Customer</label>
           <select id="Customer" ref="Customer"  v-model="selectedCustomer" style="height:30px;width:100px;border-radius:5px 5px 5px 5px;">
               <option value="All">All</option>
               <option v-for="(item,index) in selectItem" >${ item }</option>
           </select>
        <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
    </div>
    <div class="col-md-2">
        <label style="color: #FFF" for="Year">Year</label>
           <select id="Year" ref="Year"  @change="changeYear" v-model="selectedYear " style="height:30px;border-radius:5px 5px 5px 5px;width:100px;">
               <option value="All">All</option>
               <option v-for="(item,key,index) in selectYear">${ key }</option>
           </select>
        <div class="inputError" v-cloak v-show="yearError">年份未選擇</div>
    </div>
    <div class="col-md-2">
        <label style="color: #FFF" for="ProjectCode">ProjectCode</label>
           <select id="ProjectCode" ref="ProjectCode"  v-model="selectedProjectCode" style="height:30px;border-radius:5px 5px 5px 5px;width:100px;">
               <option value="All">All</option>
               <option v-for="(item,key,index) in selectProjectCode">${ item.ProjectCode }</option>
           </select>
    </div>

    <div class="col-md-1">
        <el-button size="small" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="selectMsg">Search</el-button>
    </div>
    <div class="col-md-3">
        <el-button size="small" @click="exportExcel" type="info" >Export</el-button>
    </div>
    <div class="col-md-1">
        <el-button type="success" :plain="true" @click="Import">同步DCT专案信息</el-button>
    </div>

</div>
<template>
<el-input type="text" v-model="search"  id="sh" placeholder="关键字搜索......"></el-input>
   <el-table id="out-table" border stripe height="750" @sort-change='sortChange' :default-sort = "{prop: 'Customer', order: 'ascending'}" :data="datas_computed.slice((currentPage-1)*pageSize,currentPage*pageSize)" tooltip-effect="dark" style="width: 100%">
        <el-table-column type="index" :index="indexMethod" fixed></el-table-column>
        <el-table-column prop="Customer" label="CUSTOMER" align="center" width="120" sortable='custom' ></el-table-column>
        <el-table-column prop="Year" label="YEAR" align="center" sortable='custom' width="120"></el-table-column>
        <el-table-column prop="Comprjcode" label="COMPRJCODE" align="center" width="120" sortable='custom' ></el-table-column>
        <el-table-column prop="Prjengcode1" label="PRJENGCODE1" width="120" align="center" sortable='custom' ></el-table-column>
        <el-table-column prop="Prjengcode2" label="PRJENGCODE2" width="120" align="center" sortable='custom' ></el-table-column>
        <el-table-column prop="Mkt_Code" label="MKT CODE" width="120" align="center" sortable='custom'></el-table-column>
        <el-table-column prop="Size" label="SIZE" width="80"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="CPU" label="CPU" width="100" align="center" sortable='custom'></el-table-column>
        <el-table-column prop="Platform" label="PLATFORM" width="120" align="center" sortable='custom'></el-table-column>
        <el-table-column prop="VGA" label="VGA" width="80" align="center" sortable='custom'></el-table-column>
        <el-table-column prop="OS_Support" label="OS SUPPORT" width="120"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="SS" label="SS" width="120"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="LD" label="LD" width="110"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="DQA_PL" label="DQA PL" width="110"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="Type" label="TYPE" width="110"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="PPA" label="PPA" width="110"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="PQE" label="PQE" width="110"  align="center" sortable='custom'></el-table-column>
        <el-table-column prop="Modified_Date" label="MODIFIED DATE" width="130" align="center" sortable='custom'></el-table-column>
   </el-table>
    <div class="block">
    <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 50, 100, 200]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="total_computed">
    </el-pagination>
  </div>
</template>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script type="text/babel">
$(document).ready(function() {
    $("#yincang").click(function () {
        $("#container-yansebiaoshi").toggle();
    });
    $("body").click(function (e) {
    if (!$(e.target).closest("#yincang").length) {
        $("#container-yansebiaoshi").hide();
    }
    });
})
new Vue({
    el:'#app',
    delimiters: ['${', '}'],
    data: function () {
            return {
                visible:false,
                tableContent:[],
                selectedCustomer:null,
                selectedYear:null,
                selectYear:{},
                selectedProjectCode:null,
                selectProjectCode:[],
                selectProject:[],
                selectItem:[],
                selectId:null,
                result:{},
                choose:false,
                currentPage: 1,//默认显示第一页
                pageSize:100,//默认每页显示100条
                totalNum: null,
                search:'',
                Totalsize:null,
                customerError:false,
                yearError:false,

            }
        },
    mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
        sortChange: function(column){
            this.currentPage = 1 // return to the first page after sorting
                if (column.prop === 'Customer') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                } else if (column.prop === 'Year') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Comprjcode') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Prjengcode1') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Prjengcode2') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Mkt_Code') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Size') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'CPU') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Platform') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'VGA') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'OS_Support') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'SS') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'LD') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'DQA_PL') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'Type') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'PPA') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    console.log(this.dataList);
                }else if (column.prop === 'PQE') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    {#console.log(this.dataList);#}
                }else if (column.prop === 'Modified_Date') {
                    this.dataList = this.tableContent.sort(this.sortFun(column.prop, column.order === 'ascending'));
                    {#console.log(this.dataList);#}
                }
                    this.showed_data = this.tableContent.slice(0, this.pageSize);// 排序完显示到第一页
                    {#console.log('Finished');#}
                    {#console.log(this.showed_data);#}

        },
        Import() {
                  const h = this.$createElement;
                  axios.get("/ProjectInfoSearch/?action=first" ,{
                    headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                        }).then((res) => {
                            {#console.log(res.data)#}
                            if (res.data.result === 1){
                                this.tableContent = res.data.content;
                                this.selectItem = res.data.select;
                                this.totalNum=this.tableContent.length;
                                this.selectYear = res.data.addselect;
                                this.$message({
                                      message: h('p', null, [
                                          h('span', null, '同步成功 '),
                                          h('i', {style: 'color: teal'}, '如还没有专案信息，请检查DCT是否有录入该专案或录入DDIS的专案名是否与DCT的同名')
                                      ]),
                                      type: 'success'
                                  })
                            }
                            else{
                                this.$message({
                                      message: h('p', null, [
                                          h('span', null, '同步失败 '),
                                          h('i', {style: 'color: teal'}, '可能是无法连接到DCT服务器')
                                      ]),
                                      type: 'warning'
                                  })
                                }
                        })
              },
           handleSelect(item) {
                console.log(item);
              },
            //排序方法
           sortFun: function(attr, rev) {            //第一个参数传入info里的prop表示排的是哪一列，第二个参数是升还是降排序
           if (rev == undefined) {
               rev = 1;
           } else {
               rev = (rev) ? 1 : -1;
           }
                return function (a, b) {
                    a = a[attr];
                    b = b[attr];
                    if (a < b) {
                        return rev * -1;
                    }
                    if (a > b) {
                        return rev * 1;
                    }
                    return 0;
                }
            },


        handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
                this.pageSize = val;
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
          this.currentPage = val;
          console.log(this.tableContent.slice((this.currentPage-1)*this.pageSize,this.currentPage*this.pageSize));
      },
            //获取数据
            getdata: function (e) {
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/ProjectInfoSearch/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.tableContent = res.data.content;
                    this.selectItem = res.data.select;
                    this.totalNum=this.tableContent.length;
                    this.selectYear = res.data.addselect;
                });
            },
            indexMethod(index) {
                    return index +1;
            },
            changeYear:function () {
                 if(this.$refs.Year.value ==""){
                      this.ProjectCode=[""];
                      return false;
                 }
                 this.selectProjectCode=this.selectYear[this.$refs.Year.value];
                 this.selectedProjectCode="";
                 console.log(this.selectProjectCode);
            },
            //上传搜索项：以此选项搜索符合条件的内容
             selectMsg:function(){
               if(this.$refs.Customer.value==''){
                       //alert("客戶別未選擇");
                        this.customerError = true;
                        return false;
               }
               this.customerError = false;
               if(this.$refs.Year.value==''){
                       //alert("客戶別未選擇");
                        this.yearError = true;
                        return false;
               }
               this.yearError = false;
               let Customer = this.$refs.Customer.value;
               let Year = this.$refs.Year.value;
               let ProjectCode = this.$refs.ProjectCode.value;

               let data ={"isGetData":"SEARCH","Customer":Customer,"Year":Year,"ProjectCode":ProjectCode,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/ProjectInfoSearch/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  console.log(res.data.content);
                  this.tableContent=res.data.content.sort(this.sortFun("CompalPN",  'ascending'));//用sort-change方法对分页后台排序时，默认排序列
                  this.selectItem=res.data.select;
                  this.selectYear=res.data.addselect;
                  this.totalNum=this.tableContent.length;
                })
             },
            //導出表格
      exportExcel:function (){
          let temp=[];
         temp.push(Number(this.currentPage));
         temp.push(Number(this.pageSize));
          this.currentPage = 1; //当前页为第一页
          this.pageSize = this.Totalsize; //每页大小限制条数：为总条数（将表格数据全部渲染出来在第一页上）
        this.$nextTick(function () {
               /* 从表生成工作簿对象 */
             let table = document.querySelector("#out-table").cloneNode(true);
             // 因为element-ui的表格的fixed属性导致多出一个table，会下载重复内容，这里删除掉
             table.removeChild(table.querySelector(".el-table__fixed"))
                //let wb = XLSX.utils.table_to_book(table,{raw:true});//mytable为表格的id名
            var wb = XLSX.utils.table_to_book(table,{raw:true});
            /* 获取二进制字符串作为输出 */
            var wbout = XLSX.write(wb, {
                bookType: "xlsx",
                bookSST: true,
                type: "array"
            });
            try {
                saveAs(
                //Blob 对象表示一个不可变、原始数据的类文件对象。
                //Blob 表示的不一定是JavaScript原生格式的数据。
                //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
                //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
                new Blob([wbout], { type: "application/octet-stream" }),
                //设置导出文件名称
                "sheetjs.xlsx"
                );
            } catch (e) {
                if (typeof console !== "undefined") console.log(e, wbout);
            }
            this.currentPage=temp[0];
            this.pageSize=temp[1];//edwin:要想导出后回到当前页而不是第一页，<el-pagination里面的:page-size="100"，而不能是:page-size="pageSize"
            temp=[];
            return wbout;
            });
        },
      test:function (row) {
          console.log("trt");
      },
            ToBreak (val) {

              if(val){

                  return val.replace('\n', '<br />')
              }
            },
        },
        computed:{
                datas_computed(){
                    {#console.log(111);#}
                    const search=this.search;
                    if(search){
                        return this.tableContent.filter(data=>{//axios返回时接受数据的变量
                            return Object.keys(data).some(key=>{
                                return String(data[key]).toLowerCase().indexOf(search.toLowerCase())>-1
                            })
                        })
                    }
                    return this.tableContent//axios返回时接受数据的变量
                },
                total_computed () {
                    this.Totalsize = this.datas_computed.length;//edwin:export数据的个数
                    return this.datas_computed.length//必须是el-table里面绑定的数据变量
                }
            },
        watch: {
                datas_computed() {
                        this.currentPage = 1;
                }
            },

})
</script>
{% endblock %}