{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ToolList_search{% endblock %}
{% block css %}
{#<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">#}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/ElementUI.css">
    <style>
    .gutter{
        display:block!important;
        width:17px!important;
    }
    </style>
{% endblock %}
{% block content %}
<div id="app">
     <div class="row" style="white-space: nowrap;">
                    <div class="col-md-3">
                    <label for="Customer" style="color: #fff;">Customer</label>
           <select id="Customer" ref="Customer"  @change="changeCustomer" v-model="selectedCustomer" style="height:30px;width:100px;border-radius:5px 5px 5px 5px;">
               <option value=""> </option>
               <option v-for="(item,key,index) in selectItem" >${ key }</option>
           </select>
                    </div>
{#                    <div class="col-md-3">#}
{#                        　<label for="Project" style="color: #fff;">Project</label>#}
{#           <select id="Project" ref="Project"  @change="changeProject" v-model="selectedProject" style="height:30px;border-radius:5px 5px 5px 5px;width:100px;">#}
{#               <option></option>#}
{#               <option v-for="(item,key,index) in selectProject">${ item.Project }</option>#}
{#           </select>#}
{#                    </div>#}
{#          <div class="col-md-3">#}
{#                        　　<label for="Phase0 " style="color: #fff;">Phase</label>#}
{#             <select id="Phase0" ref="Phase0"  v-model="selectedPhase0" style="height:30px;border-radius:5px 5px 5px 5px;width:100px;">#}
{#               <option></option>#}
{#               <option v-for="(item,key,index) in selectPhase0">${ item }</option>#}
{#           </select>#}
{#                    </div>#}
                    <div class="col-md-1">
                        <el-button :loading="elbuttonloading" size="small" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="SEARCHALERT();dialogTableVisible = true">Search</el-button>
                    </div>
                    <div class="col-md-1">
                        <el-button size="small" @click="exportExcel" type="info" >Export</el-button>
                    </div>
     </div>
 <el-dialog title="" :visible.sync="dialogTableVisible">
  <el-table height="500" border stripe :default-sort = "{prop: 'YEAR', order: 'descending'}" :data="searchalert" @row-click="clickDetails"
  v-loading="tableloading1"
  element-loading-text="數據更新中，請稍後"
  border>
    <el-table-column property="YEAR" label="YEAR" width="70" sortable></el-table-column>
    <el-table-column property="COMPRJCODE" label="COMPRJCODE" width="120" sortable></el-table-column>
    <el-table-column property="PrjEngCode1" label="PRJENGCODE1" width="110" sortable></el-table-column>
    <el-table-column property="PrjEngCode2" label="PRJENGCODE2" width="110" sortable></el-table-column>
    <el-table-column property="PROJECT" label="MKT CODE" width="200"></el-table-column>
    <el-table-column property="SIZE" label="SIZE" width="70"></el-table-column>
    <el-table-column property="CPU" label="CPU" width="70"></el-table-column>
    <el-table-column property="PLATFORM" label="PLATFORM" width="200"></el-table-column>
    <el-table-column property="VGA" label="VGA" width="110"></el-table-column>
    <el-table-column property="OS SUPPORT" label="OS SUPPORT" width="110"></el-table-column>
    <el-table-column property="SS" label="SS" width="110"></el-table-column>
    <el-table-column property="LD" label="LD" width="110"></el-table-column>
    <el-table-column property="DQA PL" label="DQA PL" width="110"></el-table-column>
    <el-table-column property="TYPE" label="TYPE" width="110"></el-table-column>
    <el-table-column property="PPA" label="PPA" width="110"></el-table-column>
    <el-table-column property="PQE" label="PQE" width="110"></el-table-column>
  </el-table>
</el-dialog>
<template >
   <el-table  stripe border height="700" id="out-table" :default-sort = "{prop: 'Project', order: 'descending'}" ref="multipleTable" :data="tableContent" tooltip-effect="dark" style="width:95%;heighrt:200;" @selection-change="handleSelectionChange"
   v-loading="tableloading2"
  element-loading-text="數據更新中，請稍後"
  border>
    <el-table-column type="index" :index="indexMethod"></el-table-column>
       <el-table-column prop="Project" sortable label="Project" width="200" show-overflow-tooltip></el-table-column>
       <el-table-column prop="Phase" sortable label="Phase" width="100" show-overflow-tooltip></el-table-column>
    <el-table-column prop="ToolName" sortable label="Tool Name" width="200" show-overflow-tooltip></el-table-column>
    <el-table-column prop="TestCase" sortable label="Test Case" width="200"></el-table-column>
    <el-table-column prop="Vendor" sortable label="Vendor" width="200" show-overflow-tooltip></el-table-column>

    <el-table-column prop="Version" sortable label="Version" width="120" align="center" show-overflow-tooltip></el-table-column>
   </el-table>
</template>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                visible: false,
                tableContent: null,
                searchalert: null,
                selectedCustomer:null,
                selectedProject:null,
                selectedPhase0:null,
                selectPhase0:null,
                selectProject:[],
                selectItem:{},
                selectId:null,
                result:{},
                choose:false,
                dialogTableVisible: false,
                tableloading1:false,
                tableloading2:false,
                elbuttonloading:false,
            }
        },
        mounted(){
            // 页面渲染后触发该区域内容 即页面初始化
            this.$nextTick(() => {
                 this.getdata("first");
            }
            )

        },
        methods: {
            //获取数据
            getdata: function (e) {
                console.log('start');
               let Customer = this.$refs.Customer.value;
               {#console.log(this.$refs.Customer);#}
               {% comment %}let Project = this.$refs.Project.value;
               let Phase0 = this.$refs.Phase0.value;{% endcomment %}
                let data = {"isGetData": e, "Customer":Customer,{% comment %}"Project":Project,"Phase":Phase0,{% endcomment %}"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/ABODriverTool/ABOToolList_search/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.tableContent = res.data.content;
                    this.selectItem=res.data.select;
                });
            },
             SEARCHALERT:function(){
                this.tableloading1=true;
                this.elbuttonloading=true;
                let Customer = this.$refs.Customer.value;
                let data ={"isGetData":"SEARCHALERT","Customer":Customer,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/ABODriverTool/ABOToolList_search/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  this.searchalert=res.data.sear;
                  {% comment %}console.log(this.searchalert,"YYY"){% endcomment %}
                   this.tableloading1=false;
                   this.elbuttonloading=false;
                })
             },
            clickDetails(row){
                this.dialogTableVisible=false;
                this.tableloading2=true;
                console.log(row.COMPRJCODE);
                let Customer = this.$refs.Customer.value;
                let data ={"isGetData":"clickdetail","row.COMPRJCODE":row.COMPRJCODE,"Customer":Customer,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/ABODriverTool/ABOToolList_search/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  this.searchalert=res.data.sear;
                   this.tableContent=res.data.content;
                   this.tableloading2=false;
                })
                {#this.dialogTableVisible = false;#}
            },
            indexMethod(index) {
        return index +1;
      },
            changeCustomer:function () {
                 if(this.$refs.Customer.value ==""){
                      this.selectProject=[""];
                      return false;
                 }
                 this.selectProject=this.selectItem[this.$refs.Customer.value];
                 this.selectedProject="";
                 console.log(this.selectProject);
             },
            {#changeProject:function(index){#}
            {#    if(this.$refs.Project.value ==""){#}
            {#          this.selectPhase0=[""];#}
            {#          return false;#}
            {#     }#}
            {#    for(let index=0;index<this.selectItem[this.selectedCustomer].length;index++){#}
            {#         if(this.selectItem[this.selectedCustomer][index]["Project"]==this.selectedProject){#}
            {#            this.selectPhase0=this.selectItem[this.selectedCustomer][index]["Phase0"];#}
            {#        }#}
            {#    }#}
            {#,#}
            //上传搜索项：以此选项搜索符合条件的内容
             {#selectMsg :function(){#}
             {#  let Customer = this.$refs.Customer.value;#}
             {#  let Project = this.$refs.Project.value;#}
             {#  let Phase0 = this.$refs.Phase0.value;#}
             {#  let data ={"isGetData":"SEARCH","Customer":Customer,"Project":Project,"Phase":Phase0,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}#}
             {#  axios.post("/ABODriverTool/ABOToolList_search/",Qs.stringify(data), {#}
             {#  headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}#}
             {#   }).then((res) => {#}
             {#     console.log(res.data.content);#}
             {#     this.tableContent=res.data.content;#}
             {#     this.selectItem=res.data.select;#}
             {#   })#}
             {#,#}
            //導出表格
      exportExcel:function (){
           /* 从表生成工作簿对象 */
        //console.log(document.querySelector("#out-table"));
            //customer和project和phase未填
         if(this.customer==''){
                   //alert("客戶別未選擇");
                    this.customerError = true;
                   return false;
               };
         if(this.project==''){
                   //alert("專案號未填寫");
                 this.projectError = true;
                  return false;
               };
         if(this.phase==''){
                   //alert("專案號未填寫");
                 this.phaseError = true;
                  return false;
               };
         let table = document.querySelector("#out-table").cloneNode(true);
         // 因为element-ui的表格的fixed属性导致多出一个table，会下载重复内容，这里删除掉
         //table.removeChild(table.querySelector(".el-table__fixed"))
            //let wb = XLSX.utils.table_to_book(table,{raw:true});//mytable为表格的id名

        var wb = XLSX.utils.table_to_book(table,{raw:true});
       // console.log(wb);
        /* 获取二进制字符串作为输出 */
        var wbout = XLSX.write(wb, {
            bookType: "xlsx",
            bookSST: true,
            type: "array"
        });
        try {
            saveAs(
            //Blob 对象表示一个不可变、原始数据的类文件对象。
            //Blob 表示的不一定是JavaScript原生格式的数据。
            //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
            //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
            new Blob([wbout], { type: "application/octet-stream" }),
            //设置导出文件名称
            "sheetjs.xlsx"
            );
        } catch (e) {
            if (typeof console !== "undefined") console.log(e, wbout);
        }
        return wbout;
        },
      test:function (row) {
          console.log("trt");
      },
            handleSelectionChange(val) {
                 this.multipleSelection = val;
           }
        }
    })
  </script>
{% endblock %}