{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Summary_ABO{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
    <style>
.showColor:hover{
    color: red;
}
    .fullScreen{
     position: fixed;
     top:0;
     left:0;
     height:100%;
     width: 100%;
     background: rgba(0,0,0,0.7);
     z-index: 101;
     overflow:hidden;
    }

    .fullScreen section {
     position:fixed;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     text-align: center;
     font-size: 18px;
     font-weight: 800;
     color: #337ab7;
   }
    .content{
    width:25px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:60px;
    background-color:#343957;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 24px;
    writing-mode: vertical-lr;
    z-index: 99;
    opacity: 0.9;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 160px;
}

.el-table th.gutter{
    display: table-cell!important;
  }

    {#.el-tooltip {#}
    {#    max-width: 60%!important;#}
    {#}#}

    #container-yansebiaoshi{
    display:none;
    position: fixed;
    right: 35px;
    top:60px;
    z-index: 99;
    border: 2px solid  #deb887;
}
     .el-pagination__total,.el-pagination__jump{
        color:black;
    }
    .gutter{
        display:block!important;
        width:17px!important;
    }

.el-collapse-item__header{
    background-image: linear-gradient(to right, rgba(230,230,70,0.6), rgba(199,163,15,0.9));
}

    .cell-green{
    background: greenyellow;
}
    .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
    .tips{
    font-size: 20px;
    font-weight: bold;
    color: coral;
    margin-left: 15px;
}
    .el-table .cell {
    box-sizing: border-box;
    white-space: pre-line;
    word-break: break-all;
    line-height: 23px;
    }
    tbody tr td:last-child {
    text-align: left;
    }
     .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
    .inputError,#Customer{
        display:inline-block;
    }
    {#.el-tooltip__popper{#}
    {#max-width: 400px;#}
    {#white-space: pre-line;#}
    {#}#}
    .oneLine {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .el-table .my-cell {
    vertical-align: top
  }

  .inputPackage{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .inputPackage span{
    position: absolute;
    line-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
  }

  .inputPackage input{
      opacity: 0;
      width: 100%;
      height: 100%;
  }

  .tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}
  .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
  .inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;

    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}


    </style>
{% endblock %}
{% block content %}
<div id="app">
<template>
      <el-backtop ></el-backtop>
    </template>
<div class="row" style="white-space: nowrap;">
    <div class="col-md-4">
        <label style="color: black;font-size: 18px;font-weight: bold;" for="Borrower">人員</label>&nbsp;&nbsp;
         <el-autocomplete
                  class="inline-input"
                  v-model="selectedBorrower"
                  ref="Borrower"
                  :fetch-suggestions="querySearch"
                  placeholder="请输入工號"
                  @select="handleSelect"
         >
           <template slot-scope="{ item }">
            <div class="name">${ item.value }&nbsp;(${ item.number })</div>
           </template>
         </el-autocomplete>

        <el-button size="medium" style="height:35px;border-color:black;color:white;margin-left: 90px;background-color:#7fa0ff" value="Search" name="Search" @click="selectMsg">Search</el-button>
  <br/> <div class="inputError" v-cloak v-show="customerError">人員未選擇</div>
    </div>
</div>
    <br />
    <div class="tableAround" v-cloak >
            {% csrf_token %}
        <p  class="selectItem" v-cloak  v-if="showNumber">工號：${ this.PersonNumber }&nbsp;/ &nbsp;姓名： ${ this.Number }</p>
        <el-collapse v-model="activeNames" @change="handleChange">
          <el-collapse-item name="1">
              <template slot="title">
                  <h5>設備</h5>
              </template>
            <el-table border ref="multipleTable"  tooltip-effect="dark"  height="400"
             :data="tableContent1" style="border-radius: 10px;word-break: keep-all"
             :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900,}"
             >
                <el-table-column prop="Customer" label="客戶別" align="center" width="80">
                </el-table-column>
                <el-table-column prop="NID" label="設備序號" align="center" width="90">
                </el-table-column>
                <el-table-column prop="DevID" label="設備用途" align="center" width="120">
                </el-table-column>
                <el-table-column prop="IntfCtgry" label="介面種類" align="center" width="130">
                </el-table-column>
                <el-table-column prop="DevCtgry" label="設備種類" width="100" align="center">
                </el-table-column>
                <el-table-column prop="Devproperties" label="設備屬性" width="140" align="center">
                </el-table-column>
                <el-table-column prop="Devsize" label="設備容量" align="center" width="100">
                </el-table-column>
                <el-table-column prop="DevVendor" label="設備廠家" align="center" width="100">
                </el-table-column>
                <el-table-column prop="DevModel" label="設備型號" align="center" width="100">
                </el-table-column>
                <el-table-column prop="DevName" label="設備名稱" align="center" width="160">
                </el-table-column>
                <el-table-column prop="BrwStatus" label="借還狀態" align="center">
                </el-table-column>
            </el-table>
          </el-collapse-item>
          {% comment %}<el-collapse-item name="2">
              <template slot="title">
                  <h5>工作機</h5>
              </template>
            <el-table border ref="multipleTable"  tooltip-effect="dark"  height="200"
             :data="tableContent2" style="border-radius: 10px;word-break: keep-all"
             :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900,}"
             >
                <el-table-column prop="UnifiedNumber" label="統一編號" align="center" width="260">
                </el-table-column>
                <el-table-column prop="MaterialPN" label="MaterialPN" width="260" align="center">
                </el-table-column>
                <el-table-column prop="CollectDate" label="領用日期" align="center" width="260">
                </el-table-column>
                <el-table-column prop="MachineStatus" label="工作機狀態" align="center">
                </el-table-column>
            </el-table>
          </el-collapse-item>
          <el-collapse-item name="3">
              <template slot="title">
                  <h5>櫃子</h5>
              </template>
            <el-table border ref="multipleTable"  tooltip-effect="dark"  height="200"
             :data="tableContent3" style="border-radius: 10px;word-break: keep-all"
             :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900,}"
             >
                <el-table-column prop="GYNumber" label="統一編號" align="center" width="260">
                </el-table-column>
                <el-table-column prop="CollectDate" label="領用日期" align="center" width="260">
                </el-table-column>
                <el-table-column prop="UseStatus" label="使用狀態" width="260" align="center">
                </el-table-column>
                <el-table-column prop="Position" label="位置" align="center">
                </el-table-column>
            </el-table>
          </el-collapse-item>
          <el-collapse-item name="4">
              <template slot="title">
                  <h5>椅子</h5>
              </template>
            <el-table border ref="multipleTable"  tooltip-effect="dark"  height="200"
             :data="tableContent4" style="border-radius: 10px;word-break: keep-all"
             :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900,}"
             >
                <el-table-column prop="GYNumber" label="統一編號" align="center" width="260">
                </el-table-column>
                <el-table-column prop="CollectDate" label="領用日期" align="center" width="260">
                </el-table-column>
                <el-table-column prop="UseStatus" label="使用狀態" width="260" align="center">
                </el-table-column>
                <el-table-column prop="Position" label="位置" align="center">
                </el-table-column>
            </el-table>
          </el-collapse-item>{% endcomment %}
        </el-collapse>
    {% csrf_token %}
    </div>
 </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script src="/static/js/Element/table.js"></script>
<script src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/image.js"></script>
<script src="/static/js/Element/message.js"></script>
<script type="text/babel">
 new Vue({
     el: '#app',
     delimiters: ['${', '}'],
     data: function () {
         return {
             activeNames: ['1', '2', '3', '4'],
             show:false,
             customerError:false,
             showNumber:false,
             tableContent1: [],
             tableContent2: [],
             tableContent3: [],
             tableContent4: [],
             PersonNumber: "",
             Number: "",
             selectedBorrower:'',
             selectBorrower:[],
             selectedBorrower:'',
             selectBorrower:[],

         }
     },
     mounted: function (){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
     },
     methods: {
        //获取数据
        getdata: function (e) {
            let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
            axios.post("/Summary_ABO/", Qs.stringify(data), {
                headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
            }).then((res) => {
                this.selectItem=res.data.select;
                this.tableContent1 = res.data.content1;
                this.tableContent2 = res.data.content2;
                this.tableContent3 = res.data.content3;
                this.tableContent4 = res.data.content4;
                {#this.totalNum=this.tableContent.length;#}
         });

        },

          handleChange(val) {
            console.log(val);
          },


        handleSelect(item) {
                console.log(item);
        },
         //索引
         indexMethod(index) {
            return index +1;
         },

         querySearch(queryString, cb) {
            var selectBorrower = this.selectItem;
            var results = queryString ? selectBorrower.filter(this.createFilter(queryString)) : selectBorrower;
            // 调用 callback 返回建议列表的数据
                {#console.log(this.selectItem,'111');#}
            cb(results);
          },
          createFilter(queryString) {
            return (restaurant) => {
              return (
                  restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
          },

          handleSelect(item) {
                this.number = item.number;
                {#console.log(item);#}
          },


          //上传搜索项：以此选项搜索符合条件的内容
         selectMsg :function(){
               let BorrowerNum = this.$refs.Borrower.value;
               if( BorrowerNum == ""){
                    this.customerError = true;
                    return
               }
               this.customerError = false;
               this.showNumber = true;
               this.PersonNumber = BorrowerNum;
               this.Number = BorrowerNum == "" ? "" : this.number;;
               let data ={"isGetData":"SEARCH","Borrower":this.number,"BorrowerNum":BorrowerNum, "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()};
               axios.post("/Summary_ABO/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.selectItem=res.data.select;
                    this.tableContent1 = res.data.content1;
                    {#console.log(this.tableContent1)#}
                    this.tableContent2 = res.data.content2;
                    this.tableContent3 = res.data.content3;
                    this.tableContent4 = res.data.content4;
                })
         },

         ToBreak (val) {
            //console.log(val,"val")
          if(val){
              //console.log(val.replace('\n', '<br />'),"val")
              return val.replace('\n', '<br />')
          }
        }
     }
 })
</script>
{% endblock %}
