{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}PersonalInfo_edit{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<style>
.el-table th .gutter{
    display: table-cell!important;
}

label{
    color:white;
}
 .selectMsg{
     font-size:16px;
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
  }
  .selectMsg label{
      font-weight: 800;
      margin-right: 10px;
      color:aliceblue;
  }
  .customerContent,.departmentContent,.lessonContent,.groupemployeesContent{
     margin-left: 20px;
}

.inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
}
  .inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;

    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}
  .fileUploadContent{
    display: inline-flex;
    display: -webkit-inline-flex;
}
  .fileUploadContent label{
    display: inline-block;
    word-break: keep-all;
    line-height: 30px;
}
.el-checkbox__label{
    font-size: 18px;
}
 .fileUploadContent{
    padding-left: 15px;
    margin-bottom: 10px;
  }
  .inputPackage{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
  }
  .inputPackage span{
    position: absolute;
    line-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
  }
  .fileUploadContent .showFileName{
     line-height: 40px;
     margin-left: 20px;
     font-size: 18px;
     color: aliceblue;
   }
  .inputPackage input{
      opacity: 0;
      width: 100%;
      height: 100%;
  }
 .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
  .tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}
.el-pagination__total,.el-pagination__jump{
        color:white;
    }
.gutter{
    display:block!important;
    width:17px!important;
}

[v-cloak]{
    display: none;
}

</style>
{% endblock %}
{% block content %}
<div id="app">
      <!--搜索框-->
    <div class="selectMsg" >

           <div class="customerContent">
                 <label for="customer">Customer</label>
                 <select  ref="Customer"  @change="changeCustomer" v-model="customer" style="height:40px;width:100px;border-radius:5px 5px 5px 5px;">
                       <option value="C38(NB)">C38(NB)</option>
                       <option value="C38(AIO)">C38(AIO)</option>
                       <option value="C85">C85</option>
                       <option value="T88(AIO)">T88(AIO)</option>
{#                       <option v-for="(item,key,index) in customerOptions" >${ key }</option>#}
                 </select>
                 <div class="inputError" v-cloak v-show="customerError">不能為空</div>
           </div>
           <div class="departmentContent">
                  <label for="department">Projectcode(Compal)</label>
                  <el-select ref="ProjectcodeCompal" v-model="ProjectcodeCompal" filterable clearable>
                        <el-option
                            v-for="item in SectionProjectcode"
                            :key="item.Projectcode"
                            :label="item.Projectcode"
                            :value="item.Projectcode">
                        </el-option>
                  </el-select>
{#                  <select  ref="Department" v-model="department" style="height:40px;border-radius:5px 5px 5px 5px;width:120px;">#}
{#                       <option v-for="(item,key,index) in ProjectCodeOption">${ item.Department }</option>#}
{#                  </select>#}
                  <div class="inputError" v-cloak  v-show="departmentError">不能為空</div>
           </div>
                 <div style="margin-left: 100px;">
                     <el-button :loading="elbuttonloading" @click="find" v-cloak type="primary" style="height:40px">搜索</el-button>
                     <el-button @click="exportExcel"  type="info" v-cloak style="height:40px">導出</el-button>
                 </div>

    </div>

     <el-dialog :visible.sync="appendss" :close-on-click-modal="false">
           <template>
            <el-form ref="form"  :model="form" :rules="rules"  :label-position="labelPosition" label-width="180px">
                  <el-form-item label="Customer" prop="Customer">
                        <el-select v-model="form.Customer" placeholder="請選擇" @change="changeProjectcode">
                              <el-option label="C38(NB)" value="C38(NB)"></el-option>
                              <el-option label="C38(AIO)" value="C38(AIO)"></el-option>
                              <el-option label="C85" value="C85"></el-option>
                              <el-option label="T88(AIO)" value="T88(AIO)"></el-option>
                        </el-select>
                  </el-form-item>
                  <el-form-item label="Projectcode(Compal)" prop="ProjectcodeCompal">
                    <el-select v-model="form.ProjectcodeCompal" clearable filterable placeholder="請選擇">
                        <el-option
                            v-for="item in SectionProjectcode"
                            :key="item.Projectcode"
                            :label="item.Projectcode"
                            :value="item.Projectcode">
                        </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="Lowlight item" prop="Lowlight_item">
                      <el-input  v-model="form.Lowlight_item" ></el-input>
                  </el-form-item>
                  <el-form-item label="Root cause" prop="Root_cause">
                      <el-input  v-model="form.Root_cause" ></el-input>
                  </el-form-item>
                  <el-form-item label="LD" prop="LD">
                      <el-input  v-model="form.LD" ></el-input>
                  </el-form-item>
                  <el-form-item label="Owner" prop="Owner">
                      <el-input  v-model="form.Owner" ></el-input>
                  </el-form-item>
                  <el-form-item label="Mitigation_plan" prop="Mitigation_plan">
                      <el-input  v-model="form.Mitigation_plan" ></el-input>
                  </el-form-item>
                <div class="el-form-item__content" style="margin-left: 220px;">
                  <el-form-item>
                        <el-button type="primary" @click="onAppend('form')">確定</el-button>
                  </el-form-item>
                </div>
             </el-form>
        </template>
     </el-dialog>
     <el-dialog :visible.sync="update1" :close-on-click-modal="false">
        <template>
            <el-form ref="form"  :model="form" :rules="rules"  :label-position="labelPosition" label-width="180px">
                  <el-form-item label="Lowlight item" prop="Lowlight_item">
                      <el-input type="textarea" v-model="form.Lowlight_item" ></el-input>
                  </el-form-item>
                  <el-form-item label="Root cause" prop="Root_cause">
                      <el-input type="textarea" v-model="form.Root_cause" ></el-input>
                  </el-form-item>
                  <el-form-item label="LD" prop="LD">
                      <el-input  v-model="form.LD" ></el-input>
                  </el-form-item>
                <div class="el-form-item__content" style="margin-left: 220px;">
                  <el-form-item>
                        <el-button type="primary" @click="updateData1('form')">確定</el-button>
                  </el-form-item>
                </div>
             </el-form>
        </template>
    </el-dialog>
     <el-dialog :visible.sync="update2" :close-on-click-modal="false">
        <template>
            <el-form ref="form"  :model="form" :rules="rules"  :label-position="labelPosition" label-width="180px">
                  <el-form-item label="Owner" prop="Owner">
                      <el-input  v-model="form.Owner" ></el-input>
                  </el-form-item>
                  <el-form-item label="Mitigation_plan" prop="Mitigation_plan">
                      <el-input type="textarea" v-model="form.Mitigation_plan" ></el-input>
                  </el-form-item>
                <div class="el-form-item__content" style="margin-left: 220px;">
                  <el-form-item>
                      <el-button type="primary" @click="updateData2('form')">確定</el-button>
                  </el-form-item>
                </div>
             </el-form>
        </template>
    </el-dialog>
     <el-dialog :visible.sync="update3" :close-on-click-modal="false">
        <template>
            <el-form ref="form"  :model="form" :rules="rules"  :label-position="labelPosition" label-width="180px">
                  <el-form-item label="Mitigation_plan" prop="Mitigation_plan">
                      <el-input type="textarea" v-model="form.Mitigation_plan" ></el-input>
                  </el-form-item>
                <div class="el-form-item__content" style="margin-left: 220px;">
                  <el-form-item>
                        <el-button type="primary" @click="updateData3('form')">確定</el-button>
                  </el-form-item>
                </div>
             </el-form>
        </template>
    </el-dialog>
  <div class="tableAround">
    <div style="margin-bottom: 10px;">
         <el-button  type="danger" v-if="uploadpermission===1" v-cloak @click="addData" style="margin-left: 20px;">Upload</el-button>
         <el-button @click="editData()" type="success" v-cloak style="margin-left: 20px;">Edit</el-button>
    </div>
{#    <span  class="selectItem" v-cloak  v-if="showCustomer&&showDepartment&&showLesson">當前表格信息：${ showYear }/${ showCustomer }/${ showDepartment }/${ showLesson }/${ showGroupEmployees } </span>#}
    <el-table id="out-table"  ref="tableRef" height="700" border :data="tableContent.slice((currentPage -1 )*pageSize,(currentPage)*pageSize)"
        style="min-width: 100%;border-radius: 10px"  @selection-change="handleSelectionChange" :row-key="getRowKeys"
        :header-cell-style="{'background-color':'#fafafa','font-weight':'800','border-bottom':'1px solid rgb(103, 194, 58)'}"
        v-loading="tableloading"
        element-loading-text="數據更新中，請稍後"
        border>
              <el-table-column type="selection" width="50"></el-table-column>
              <el-table-column type="index" :index="indexMethod"></el-table-column>
              <el-table-column  prop="Customer" label="Customer" align="center" width="100"></el-table-column>
              <el-table-column  prop="ProjectcodeCompal" label="Projectcode(Compal)" align="center"></el-table-column>
              <el-table-column  prop="ProjectcodeCustomer" label="Projectcode(Customer)" align="center"></el-table-column>
              <el-table-column  prop="Lowlight_item" label="Lowlight item" align="center"></el-table-column>
              <el-table-column  prop="Root_cause" label="Root cause" align="center"></el-table-column>
              <el-table-column  prop="LD" label="LD" align="center"></el-table-column>
              <el-table-column  prop="Owner" label="Owner" align="center"></el-table-column>
              <el-table-column  prop="Mitigation_plan" label="Mitigation plan" align="center"></el-table-column>
    </el-table>
      <div class="block">
        <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 50, 100, 200]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
        </el-pagination>
      </div>
  </div>
  </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script  src="/static/js/Element/table.js"></script>
<script  src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script  src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/image.js"></script>
<script src="/static/js/Element/message.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                loading:false,
                SectionProjectcode:[],
                ProjectCodeOption:[],
                ProjectcodeCompal:"",
                customer:'',
                editpermission: 0,
                uploadpermission: 0,
                customerOptions:{},
                customerError:false,
                department:'',
                departmentOptions:[],
                departmentError:false,
                tableContent:[],
                update1:false,
                update2:false,
                update3:false,
                ID:"",
                labelPosition:'right',
                tableloading: false,
                elbuttonloading: false,
                form: {
                    Customer: '',
                    ProjectcodeCompal: '',
                    Lowlight_item: '',
                    Root_cause: '',
                    LD: '',
                    Owner: '',
                    Mitigation_plan: '',

                },
                formData:[],
                multiDeleteVisible:false,
                multipleSelection: [],
                //表格信息顯示
                showCustomer:'',
                showDepartment:'',
                //新增信息
                appendss:false,
                //分页
                currentPage: 1,//默认显示第一页
                pageSize:100,//默认每页显示100条
                totalNum: null,
                errMsg:null,
                 rules: {
                      Customer: [
                         { required: true, message: "不能為空", trigger:['blur','change'] }
                      ],
                      ProjectcodeCompal: [
                         { required: true, message: "不能為空", trigger:['blur','change'] }
                      ],
                    },





            }
        },
        mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
            //获取数据
            getdata: function (e) {
                this.elbuttonloading = true;
                this.tableloading = true;
                this.Titleoptions1=[];
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/LowLightList/LowLightList_edit/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.ProjectCodeOption = res.data.ProjectCodeOption;
                    //this.uploadpermission=res.data.uploadpermission;
                    //this.editpermission=res.data.editpermission;
                    this.tableContent=res.data.content;
                    this.totalNum=this.tableContent.length;
                    //console.log(this.totalNum)
                    this.elbuttonloading = false;
                    this.tableloading = false;
                    this.$nextTick(() => {
                       this.$refs.tableRef.doLayout()
                    })
                 });
            },

            exportExcel: function () {
             /* 从表生成工作簿对象 */
             {#console.log(document.querySelector("#out-table"));#}
             let temp = [];
             temp.push(Number(this.currentPage));
             temp.push(Number(this.pageSize));
             {#console.log(temp);#}
             this.currentPage = 1;
             this.pageSize = this.tableContent.length;
             {#console.log(temp, this.defaultPage1, this.pageSize);#}
             setTimeout(() => {
                 let table = document.querySelector("#out-table").cloneNode(true);
                 let fix = table.querySelector(".el-table__fixed");
                 let wb;
                 if(fix){
                    wb = XLSX.utils.table_to_book(table.removeChild(fix),{raw: true});
                    table.appendChild(fix);
                 }else{
                    wb = XLSX.utils.table_to_book(table,{raw: true});
                 }
                 console.log("wb", wb);
                 /* 获取二进制字符串作为输出 */
                 var wbout = XLSX.write(wb, {
                     bookType: "xlsx",
                     bookSST: true,
                     type: "array"
                 });
                 console.log("wbout", wbout);
                 try {
                     saveAs(
                         //Blob 对象表示一个不可变、原始数据的类文件对象。
                         //Blob 表示的不一定是JavaScript原生格式的数据。
                         //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
                         //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
                         new Blob([wbout], {type: "application/octet-stream"}),
                         //设置导出文件名称
                         "sheetjs.xlsx"
                     );

                 } catch (e) {
                     if (typeof console !== "undefined") console.log(e, wbout);
                 }
                 this.currentPage = temp[0];
                 this.pageSize = temp[1];//edwin:要想导出后回到当前页而不是第一页，<el-pagination里面的:page-size="100"，而不能是:page-size="pageSize"
                 temp = [];
                 return wbout;
             }, 100);
         },


            //级联
            changeCustomer:function () {
                 if(this.$refs.Customer.value ==""){
                      this.departmentOptions=[""];
                      return false;
                 }
                 this.SectionProjectcode=this.ProjectCodeOption[this.$refs.Customer.value];
                 this.ProjectcodeCompal="";
             },

            changeProjectcode:function () {
                 this.SectionProjectcode=this.ProjectCodeOption[this.form.Customer];
             },

    {% comment %}
            changeLesson:function(index){
                if(this.$refs.Lesson.value ==""){
                      this.groupemployeesOptions=[""];
                      return false;
                 }
                 this.groupemployeesOptions=this.lessonOptions[this.$refs.Lesson.value];
                 this.groupemployees="";
                 console.log(this.groupemployeesOptions);
            },
    {% endcomment %}
            //上传搜索项：以此选项搜索符合条件的内容
            find :function(){

                if(this.$refs.Customer.value ==""){
                      this.customerError= true;
                      return false;
                 }
                if(this.$refs.ProjectcodeCompal.value ==""){
                      this.departmentError= true;
                      return false;
                 }
                this.elbuttonloading = true;
                this.tableloading = true;
                let Customer = this.$refs.Customer.value;
                let ProjectcodeCompal=this.$refs.ProjectcodeCompal.value;
               let data ={"isGetData":"SEARCH","Customer":Customer,"ProjectcodeCompal":ProjectcodeCompal,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/LowLightList/LowLightList_edit/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  this.tableContent=res.data.content;
                  this.totalNum=this.tableContent.length;
                  this.uploadpermission=res.data.uploadpermission;
                  this.editpermission=res.data.editpermission;
                  this.elbuttonloading = false;
                  this.tableloading = false;
                })
                this.customerError= false;
                this.departmentError= false;

             },

            indexMethod(index) {
                  return index +1;
            },

            handleSelectionChange(rows) {
                this.multipleSelection = rows;
            },

            getRowKeys (row) {
              return row.id
            },

            addData(){
                    this.appendss=true;
                {% comment %}
                    let msg = {
                      "isGetData" : "addData", "Customer":Customer, "ProjectcodeCompal":ProjectcodeCompal,
                  }
                   axios.post("/LowLightList/LowLightList_edit/",Qs.stringify(msg),{
                            headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                        } ).then((res) => {
                            this.ProjectCodeOption=res.data.ProjectCodeOption;
                   })
                 {% endcomment %}
            },

            editData(){
                if(this.multipleSelection.length < 1){
                      this.$alert("请选择一条数据！", '提示', {
                            type: 'warning',
                      });
                }else if(this.multipleSelection.length === 1){
                    if(this.editpermission === 1){
                        this.update1=true;
                        this.ID = this.multipleSelection[0].id
                        this.form.Lowlight_item = this.multipleSelection[0].Lowlight_item
                        this.form.Root_cause = this.multipleSelection[0].Root_cause
                        this.form.LD = this.multipleSelection[0].LD
                    }else if(this.editpermission === 2){
                        this.update2=true;
                        this.ID = this.multipleSelection[0].id
                        this.form.Owner = this.multipleSelection[0].Owner
                        this.form.Mitigation_plan = this.multipleSelection[0].Mitigation_plan
                    }else if(this.editpermission === 3){
                        this.update3=true;
                        this.ID = this.multipleSelection[0].id
                        this.form.Mitigation_plan = this.multipleSelection[0].Mitigation_plan
                    }else {
                      this.$alert("无编辑权限！", '提示', {
                            type: 'warning',
                      });
                    }

                }else {
                      this.$alert("只能选择一条数据！", '提示', {
                            type: 'warning',
                      });
                }

            },

            onAppend() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        if (this.formData.length === 0) {
                            this.formData = new FormData();
                        }
                        this.formData.append('searchCustomer', this.$refs.Customer.value)
                        this.formData.append('searchProjectcodeCompal', this.$refs.ProjectcodeCompal.value)
                        this.formData.append('Customer', this.$refs.form.model.Customer)
                        this.formData.append('ProjectcodeCompal', this.$refs.form.model.ProjectcodeCompal)
                        this.formData.append('Lowlight_item', this.$refs.form.model.Lowlight_item)
                        this.formData.append('Root_cause', this.$refs.form.model.Root_cause)
                        this.formData.append('LD', this.$refs.form.model.LD)
                        this.formData.append('Owner', this.$refs.form.model.Owner)
                        this.formData.append('Mitigation_plan', this.$refs.form.model.Mitigation_plan)
                        this.formData.append("action", 'onSubmit');
                        {#console.log(this.formData)#}
                        axios.post("/LowLightList/LowLightList_edit/", this.formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                                'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                            } //改变头格式，原生默认上传json格式
                        }).then((res) => {
                            this.tableContent = res.data.content;
                            this.totalNum = this.tableContent.length;
                            this.errMsg=res.data.errMsg;
                            this.formData = new FormData();
                            if(this.errMsg){
                              this.$alert(this.errMsg, '提示', {
                                    type: 'warning',
                              });
                              this.appendss = true;
                            }else{
                              try {
                                   this.$refs.form.resetFields();
                              } catch (e) {

                              }
                              this.appendss = false;
                              this.$nextTick(() => {
                                    this.$refs.tableRef.doLayout()
                              })
                            }

                        })

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                })
            },

            updateData1() {
                    if (this.formData.length === 0) {
                        this.formData = new FormData();
                    }
                    this.formData.append('searchCustomer', this.$refs.Customer.value)
                    this.formData.append('searchProjectcodeCompal', this.$refs.ProjectcodeCompal.value)
                    this.formData.append('ID', this.ID)
                    this.formData.append('Lowlight_item', this.$refs.form.model.Lowlight_item)
                    this.formData.append('Root_cause', this.$refs.form.model.Root_cause)
                    this.formData.append('LD', this.$refs.form.model.LD)
                    this.formData.append("action", 'onSubmit1');
                    console.log(this.formData)
                    axios.post("/LowLightList/LowLightList_edit/", this.formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                        } //改变头格式，原生默认上传json格式
                    }).then((res) => {
                        this.tableContent = res.data.content;
                        this.totalNum = this.tableContent.length;
                        this.errMsg=res.data.errMsg;
                        this.formData = new FormData();
                        if(this.errMsg){
                          this.$alert(this.errMsg, '提示', {
                                type: 'warning',
                          });
                          this.update1 = true;
                        }else{
                          try {
                                  this.$refs.form.resetFields();
                          } catch (e) {

                          }
                          this.update1 = false;
                          this.$nextTick(() => {
                                this.$refs.tableRef.doLayout()
                          })
                        }

                    })
            },

            updateData2() {
                    if (this.formData.length === 0) {
                        this.formData = new FormData();
                    }
                    this.formData.append('searchCustomer', this.$refs.Customer.value)
                    this.formData.append('searchProjectcodeCompal', this.$refs.ProjectcodeCompal.value)
                    this.formData.append('ID', this.ID)
                    this.formData.append('Owner', this.$refs.form.model.Owner)
                    this.formData.append('Mitigation_plan', this.$refs.form.model.Mitigation_plan)
                    this.formData.append("action", 'onSubmit1');
                    console.log(this.formData)
                    axios.post("/LowLightList/LowLightList_edit/", this.formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                        } //改变头格式，原生默认上传json格式
                    }).then((res) => {
                        this.tableContent = res.data.content;
                        this.errMsg=res.data.errMsg;
                        this.formData = new FormData();
                        if(this.errMsg){
                          this.$alert(this.errMsg, '提示', {
                                type: 'warning',
                          });
                          this.update2 = true;
                        }else{
                          try {
                                  this.$refs.form.resetFields();
                          } catch (e) {

                          }
                          this.update2 = false;
                          this.$nextTick(() => {
                                this.$refs.tableRef.doLayout()
                          })
                        }

                    })
            },

            updateData3() {
                    if (this.formData.length === 0) {
                        this.formData = new FormData();
                    }
                    this.formData.append('searchCustomer', this.$refs.Customer.value)
                    this.formData.append('searchProjectcodeCompal', this.$refs.ProjectcodeCompal.value)
                    this.formData.append('ID', this.ID)
                    this.formData.append('Mitigation_plan', this.$refs.form.model.Mitigation_plan)
                    this.formData.append("action", 'onSubmit1');
                    console.log(this.formData)
                    axios.post("/LowLightList/LowLightList_edit/", this.formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data',
                            'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                        } //改变头格式，原生默认上传json格式
                    }).then((res) => {
                        this.tableContent = res.data.content;
                        this.errMsg=res.data.errMsg;
                        this.formData = new FormData();
                        if(this.errMsg){
                          this.$alert(this.errMsg, '提示', {
                                type: 'warning',
                          });
                          this.update3 = true;
                        }else{
                          try {
                                  this.$refs.form.resetFields();
                          } catch (e) {

                          }
                          this.update3 = false;
                          this.$nextTick(() => {
                                this.$refs.tableRef.doLayout()
                          })
                        }

                    })
            },

            //分页
            handleSizeChange(val) {
                  //console.log(`每页 ${val} 条`);
                    this.pageSize = val;
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                  this.currentPage = val;
                  //console.log(this.tableContent.slice((this.currentPage-1)*this.pageSize,this.currentPage*this.pageSize));
            },

        }
    })
    </script>
{% endblock %}





