{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}借用申請{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
    <style>
    .fullScreen{
     position: fixed;
     top:0;
     left:0;
     height:100%;
     width: 100%;
     background: rgba(0,0,0,0.7);
     z-index: 101;
     overflow:hidden;
    }

    .fullScreen section {
     position:fixed;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     text-align: center;
     font-size: 18px;
     font-weight: 800;
     color: #337ab7;
   }
    .content{
    width:25px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:60px;
    background-color:#343957;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 24px;
    writing-mode: vertical-lr;
    z-index: 99;
    opacity: 0.9;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
    width: 160px;
}

.el-table th.gutter{
    display: table-cell!important;
  }

    #container-yansebiaoshi{
    display:none;
    position: fixed;
    right: 35px;
    top:60px;
    z-index: 99;
    border: 2px solid  #deb887;
}
     .el-pagination__total,.el-pagination__jump{
        color:black;
    }
    .gutter{
        display:block!important;
        width:17px!important;
    }
    .cell-green{
    background: greenyellow;
}
    .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
    .tips{
    font-size: 20px;
    font-weight: bold;
    color: coral;
    margin-left: 15px;
}
    .el-table .cell {
    box-sizing: border-box;
    white-space: pre-line;
    word-break: break-all;
    line-height: 23px;
    }
    tbody tr td:last-child {
    text-align: left;
    }
     .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
    .inputError,#Customer{
        display:inline-block;
    }
    .el-tooltip__popper{
    max-width: 400px;
    white-space: pre-line;
    }
    .oneLine {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .el-table .my-cell {
    vertical-align: top
  }

  .inputPackage{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    position: relative;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .inputPackage span{
    position: absolute;
    line-height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: aliceblue;
  }

  .inputPackage input{
      opacity: 0;
      width: 100%;
      height: 100%;
  }

  .tableAround{
    padding: 20px;
    -moz-box-shadow: 0px 0px 10px #333333;
    -webkit-box-shadow: 0px 0px 10px #333333;
    box-shadow: 0px 0px 10px #333333;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
}

    </style>
{% endblock %}
{% block content %}
<div id="app">
<template>
      <el-backtop ></el-backtop>
    </template>
<div class="row" style="white-space: nowrap;">
    <div class="col-md-4">
        <label style="color: black;font-size: 16px;font-weight: bold;" for="Borrower">借用人</label>&nbsp;&nbsp;
{#           <select id="Borrower" ref="Borrower"   v-model="selectedBorrower" style="height:30px;width:100px;border-radius:5px 5px 5px 5px;">#}
{#               <option value="All">All</option>#}
{#               <option v-for="(item,key,index) in selectItem" >${ item }</option>#}
{#           </select>#}
         <el-autocomplete
                  class="inline-input"
                  v-model="selectedBorrower"
                  ref="Borrower"
                  :fetch-suggestions="querySearch"
                  placeholder="请输入借用人"
                  {% comment %}:trigger-on-focus="false"{% endcomment %}
                  @select="handleSelect"
         >
            <template slot-scope="{ item }">
             <div class="name">${ item.value }&nbsp;(${ item.number })</div>
            </template>
         </el-autocomplete>
    </div>

    <div class="col-md-1">
        <el-button size="medium" style="background:#428bca;color:#fff;margin: 2px;" value="Search" name="Search" @click="selectMsg">Search</el-button>
    </div>

</div>
    <br />
   <div class="tableAround" v-cloak >
    {% csrf_token %}
    <div class="col-md-10">
        <span class="col-md-2" style="font-weight: bold;color: black;font-size: 16px;">已選</span><span id="SelectNum" style="font-weight: bold;color: black;font-size: 16px;">0</span><span class="col-md-4" style="font-weight: bold;color: black;font-size: 16px;">條</span>
    {#    <span style="font-weight: bold;color: black;">已選&nbsp;&nbsp;&nbsp;&nbsp;條</span>#}
        <el-button size="medium" type="primary" style="color:#fff;margin: 2px;margin-left: 50px;" name="確認出庫" @click="DeliveryChange" v-cloak>確認出庫</el-button>
    </div>
    <template>
    <el-table border stripe ref="multipleTable"  tooltip-effect="dark"  height="700"
     :data="tableContent.slice((currentPage-1)*pageSize,currentPage*pageSize)"
     :header-cell-style="{color:'#333',fontFamily:'MicrosoftYaHeiUI',fontSize:'15px',fontWeight:900,background:'#FAFAFA','border-bottom':'1px solid rgb(103, 194, 58)'}"
     style="border-radius: 10px;word-break: keep-all"
     @selection-change="handleSelectionChange" :row-key="getRowKeys" :cell-style="addColor">
        <el-table-column type="selection" align="center" :reserve-selection="true" fixed></el-table-column>
        <el-table-column type="index" :index="indexMethod" width="60" align="center" fixed></el-table-column>
        <el-table-column prop="Pinming" label="品名" align="center" width="100" fixed>
        </el-table-column>
        <el-table-column prop="Leibie" label="類別" align="center" width="100" fixed>
        </el-table-column>
        <el-table-column prop="Changjia" label="廠家" align="center" width="100" fixed>
        </el-table-column>
        <el-table-column prop="MaterialPN" label="MaterialPN" align="center" width="140" fixed>
        </el-table-column>
        <el-table-column prop="Model" label="Model" align="center" width="100" fixed>
        </el-table-column>
        <el-table-column prop="Description" label="Description" align="center" width="260">
        </el-table-column>
        <el-table-column prop="Power" label="功率" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Number" label="編號" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Location" label="Location" align="center" width="100">
        </el-table-column>
        <el-table-column prop="Customer" label="客戶別" align="center" width="80">
        </el-table-column>
        <el-table-column prop="Project_Code" label="Project Code" align="center" width="80">
        </el-table-column>
        <el-table-column prop="Phase" label="Phase" align="center" width="80">
        </el-table-column>
        <el-table-column  prop="OAPcode" label="掛賬人工號" align="center" width="100">
        </el-table-column>
        <el-table-column prop="OAP" label="掛賬人" align="center" width="80">
        </el-table-column>
        <el-table-column prop="Device_Status" label="設備狀態" align="center" width="100">
        </el-table-column>
        <el-table-column prop="BR_Status" label="借還狀態" align="center" width="100">
        </el-table-column>
        <el-table-column prop="BR_per" label="借還人員" width="100" align="center">
        </el-table-column>
        <el-table-column prop="Predict_return" label="預計歸還日期" width="120" align="center">
        </el-table-column>
        <el-table-column prop="Borrow_date" label="借用日期" width="120" align="center">
        </el-table-column>
        <el-table-column prop="Return_date" label="歸還日期" width="120" align="center">
        </el-table-column>
        <el-table-column prop="Exceed_days" label="超期天數" width="120" align="center">
        </el-table-column>
    </el-table>
    <div class="block">
        <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 50, 100, 200]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
        </el-pagination>
    </div>
    </template>
   </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script  src="/static/js/Element/table.js"></script>
<script  src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script  src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/image.js"></script>
<script src="/static/js/Element/message.js"></script>
<script type="text/babel">
 new Vue({
     el: '#app',
     delimiters: ['${', '}'],
     data: function () {
         return {
             multipleSelectionFlag:false,
             multiDeleteVisible:false,
             multipleSelection: [],
             tableContent: [],
             currentPage: 1,//默认显示第一页
             pageSize:100,//默认每页显示100条
             totalNum:null,
             selectItem:{},
             selectedBorrower:'',
             selectBorrower:[],
             number: '',
         }
     },
     mounted: function (){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
     },
     methods: {
        //获取数据
        getdata: function (e) {
            let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
            axios.post("/AdapterPowerCode/M_Borrow/", Qs.stringify(data), {
                headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
            }).then((res) => {
                this.selectItem=res.data.selectItem;
                this.tableContent = res.data.content;
                this.totalNum=this.tableContent.length;
         });

        },
            querySearch(queryString, cb) {
            var selectBorrower = this.selectItem;
            var results = queryString ? selectBorrower.filter(this.createFilter(queryString)) : selectBorrower;
            // 调用 callback 返回建议列表的数据
                {#console.log(this.selectItem,'111')#}
            cb(results);
          },
          createFilter(queryString) {
            return (restaurant) => {
              return (
                  restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
            };
          },

          handleSelect(item) {
                this.number = item.number;
                console.log(item);
          },

        getRowKeys (row) {
            return row.id;
        },
         //索引
         indexMethod(index) {
            return index +1;
         },
         //分页
         handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
            this.pageSize = val;
         },
         handleCurrentChange(val) {
          console.log(`当前页: ${val}`);
          this.currentPage = val;
         },

          //上传搜索项：以此选项搜索符合条件的内容
             selectMsg :function(){
               let BorrowerNum = ''
               let borrow = this.$refs.Borrower.value;
               if( borrow == ''){
                   BorrowerNum = ''
               }else{
                   BorrowerNum = this.number;
               }
               let data ={"isGetData":"SEARCH","BorrowerNum":BorrowerNum,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/AdapterPowerCode/M_Borrow/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  this.tableContent=res.data.content;
                  this.selectItem=res.data.selectItem;
                  this.totalNum=this.tableContent.length;

                })
             },

           handleSelectionChange(val) {
                {#console.log(val);#}
                this.multipleSelection = val;
                var len=document.getElementById("SelectNum");
                len.innerHTML=this.multipleSelection.length;
                {#console.log(this.multipleSelection.length)#}
           },

           DeliveryChange() {
                if(this.multipleSelection.length == 0){
                     this.$alert('請至少勾選一條數據', '提示', {
                        type: 'warning',
                     })
                }else {
                        var warning=confirm('是否確認出庫?');
                        if(warning) {
                             {#this.multiDeleteVisible = false;#}
                             let checkArr = this.multipleSelection;   // multipleSelection存储了勾选到的数据
                             let params = [];
                             let self = this;
                             checkArr.forEach(function (item) {
                                 console.log(item);
                                 params.push(item.id);       // 添加所有需要删除数据的id到一个数组，post提交过去
                        });
                         console.log(params);
                           {#let Borrower = this.$refs.Borrower.value;#}
                           let BorrowerNum = this.number;
                           let data = {
                               "isGetData": "ChangeDelivery",
                               "params": params,"BorrowerNum":BorrowerNum,"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()
                           };
                           axios.post('/AdapterPowerCode/M_Borrow/', data).then((res) =>{
                                 this.tableContent = res.data.content;
                                 this.totalNum=this.tableContent.length;
                                 console.log(this.tableContent,'mul');
                                 self.$message({
                                     message: '出庫成功',
                                     type: 'success'
                             });
                           this.$refs.multipleTable.clearSelection();
                     })
                 }else{
                     return false;
                 }
                }
            },
         addColor({row, column, rowIndex, columnIndex}) {
                    if (columnIndex === 22 && row.Exceed_days !== '') {
                            return {
                                      background: '#f14018',
                                        color: '#FFF'
                                    }
                    }
                },

         ToBreak (val) {
            //console.log(val,"val")
          if(val){
              //console.log(val.replace('\n', '<br />'),"val")
              return val.replace('\n', '<br />')
          }
        }
     }
 })
</script>
{% endblock %}
