{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ABOTestPlan_Summary{% endblock %}
{% block css %}
{#<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">#}
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/ElementUI.css">
    <style>
    .inputError{
    text-align: center;
    color: crimson;
    background-color: beige;
    width: 50%;
    margin: 10px auto 5px;
    position: relative;
}
  .inputError:before{
    display:block;
    content:'';
    border-width:8px 8px 8px 8px;
    border-style:solid;
    border-color:transparent transparent beige transparent;

    /* 定位 */
    position:absolute;
    left:50%;
    top:-16px;
}
    .el-table .cell {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    {% comment %}white-space: normal;{% endcomment %}
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 23px;
    text-align: left;
}
    </style>
{% endblock %}
{% block content %}
<div id="app">
           <div class="row" style="white-space: nowrap;">
                    <div class="col-md-2">
                    <label for="Customer" style="color: #fff;">Customer</label>
           <select id="Customer" ref="Customer"  @change="changeCustomer" v-model="selectedCustomer" style="height:30px;width:80px;border-radius:5px 5px 5px 5px;">
               <option value=""> </option>
               <option v-for="(item,key,index) in selectItem" >${ key }</option>
           </select>
                        <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
                    </div>
                    <div class="col-md-2">
                        　<label for="Project" style="color: #fff;">Project</label>
           <select id="Project" ref="Project" @change="changeProject" v-model="selectedProject" style="height:30px;border-radius:5px 5px 5px 5px;width:80px;">
               <option></option>
               <option v-for="(item,key,index) in selectProject">${ item.Project }</option>
           </select>
                        <div class="inputError" v-cloak v-show="projectError">專案未選擇</div>
                    </div>
         <div class="col-md-2">
                        　　<label for="Phase0 " style="color: #fff;">Phase</label>
             <select id="Phase0" ref="Phase0" {% comment %}@change="changePhase0" {% endcomment %}v-model="selectedPhase0" style="height:30px;border-radius:5px 5px 5px 5px;width:80px;">
               <option></option>
               <option v-for="(item,key,index) in selectPhase0">${ item }</option>
           </select>
             <div class="inputError" v-cloak v-show="phase0Error">Phase未選擇</div>
                    </div>
         <div class="col-md-2">
                        　　<label for="Categorys" style="color: #fff;">Category</label>
             <select id="Categorys" ref="Categorys" v-model="selectedCategorys" style="height:30px;border-radius:5px 5px 5px 5px;width:80px;">
               <option></option>
               <option v-for="(item,key,index) in selectCategorys">${ item }</option>
           </select>
             <div class="inputError" v-cloak v-show="categorysError">Category未選擇</div>
                    </div>


                    <div class="col-md-1">
                        <el-button :loading="elbuttonloading" size="small" style="background:#428bca;color:#fff;" value="Search" name="Search" @click="selectMsg">Search</el-button>
                    </div>
               <div class="col-md-2">
                        <el-button size="small"  v-if="canExport==1" @click="exportExcel" type="info" >Export</el-button>
        </div>
    </div>
<template>


    <el-table id="out-tabledata"  stripe border {% comment %}height="700"{% endcomment %} ref="multipleTable" :data="tabledata" tooltip-effect="dark" style="width: 95% ;heighrt:200;"
   :default-sort = "{prop: 'TestID', order: 'ascending'}"
            stripe
            :cell-style="cellStyle"
   v-loading="tableloading"
  element-loading-text="數據更新中，請稍後"
  border>
    <el-table-column type="index" width="50"></el-table-column>
    <el-table-column width="120" label="Test ID" prop="TestID" align="left" sortable>
        <template slot-scope="scope">
                <a class="sub-body" @click="handleClick(scope.row)" style="text-decoration:underline;color:blue;">${ scope.row.TestID }</a>
        </template>
    </el-table-column>
    <el-table-column min-width="360" label="Test Items" prop="TestItems" align="left" sortable></el-table-column>
    <el-table-column width="120" label="SKU/Unit" prop="SKU" align="left" sortable></el-table-column>
    <el-table-column width="80" label="Owner" prop="Owner" align="left" sortable></el-table-column>
    <el-table-column width="120" label="Test Schedule" prop="TestSchedule" align="left" sortable></el-table-column>
    <el-table-column width="80" label="Status" prop="Status"align="left" align="wright" sortable></el-table-column>
    <el-table-column width="80" label="Percent" prop="Percent" align="left" sortable></el-table-column>
    <el-table-column min-width="360" label="Bug No." prop="BugNo" sortable></el-table-column>
   </el-table>
</template>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
{#<script src="/static/js/vue/vue-router.min.js"></script>#}
{#<script src="/static/js/vue/vue-router.js"></script>#}
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
    <script src="/static/js/xlsx/FileSaver.min.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {

                visible: false,
                tabledata: [],
                excel_dic: [],
                excel_dic_origin: [],
                key_list: [],
                canExport:null,
                canEdit:null,
                selectItem:{},
                selectProject:[],
                selectedCustomer:null,
                selectedProject:null,
                selectedPhase0:null,
                selectedCategorys:null,
                selectPhase0:null,
                selectCategorys:["Compatibility", "Reliability"],
                Customer:[],
                Phase:[],
                driver:[],
                showEdit: [], //显示编辑框
                showBtn: [],
                showBtnOrdinary: true,
                tableloading:false,
                elbuttonloading:false,
                customerError:false,
                projectError:false,
                phase0Error:false,
                categorysError:false,
            }
        },
        mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
            //获取数据
            getdata: function (e) {
                this.tableloading=true;
                this.elbuttonloading=true;
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/ABOTestPlan/ABOTestPlan_summary/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.selectItem=res.data.select;
                    this.tabledata=res.data.tabledata
                    this.excel_dic=JSON.parse(JSON.stringify(res.data.excel_dic))
                   {#就是在赋值的时候转一下json格式，这样指的就不是地址了。#}
                   this.excel_dic_origin=JSON.parse(JSON.stringify(res.data.excel_dic))
                  this.key_list=res.data.key_list;
                  this.canExport = res.data.canExport;
                  this.canEdit = res.data.canEdit;
                  this.tableloading=false;
                   this.elbuttonloading=false;
                   this.errMsg = res.data.err_msg;
                   if(this.errMsg){
                            this.$alert(this.errMsg, '提示', {
                                  type: 'warning',
                                })
                        }else {

                        }
                });
            },
            selectMsg :function(){
                if(this.$refs.Customer.value==''){
                       //alert("客戶別未選擇");
                        this.customerError = true;
                        return false;
               }
               this.customerError = false;
               if(this.$refs.Project.value==''){
                       //alert("客戶別未選擇");
                        this.projectError = true;
                        return false;
               }
               this.projectError = false;
               if(this.$refs.Phase0.value==''){
                       //alert("客戶別未選擇");
                        this.phase0Error = true;
                        return false;
               }
               this.phase0Error = false;
               if(this.$refs.Categorys.value==''){
                       //alert("客戶別未選擇");
                        this.categorysError = true;
                        return false;
               }
               this.categorysError = false;
                this.tableloading=true;
                this.elbuttonloading=true;
                {#console.log(this.tableloading);#}
               let Customer = this.$refs.Customer.value;
               let Project = this.$refs.Project.value;
               let Phase0 = this.$refs.Phase0.value;
               let Categorys = this.$refs.Categorys.value;
               let data ={"isGetData":"SEARCH","Customer":Customer,"Project":Project,"Phase":Phase0,"Categorys":Categorys,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/ABOTestPlan/ABOTestPlan_summary/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  {#console.log(res.data.content,'search');#}
                this.tabledata=res.data.tabledata;
                this.excel_dic=res.data.excel_dic;
                  this.selectItem=res.data.select;
                  this.tableloading=false;
                   this.elbuttonloading=false;
                   {#console.log(this.tableloading);#}
                   this.errMsg = res.data.err_msg;
                   if(this.errMsg){
                            this.$alert(this.errMsg, '提示', {
                                  type: 'warning',
                                })
                        }else {

                        }
                })
             },
            handleClick: function(row) {
                //alert(row.FSaleName);//获取该行FSaleName列的值。
                {#console.log(this,"ttt",this.$router)#}
                {% comment %}this.$router.push({path:'/ABOTestPlan/ABOTestPlan_edit/',
                    name:'/ABOTestPlan/ABOTestPlan_edit/',//必须带name属性，要不然参数传递不成功。
                    params:{
                      Customer:row.Customer,Project:row.Project,Phase:row.Phase,Category:row.Category,TestID:row.TestID,TestITestItemsD:row.TestItems,
                    }
                });{% endcomment %}
                //console.log(row);
                let msg = {
              "isGetData" : "ABOTestPlan_edit" ,
                filepath:row.filepath,
                  }
                   axios.post("/ABOTestPlan/ABOTestPlan_summary/",Qs.stringify(msg,{indices:false}),{
                            headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                        } ).then((res) => {
                            {% comment %}console.log(this,"ttt",this.$router){% endcomment %}
                       {% comment %} this.$router.push({path:'/Lesson_search/'});{% endcomment %}//需要定义router实例化
                       {% comment %}window.location.href="/ABOTestPlan/ABOTestPlan_edit/";{% endcomment %}
                       window.location.href="/ABOTestPlan/ABOTestPlan_search/";

                   })
              },
            changeCustomer:function () {
                 if(this.$refs.Customer.value ==""){
                      this.selectProject=[""];
                      return false;
                 }
                 this.selectProject=this.selectItem[this.$refs.Customer.value];
                 this.selectedProject="";
            },
            changeProject:function(index){
                if(this.$refs.Project.value ==""){
                      this.selectPhase0=[""];
                      return false;
                 }
                for(let index=0;index<this.selectItem[this.selectedCustomer].length;index++){
                     if(this.selectItem[this.selectedCustomer][index]["Project"]==this.selectedProject){
                        this.selectPhase0=this.selectItem[this.selectedCustomer][index]["Phase0"];
                    }
                }
            },
            cellStyle({row,column,rowIndex,columnIndex}){
                {#console.log(columnIndex);#}
                {#console.log(columnIndex,row[this.key_list[columnIndex]]);#}
                {#console.log(column);#}
                if (columnIndex === 6 && row["Status"] === 'Pass' ) {
                  return {
                      background: '#a8c97f'
                  }
              }
              if (columnIndex === 6 && row["Status"] === 'Fail' ) {
                  return {
                      background: '#F56C6C'
                  }
              }
              if (columnIndex === 6 && row["Status"] === 'NS' ) {
                  return {
                      background: '#8b968d'
                  }
              }
              if (columnIndex === 6 && row["Status"] === 'Block' ) {
                  return {
                      background: 'oldlace'
                  }
              }

      },
            exportExcel:function (){
         let temp=[];
         temp.push(Number(this.currentPage));
         temp.push(Number(this.pageSize));
         console.log(temp)
         this.currentPage=1;
         this.pageSize=this.tabledata.length;
         console.log(temp,this.defaultPage1,this.pageSize);
         {% comment %}document.getElementsByClassName("el-table__footer")[0].getElementsByTagName('tr')[0].getElementsByTagName('td')[0].colSpan = 1;
         document.getElementsByClassName("el-table__footer")[0].getElementsByTagName('tr')[0].getElementsByTagName('td')[1].display ="table-row";
         document.getElementsByClassName("el-table__footer")[0].getElementsByTagName('tr')[0].getElementsByTagName('td')[2].display ="table-row";
         document.getElementsByClassName("el-table__footer")[1].getElementsByTagName('tr')[0].getElementsByTagName('td')[1].display ="table-row";
         document.getElementsByClassName("el-table__footer")[1].getElementsByTagName('tr')[0].getElementsByTagName('td')[2].display ="table-row";{% endcomment %}
         setTimeout(() => { let table = document.querySelector("#out-tabledata").cloneNode(true);
         // 因为element-ui的表格的fixed属性导致多出一个table，会下载重复内容，这里删除掉
         {#table.removeChild(table.querySelector(".el-table__fixed"))#}
         {#table.removeChild(table.querySelector(".el-table__fixed-right"))//左右都有固定列#}
            //let wb = XLSX.utils.table_to_book(table,{raw:true});//mytable为表格的id名

        var wb = XLSX.utils.table_to_book(table,{raw:true});
        console.log("wb",wb);
        /* 获取二进制字符串作为输出 */
        var wbout = XLSX.write(wb, {
            bookType: "xlsx",
            bookSST: true,
            type: "array"
        });
        console.log("wbout",wbout);
        try {
            saveAs(
            //Blob 对象表示一个不可变、原始数据的类文件对象。
            //Blob 表示的不一定是JavaScript原生格式的数据。
            //File 接口基于Blob，继承了 blob 的功能并将其扩展使其支持用户系统上的文件。
            //返回一个新创建的 Blob 对象，其内容由参数中给定的数组串联组成。
            new Blob([wbout], { type: "application/octet-stream" }),
            //设置导出文件名称
            "sheetjs.xlsx"
            );

        } catch (e) {
            if (typeof console !== "undefined") console.log(e, wbout);
        }
        this.currentPage=temp[0];
            this.pageSize=temp[1];//edwin:要想导出后回到当前页而不是第一页，<el-pagination里面的:page-size="100"，而不能是:page-size="pageSize"
            //console.log(this.currentPage,this.pageSize)
            temp=[];
        return wbout;},1000) ;
        },
        },
        watch: {
       //關閉customer和project 未輸入提示 以及依據選項產生聯動
       selectedCustomer(newValue,oldValue){
           //關閉錯誤提示
           this.customerError = false;
           console.log(this.customerError);
           //清除上次搜索過的記錄
           this.selectedProject='';
           this.selectedPhase0='';
           this.selectedCategorys='';
           this.selectProject=this.selectItem[this.$refs.Customer.value];;
           immediate:true
       },
       selectedProject(newValue,oldValue){
           //關閉錯誤提示
           this.projectError = false;
           //清除上次搜索過的記錄
           this.selectedPhase0='';
           this.selectedCategorys='';
           if(this.customer == ''){
               return false;
           }
           //console.log(this.selectMsg['0'][this.customer]);
           //遍歷所有數據進行查找
           for(let index =0; index < this.selectItem[this.selectedCustomer].length;index++){
               //查找當前選項
                if(this.selectItem[this.selectedCustomer][index]['project'] == newValue){
                    this.selectPhase0 = this.selectItem[this.selectedCustomer][index]["Phase0"];
                    return ;
                }
           }
       },
       selectedPhase0(newValue,oldValue){
           this.phase0Error = false;
           this.categoryError= false;
           this.category='';

       },
       selectedCategorys(newValue, oldValue){
         this.categorysError= false;
       },
       //监听数组产生出已修改的ID，根据这些ID再判断是否发生更改
},
    })
</script>
{% endblock %}