{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Package_edit{% endblock %}

{% block css %}
 <link href="/static/css/bouncing.css" rel="stylesheet">
 <link href="/static/css/bouncing_edit.css" rel="stylesheet">
 <link href="/static/css/lib/data-table/dataTables.bootstrap.min.css" rel="stylesheet">
　<link rel="stylesheet" href="/static/js/photo/css/lightbox.min.css">
<style>
tbody tr td:last-child {
    text-align: left;
}
.con_td{
    display:flex;
    justify-content: space-between;
    border: none !important;

}
.con_td .ti-zoom-in,.ti-zoom-out{
    line-height: 32px;
    font-size:12px;
    margin-left: 1%;
}
.default{
background-color:rgba(0,255,0,0.9);
        color:#000;
}
.pass{
background-color:rgba(255,255,0,0.9);
color:black;
}
.fail{
background-color:rgba(255,0,0,0.9);
        color:#FFF;
}
.bootstrap-data-table-panel{
overflow:auto;
}
.content{
    width:25px;
    height: 70px;
    position: fixed;
    right: 10px;
    top:60px;
    background-color:#343957;
    color:white;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 24px;
    -ms-writing-mode:tb-rl;
    writing-mode:vertical-lr;
    z-index: 99;
    opacity: 0.9;
    box-shadow:2px 2px 8px #000;
}
#container-yansebiaoshi{
    display:none;
    position: fixed;
    right: 35px;
    top:60px;
    z-index: 99;
    width:400px;
    height: 120px;
    background-image:url("/static/images/spec/blackboardback.jpg") ;
    border: 2px solid  #deb887;
}
</style>

{% endblock %}
{% block content %}
     <div class="content" id="yincang">spec</div>
<div id="container-yansebiaoshi">
   <div class="row">
      <div class="col-md-6"><div class="reddiv" style="text-align: center;background-color:#ff4500;width:180px;height:40px;"><h4 style="color:white;">&gt;200</h4></div><div style="text-align: center;background-color:#FFD700;width:180px;height:30px;"><h4 style="color:white;">150~200</h4></div><div style="text-align: center;background-color:#00CD66;width:180px;height:30px;"><h4 style="color:white;">&lt150</h4></div></div>
      <div class="col-md-6"><div style="background:darkcyan;padding:7px 10px;"><h6 style="color:white;">Sensor貼附在D cover上，相對來説正反面的測試G值會更大一些。</h6></div></div>
    </div>
</div>
<div id="app">
      <div class="row">
               <div class="col-md-3">
                    <label for="Customer" style="color:#FFF">客户:</label>
                    <select id="Customer" ref="customer" @change="changeCustomer" style="height:30px;width:100px;border-radius:5px 5px 5px 5px;">
                         <option value=""> </option>
                         <option v-for="(item,key,index) in selectItem" v-model="selectedCustomer">${ key }</option>
                    </select>
               </div>
               <div class="col-md-3">
                    <label for="Project" style="color:#FFF">专案:</label>
                    <select id="Project" ref="project" v-model="selectedProject" style="height:30px;border-radius:5px 5px 5px 5px;width:100px;">
                         <option></option>
                         <option v-for="(item,index) in selectProject">${ item }</option>
                    </select>
               </div>
               <div class="col-md-3">
                    <label for="p_pattern" style="color: #FFF">包装方式:</label>
                   <select style="height: 30px;border-radius: 5px;width: 100px;" id="p_pattern" ref="pattern">
                       <option value=""></option>
                       <option v-for="(item,index) in others.Pattern">${ item }</option>
                   </select>
               </div>
               <div class="col-md-2">
                    <input type="button" style="background: #428bca;color:#fff;height:30px;width:100px;border:0;border-radius: 5px;" value="Search" name="Search" @click="selectMsg"/>
               </div>
     </div>
     <div  class="row">
     {% csrf_token %}
             {% comment %}<section id="main-content">{% endcomment %}
                       <div class="card" style="background-color:rgba(255,255,255,0.9);overflow:auto;width:calc(100% - 30px);">
                                  <div id="bootstrap-data-table-panel" >
                                        <div class="table-responsive" style="max-height: 1000px;color:#FFF;">
                                                  <table id="bootstrap-data-table-export" class="table table-striped table-bordered" width="100%" cellspacing="0" style="color:#FFF">
                                                        <thead>
                                                              <tr>
                                                                    {% comment %} <th style="color:#FFF">Action</th>{% endcomment %}
                                                                     <th>客户</th>
                                                                     <th>专案</th>
                                                                     <th >方式</th>
                                                                     <th >角</th>
                                                                     <th >短</th>
                                                                     <th >中</th>
                                                                     <th >长</th>
                                                                     <th >左</th>
                                                                     <th >右</th>
                                                                     <th >上</th>
                                                                     <th >底</th>
                                                                     <th >正</th>
                                                                     <th >反</th>
                                                                     <th >备注</th>
                                                                     <th >附件</th>
                                                                     {% comment %}<th style="color:#FFF">Editor</th>
                                                                     <th style="color:#FFF">Edit Time</th>{% endcomment %}
                                                              </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr v-for="(items,index) in tableContent" :id="editNo(index)">

                                                               {% comment %}<td @click="Action($event,items.id)" :id="makeNo(index)"><i class="ti-pencil-alt" style="color: #FFF"></i></td>{% endcomment %}
                                                               <td >${ items.Customer }</td>
                                                               <td >${ items.Project }</td>
                                                               <td >${ items.Pattern }</td>
                                                               <td :class="[(items.angle<150)?'default':(items.angle>200)?'fail':'pass']">${ items.angle }</td>
                                                               <td :class="[(items.short<150)?'default':(items.short>200)?'fail':'pass']">${ items.short}</td>
                                                               <td :class="[(items.middle<150)?'default':(items.middle>200)?'fail':'pass']">${ items.middle }</td>
                                                               <td :class="[(items.long<150)?'default':(items.long>200)?'fail':'pass']">${ items.long }</td>
                                                               <td :class="[(items.left<150)?'default':(items.left>200)?'fail':'pass']">${ items.left }</td>
                                                               <td :class="[(items.right<150)?'default':(items.right>200)?'fail':'pass']">${ items.right }</td>
                                                               <td :class="[(items.top<150)?'default':(items.top>200)?'fail':'pass']">${ items.top } </td>
                                                               <td :class="[(items.bottom<150)?'default':(items.bottom>200)?'fail':'pass']">${ items.bottom }</td>
                                                               <td :class="[(items.front<150)?'default':(items.front<200)?'pass':'fail']">${ items.front }</td>
                                                               <td :class="[(items.behind<150)?'default':(items.behind<200)?'pass':'fail']">${ items.behind }</td>
                                                               <td   :id="'on'+index" class="con_td" {% comment %}@mouseover="showDes($event)" @mouseleave="hiddenDes($event)"{% endcomment %} ><div :id="'con'+index" class="con">${ items.Remark }</div><i :id="'n'+index" class="ti-zoom-in"  @click="showAll($event)"></i></td>
                                                               {% comment %}<td >${ items.Remark }</td>{% endcomment %}
                                                               {% comment %}<td style="color:#FFF">${ items.Editor }</td>
                                                               <td style="color:#FFF">${ items.Edit_Time }</td>{% endcomment %}
                                                               {% comment %}<td v-for="index in tableContent.Photo_P">

{#                                                                                <img src="../media/{{ i.img }}" height="100" width="200" alt="" />#}
                                                                  <a href="'/media/'+index" class="test-popup-link"><img :src="'/media/'+index" height="50" width="100" alt="" /></a>


                                                                </td>{% endcomment %}
                                                              <td  >

{#                                                                                <img src="../media/{{ i.img }}" height="100" width="200" alt="" />#}
                                                                 {% comment %} ${ items.Photo_P }{% endcomment %}
                                                                   <li v-for="index in  items.file_P ">
                                                                       {% comment %}${ index }{% endcomment %}
                                                                    <a v-bind:href="'/media/'+index"{% comment %} class="example-image-link" data-lightbox="example-set" data-title="Click the right half of the image to move forward."{% endcomment %}>{% comment %}<img v-bind:src="'/media/'+index" class="example-image" height="50" width="100" alt="" />{% endcomment %}<img src="/static/src/back/document_save_2_24px_539656_easyicon.net.png" ></a>
                                                                    {% comment %}<a v-bind:href="'/media/'+index" class="test-popup-link"><img v-bind:src="'/media/'+index" height="50" width="100" alt="" /></a>{% endcomment %}
                                                                   </li>

                                                                </td>
                                                          </tr>
                                                        </tbody>
                                                  </table>
                                        </div>
                                  </div>
                       </div>

             {% comment %}</section>{% endcomment %}
     </div>
     <div class="fullScreen" v-if="choose">
        <div  v-cloak class="editWindow">
            <div class="close">
                 <button class="close" type="button" data-dismiss="modal" aria-label="Close" @click="close">
                 <span aria-hidden="true">×</span>
                 </button>
            </div>
            <div class="editContent">
                 <div class="inline_content" >
                        <div class="inline-child"><div>角：</div><input  v-cloak type="text" v-model="tempdataName.angle" id="angle" :class="[verify['input_angle']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_angle']" id="angle_error" style="position: absolute"></div></div>
                        <div class="inline-child"><div>短棱：</div><input v-cloak type="text" v-model="tempdataName.short" id="short" :class="[verify['input_short']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_short']" id="short_error" style="position: absolute"></div></div>
                 </div>
                 <div class="inline_content" >
                        <div class="inline-child"><div>中棱：</div><input v-cloak type="text" v-model="tempdataName.middle" id="middle" :class="[verify['input_middle']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_middle']" id="middle_error" style="position: absolute"></div></div>
                        <div class="inline-child"><div>长棱：</div><input v-cloak type="text" v-model="tempdataName.long" id="long" :class="[verify['input_long']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_long']" id="long_error" style="position: absolute"></div></div>
                 </div>
                 <div class="inline_content" >
                        <div class="inline-child"><div>左面：</div><input v-cloak type="text" v-model="tempdataName.left" id="left" :class="[verify['input_left']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_left']" id="left_error" style="position: absolute"></div></div>
                        <div class="inline-child"><div>右面：</div><input v-cloak type="text" v-model="tempdataName.right" id="right" :class="[verify['input_right']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_right']" id="right_error" style="position: absolute"></div></div>
                 </div>
                 <div class="inline_content" >
                        <div class="inline-child"><div>上面：</div><input v-cloak type="text" v-model="tempdataName.top" id="top" :class="[verify['input_top']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_top']" id="top_error" style="position: absolute"></div></div>
                        <div class="inline-child"><div>底面：</div><input v-cloak type="text" v-model="tempdataName.bottom" id="bottom" :class="[verify['input_bottom']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_bottom']" id="bottom_error" style="position: absolute"></div></div>
                 </div>
                 <div class="inline_content" >
                        <div class="inline-child"><div>正面：</div><input v-cloak type="text" v-model="tempdataName.front" id="front" :class="[verify['input_front']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_front']" id="front_error" style="position: absolute"></div></div>
                        <div class="inline-child"><div>反面：</div><input v-cloak type="text" v-model="tempdataName.behind" id="behind" :class="[verify['input_behind']?'errorStyle':'commonStyle']" @blur="write($event)"><br><div v-show="verify['input_behind']" id="behind_error" style="position: absolute"></div></div>
                 </div>
                 <div class="inline_content">
                        <div>Remark:</div><textarea rows="5" cols="75" type="text" v-model="tempdataName.Remark"></textarea>
                 </div>
                 <div class="inline_content">
                        <div class="inline-child">
                                <button id="editSubmit" @click="edit_submit">Submit</button>
                                <button id="editCancel" @click="close">Cancel</button>
                        </div>
                 </div>
            </div>
        </div>
     </div>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="/static/js/lib/data-table/buttons.flash.min.js"></script>
<script src="/static/js/lib/data-table/jszip.min.js"></script>
<script src="/static/js/lib/data-table/pdfmake.min.js"></script>
<script src="/static/js/lib/data-table/vfs_fonts.js"></script>
<script src="/static/js/lib/data-table/buttons.html5.min.js"></script>
<script src="/static/js/lib/data-table/buttons.print.min.js"></script>
<script src="/static/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
<script src="/static/js/photo/js/lightbox.js"></script>
<script type="text/babel">

$(document).ready(function() {
    $("#yincang").click(function () {
        $("#container-yansebiaoshi").toggle("slide");
        console.log("ggg");
    });
    $("body").click(function (e) {
    if (!$(e.target).closest("#yincang").length) {
        $("#container-yansebiaoshi").hide();
    }
    });
})

    new Vue({

       el:"#app",
       delimiters: ['${', '}'],
       data () {

         return {
                others:{},
                selectedCustomer:null,
                selectedProject:null,
                selectProject:[],
                selectItem:{},
                error:false,
                result:{},
                choose:false,
                tableContent:null,
                tempdata:[],
                titleName:[],
                tempdataName:{},
                selectId:null,
                test:"",
                verify:{
                    input_angle:false,
                    input_short:false,
                    input_middle:false,
                    input_long:false,
                    input_left:false,
                    input_right:false,
                    input_top:false,
                    input_bottom:false,
                    input_front:false,
                    input_behind:false,
                },
                inputId:{
                    angle:2,
                    short:2,
                    middle:2,
                    long:2,
                    left:2,
                    right:2,
                    top:2,
                    bottom:2,
                    front:2,
                    behind:2,
                }
            }
       },
       mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
              },
       methods:{
             changeCustomer:function () {
                 if(this.$refs.customer.value ==""){
                      this.selectProject=[""];
                      return false;
                 }
                 this.selectProject=this.selectItem[this.$refs.customer.value];
                 this.selectedProject="";
                 console.log(this.selectProject);
             },
            dataTableDestroy:function(){
                $("#bootstrap-data-table-export").DataTable().destroy();
            },
            dataTableInit:function(){
               Vue.nextTick(() => {
                $("#bootstrap-data-table-export").DataTable({
                    dom: 'lBfrtip',
                    //retrieve: true,
                    bAutoWidth: false,
                    lengthMenu: [[100, 25, 50, -1], [100, 25, 50, "All"]],
                    buttons: [
                        {% comment %}'copy', 'csv', 'excel', 'pdf', 'print'{% endcomment %}
                    ]
                });
                console.log("dom");
            })
             },
            //获取数据
            getdata:function(e){
                let data = {"isGetData":e,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()};
                axios.post("/Package/Package-search/",Qs.stringify(data), {
                    headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    console.log(res.data.content,"123");
                    this.dataTableDestroy();
                    this.tableContent=res.data.content;
                    this.selectItem=res.data.select;
                    this.others=res.data.others;
                    this.dataTableInit();
                });

            },
           //为编辑按钮设置ID
             makeNo:function(e){
             return "td" + e ;
            },
             //点击出现全部内容
             showAll:function(e){
                 let con = e.currentTarget.id;
                 //$('#'+con).css({"display":"none"});
                 if($('#'+con).attr('class')=="ti-zoom-in"){
                     $('#co'+con).css({"white-space":"inherit","text-overflow":"inherit","overflow":"inherit","word-wrap":"break-word"});
                     let conHeight=$('#co'+con).height()+"px";
                     $('#'+con).css({"line-height":conHeight});
                     $('#'+con).removeClass().addClass("ti-zoom-out");
                 }else{
                     $('#co'+con).css({"white-space":"nowrap","text-overflow":"ellipsis","overflow":"hidden"});
                     let conHeight=$('#co'+con).height()+"px";
                     $('#'+con).css({"line-height":"32px"});
                     $('#'+con).removeClass().addClass("ti-zoom-in");
                 }

                 //console.log($('#'+con).attr('class'),123);
             },
            //点击编辑按钮，弹出修改界面
             Action:function(e,id){
              console.log(e.currentTarget.id);
              var hasTabId = e.currentTarget.id;  //获取触发点击事件的元素ID(这里指页面表格显示的临时ID，并非获取数据的真实ID)
              var chooseTr= document.getElementById(hasTabId).parentNode.id ; //获取触发点击事件的父级元素的ID(此ID同上)
              var tr = document.getElementById(chooseTr);
              //生成title数组:
              //由于无法获取对象的key,所以动态生成一个title的数组
              for(var key in this.tableContent[0]){
                 if(key!="id"){
                     this.titleName.push(key);
                 }
              }
             //生成一个临时数组用于存放节点内容，即表格中的每一项数据；
              var tab=[];
              for(var i= 1;i<=tr.childNodes.length-1;i++ ) {
               // 遍历子节点会出现空节点，为此需要删除无效节点
               if(tr.childNodes[i].nodeType==1){
                //console.log(tr.childNodes[i].innerHTML);
                tab.push(tr.childNodes[i].innerHTML); //生成修改选项的所有值的数组

                }
              }
              for(var i = 0; i< tab.length;i++){
                this.tempdataName[this.titleName[i]]=tab[i];
               }
              tab.push(chooseTr.slice(4));
              this.tempdataName['index']=chooseTr.slice(4);
              this.tempdataName['id']=id;
              this.tempdata=tab;
              this.selectId=id;
              //console.log(this.tempdata);
              this.choose= true; //最后打开修改界面
            },
            //上传搜索项：以此选项搜索符合条件的内容
             selectMsg :function(){
               let customer = this.$refs.customer.value;
               let project = this.$refs.project.value;
               let pattern = this.$refs.pattern.value;
               let data ={"customer":customer,"project":project,"pattern":pattern,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
               axios.post("/Package/Package-search/",Qs.stringify(data), {
               headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                  console.log(res.data.content);
                  this.dataTableDestroy();
                  this.tableContent=res.data.content;
                  this.selectItem=res.data.select;
                  this.dataTableInit();
                })
             },
             //生成tr的ID
             editNo:function(index){
               return "row_" + index ;
              },
              //关闭修改界面
             close:function(){
                this.choose = false;
                 for (let item in this.verify){
                   this.$set(this.verify,item,false); //将判断输入框的是否发生验证错误的值恢复为默认false
                }
             },
             //修改界面的提交按钮事件：
             //1. 首先上传提交修改内容 ；
             edit_submit:function(){

               //console.log(Object.values(this.tableContent)[this.tempdataName['index']]);
               //console.log(this.tempdataName);
                //检查是否出现重复
                 let num=1;
               //  console.log(this.selectId);
                  //判断是否有输入框发生验证错误，有则返回false，没有则继续验证
                 for(var items in this.verify ){
                     //console.log(items);
                     if (this.verify[items]){
                         return false;
                     }
                 }
                 //验证编辑内容是否发生改变，没有则停止上传，否则将编辑内容上传
                 for(var item in Object.values(this.tableContent)[this.tempdataName['index']] ) {
                    //console.log(Object.values(this.tableContent)[this.tempdataName['index']]);
                    //console.log(this.tempdataName[item]);
                     if(this.tempdataName.hasOwnProperty(item) && Object.values(this.tableContent)[this.tempdataName['index']].hasOwnProperty(item)){
                         if(Object.values(this.tableContent)[this.tempdataName['index']][item]!=this.tempdataName[item]){
                            num=1;
                            break;
                     }else{
                        //console.log((Object.keys(this.tempdataName)).length);
                    }
                     }
                 }
                 if(num == 0){
                            alert("内容未更新");
                            return false;
                        }
                 this.tempdataName["isGetData"]='edit0';
                 axios.post("/Package/Package-search/",Qs.stringify(this.tempdataName), {
                  headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                   }).then((res) => {
                    console.log("已修改");
                    this.getdata("edit");
                    //2.再将修改后的内容在表格上显示出来
                     //for(var item in Object.values(this.tableContent)[this.tempdataName['index']] ){
                   // Object.values(this.tableContent)[this.tempdataName['index']][item]=this.tempdataName[item];
                   //  }
                    this.choose= false;
                })

             },
              //表单验证函数
             write:function (event) {
               // console.log(event.currentTarget.value);
                let err_msg=document.getElementById(event.currentTarget.id+"_error"); //获取输入框后的error提示框的ID
                err_msg.innerHTML="";//将error提示框的初始值设置为空，否则会不断添加内容，不会清除
                var num =/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$/;//验证输入是否为小数或正整数的正则表达式规则

                if(event.currentTarget.value.length ==0){
                   // console.log(event);
                   // this.error=true;
                   err_msg.innerHTML="輸入不可為空";
                    this.$set(this.verify,"input_"+event.currentTarget.id,true);
                  return false;
                }
                if(this.inputId[event.currentTarget.id] ==2 ){
                    if(!num.test(event.currentTarget.value)){
                     err_msg.innerHTML="請輸入小數或正整數";
                     this.$set(this.verify,"input_"+event.currentTarget.id,true);
                     return false;
                   }
                 }
                 //this.error=false;
                 //若判断都符合要求，verify的相应值应该为false
                this.$set(this.verify,"input_"+event.currentTarget.id,false);
             },

          }

})



</script>
    <script src="/static/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
    <script>

        // 查看图片
        $('.test-popup-link').magnificPopup({
            type: 'image'
        });

    </script>
{% endblock %}
