{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}DriverList_upload{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/ElementUI.css">
<style>
    @media screen and (min-width: 1416px ){
        .selectMsg .fileUploadContent{
           {#margin: 15px 0 0 0 ;#}
           display: inline-flex;
           display: -webkit-inline-flex
       }
    }
    @media screen and (min-width: 970px ) and ( max-width: 1415px) {
       .container-fluid .row{
              flex-wrap: nowrap;
          }
       .selectMsg .el-select{
           width: 150px;
       }
       .selectMsg .fileUploadContent{
           {#margin: 15px 0 0 0 ;#}
           display: inline-flex;
           display: -webkit-inline-flex
       }
    }
    @media screen and (min-width:769px ) and (max-width: 969px){
          .container-fluid .row{
              flex-wrap: nowrap;
          }
         .selectMsg .el-select{
           width: 150px;
         }
    }
    @media screen and (min-width:600px ) and (max-width: 768px){
        .container-fluid .row{
              flex-wrap: nowrap;
          }
        .customerContent,.categoryContent,.functionContent{
            width: 140px;
            text-align: center
        }
        .selectMsg .Button{
            margin: 34px 0 0 0 ;
        }
    }
      .selectMsg{
         font-size:16px;
          padding: 15px;
          display: flex;
      }
      .selectMsg label{
          font-weight: 800;
          margin-right: 10px;
          color:aliceblue;
      }
       .selectMsg label:last-child{
         margin-left: 15px;
       }
      .selectMsg #category{
          margin-left: 0;
      }
       .tableAround{
        padding: 20px;
        -moz-box-shadow: 0px 0px 10px #333333;
        -webkit-box-shadow: 0px 0px 10px #333333;
        box-shadow: 0px 0px 10px #333333;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.1);
    }
     .inputError{
        text-align: center;
        color: crimson;
        background-color: beige;
        width: 50%;
        margin: 10px auto 5px;
        position: relative;
    }
      .inputError:before{
        display:block;
        content:'';
        border-width:8px 8px 8px 8px;
        border-style:solid;
        border-color:transparent transparent beige transparent;

        /* 定位 */
        position:absolute;
        left:50%;
        top:-16px;
    }
    .selectItem{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    }
.el-pagination__total,.el-pagination__jump{
    color: white;
}
</style>
{% endblock %}
{% block content %}
<div id="app">
     <div class="selectMsg" >
        <div class="customerContent">
        <label for="customer" v-cloak>Customer </label>
          <el-select  v-model="customer" width="80%" style="margin-right: 20px;width:200px">
                <el-option v-for="item in selectOptions[0]" :label="item.label" :value="item.value"  ></el-option>
          </el-select><br>
          <div class="inputError" v-cloak v-show="customerError">客戶別未選擇</div>
        </div>
        <div class="categoryContent">
        <label for="category" v-cloak>Category </label>
          <el-select  v-model="category" width="80%" style="margin-right: 20px;width:200px" v-cloak>
                <el-option v-for="item in selectOptions[1]" :label="item.categoty" :value="item.categoty"  ></el-option>
          </el-select><br>
          <div class="inputError" v-cloak v-show="categoryError">不能为空</div>
        </div>
        <div class="functionContent">
        <label for="fc" v-cloak>Function </label>
          <el-select  v-model="fc" width="80%" style="margin-right: 40px;width:200px" v-cloak>
                <el-option v-for="item in selectOptions[2]" :label="item.fc" :value="item.fc"  ></el-option>
          </el-select><br>
          <div class="inputError" v-cloak v-show="functionError">不能为空</div>
        </div>
        <el-button v-cloak @click="Search" type="primary" style="height:40px;margin-right: 20px">搜索</el-button>
        <el-button type="success"  style="height:40px;margin-right: 20px" @click="update=true"><i class="el-icon-circle-plus el-icon--left"></i>新增信息</el-button>
     </div>

     <el-dialog :visible.sync="update">
          <template>
                <el-form ref="form" :model="form" label-width="100px">
                          <el-form-item label="Customer">
                              <el-select v-model="form.Customer1" placeholder="请选择">
                                    <el-option label="C38(NB)" value="C38(NB)"></el-option>
                                    <el-option label="A39" value="A39"></el-option>
                                    <el-option label="C38(AIO)" value="C38(AIO)"></el-option>
                                    <el-option label="T88(AIO)" value="T88(AIO)"></el-option>
                                    <el-option label="C38(NB)-SMB" value="C38(NB)-SMB"></el-option>
                              </el-select>
                          </el-form-item>
                          <el-form-item label="Category">
                              <el-select v-model="form.Category1" placeholder="请选择">
                                  <el-option label="HW" value="HW"></el-option>
                                  <el-option label="SW" value="SW"></el-option>
                              </el-select>
                          </el-form-item>
                          <el-form-item label="Function">
                              <el-select v-model="form.Functionn1" placeholder="请选择">
                                    <el-option label="Performance" value="Performance"></el-option>
                                    <el-option label="Stress" value="Stress"></el-option>
                                    <el-option label="Reliability" value="Reliability"></el-option>
                                    <el-option label="Panel" value="Panel"></el-option>
                              </el-select>
                          </el-form-item>
                          <el-form-item label="Case_name">
                              <el-input v-model="form.Case_name1"></el-input>
                          </el-form-item>
                          <el-form-item label="Version">
                              <el-input v-model="form.Version1"></el-input>
                          </el-form-item>
                          <el-form-item label="Attachment">
                                <el-upload
                                  action="#"
                                  list-type="picture-card"
                                  :on-success="handleImageSuccess"
                                  {% comment %}:before-upload="beforeImageUpload"{% endcomment %}
                                  :auto-upload="true"
                                  :file-list="fileListO"
                                >
                                  <!-- 十字图标 -->
                                  <i slot="default" class="el-icon-plus"></i>
                                  <!-- 文件 -->
                                  {% comment %}<div slot="file" slot-scope="{file}">
                                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt />
                                    <video class="el-upload-list__item-thumbnail" :src="file.url" alt />{% endcomment %}
                                    <span class="el-upload-list__item-actions">
                                      <span class="el-upload-list__item-preview" @click="handlePictureCardPreview(file)">
                                        <i class="el-icon-zoom-in"></i>
                                      </span>
                                    </span>
                                  {% comment %}</div>{% endcomment %}
                                </el-upload>
                          </el-form-item>
                          <el-form-item>
                               <el-button type="primary" @click="onSubmit">上传</el-button>
                          </el-form-item>
                </el-form>
          </template>
     </el-dialog>


     <div class="tableAround" v-cloak >
         <span class="selectItem" v-cloak  v-if="showCustomer&&showCategory&&showFunction">當前表格信息：${ showCustomer }/${ showCategory }/${ showFunction}</span>
         <el-table border stripe :data="tableData.slice((currentPage -1 )*pagesize,(currentPage)*pagesize)">
             <el-table-column type="index" label="No."  :index="indexMethod" ></el-table-column>
             <el-table-column width="170" label="Customer">
                 <template slot-scope="scope">
                     <el-select v-if="showEdit[scope.$index]&&canEdit==1" v-model="Customer[scope.$index + (currentPage-1)*pagesize]" >
                                    <el-option label="C38(NB)" value="C38(NB)"></el-option>
                                    <el-option label="A39" value="A39"></el-option>
                                    <el-option label="C38(AIO)" value="C38(AIO)"></el-option>
                                    <el-option label="T88(AIO)" value="T88(AIO)"></el-option>
                                    <el-option label="C38(NB)-SMB" value="C38(NB)-SMB"></el-option>
                      </el-select>
                  <span v-else="showEdit[scope.$index]"  >${ scope.row.Customer }</span>
                </template>
             </el-table-column>
             <el-table-column width="170" label="Category">
                     <template slot-scope="scope">
                         <el-select v-if="showEdit[scope.$index]&&canEdit==1" v-model="Category[scope.$index + (currentPage-1)*pagesize]" >
                                  <el-option label="HW" value="HW"></el-option>
                                  <el-option label="SW" value="SW"></el-option>
                          </el-select>
                      <span v-else="showEdit[scope.$index]"  >${ scope.row.Category }</span>
                    </template>
             </el-table-column>
             <el-table-column width="170" label="Function">
                    <template slot-scope="scope">
                         <el-select v-if="showEdit[scope.$index]&&canEdit==1" v-model="Fc[scope.$index + (currentPage-1)*pagesize]" >
                                    <el-option label="Performance" value="Performance"></el-option>
                                    <el-option label="Stress" value="Stress"></el-option>
                                    <el-option label="Reliability" value="Reliability"></el-option>
                                    <el-option label="Panel" value="Panel"></el-option>
                          </el-select>
                      <span v-else="showEdit[scope.$index]"  >${ scope.row.Fc }</span>
                    </template>
             </el-table-column>
             <el-table-column width="300" label="Case name">
                 <template slot-scope="scope">
                      <input v-if="showEdit[scope.$index]&&canEdit==1" type="text"  v-model.lazy="Case_name[scope.$index + (currentPage-1)*pagesize]"  class="el-input__inner">
                      <span  v-else="showEdit[scope.$index]">${ scope.row.Case_name }</span>
                </template>
             </el-table-column>
             <el-table-column width="170" label="Version">
                 <template slot-scope="scope">
                      <input v-if="showEdit[scope.$index]&&canEdit==1" type="text"  v-model.lazy="Version[scope.$index + (currentPage-1)*pagesize]"  class="el-input__inner">
                      <span  v-else="showEdit[scope.$index]">${ scope.row.Version }</span>
                </template>
             </el-table-column>
             <el-table-column prop="file" label="Attachment" width="100">
              <template scope="scope">
                  <div v-if="scope.row.file[0]">
                       <a v-for="(item) in scope.row.file" v-bind:href="item"><img src="/static/src/back/document_save_2_24px_539656_easyicon.net.png" ></a>
                  </div>
              </template>
            </el-table-column>
             <el-table-column  width="170" label="操作" align="center" fixed="right">
                 <template slot-scope="scope">
                     <el-button  size="small"     @click.native="editRow(scope.row,scope.$index + (currentPage-1)*pagesize)"    v-if="!showBtn[scope.$index]&&canEdit==1">编辑</el-button>
                     <el-button  size="small"     @click.native="deleteRow(scope.row,scope.$index + (currentPage-1)*pagesize)"     v-if="!showBtn[scope.$index]&&canEdit==1">删除</el-button>

                     <el-button  size="small"     @click.native="saveRow(scope.row,scope.$index + (currentPage-1)*pagesize)"     v-if="showBtn[scope.$index]&&canEdit==1">保存</el-button>
                     <el-button  size="small"     @click.native="cancelRow(scope.row,scope.$index + (currentPage-1)*pagesize)"     v-if="showBtn[scope.$index]&&canEdit==1">取消</el-button>
                 </template>
             </el-table-column>
         </el-table>
         <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[20, 50, 100, 150]"
          :page-size="100"
          layout="total, sizes, prev, pager, next, jumper"
          :total="tableData.length"
          :hide-on-single-page="!tableData.length">
          </el-pagination>
     </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/xlsx/FileSaver.min.js"></script>
<script  src="/static/js/Element/table.js"></script>
<script  src="/static/js/Element/main.js"></script>
<script src="/static/js/Element/input.js"></script>
<script  src="/static/js/Element/table-column.js"></script>
<script src="/static/js/Element/icon.js"></script>
<script src="/static/js/Element/dialog.js"></script>
<script src="/static/js/Element/form.js"></script>
<script src="/static/js/Element/message.js"></script>
<script src="/static/js/Element/index.js"></script>
<script src="/static/js/Element/pagination.js"></script>
<script type="text/babel">
new Vue ({
    el: "#app",
    delimiters: ['${', '}'],
    data() {
        return {
            selectOptions:[],
            customer:'',
            customerError:false,
            category:'',
            categoryError:false,
            fc:'',
            functionError:false,
            showCustomer:'',
            showCategory:'',
            showFunction:'',
            tableData:[],
            showEdit: [], //显示编辑框
            showBtn: [],
            showBtnOrdinary: true,
            currentPage:1,
            pagesize:100,
            totalNum: null,

             Customer:[],
             Category:[],
             Fc:[],
             Case_name:[],
             Version:[],

            update:false,
            dialogImageUrl: '',
            disabled: false,
            PhotoList:[],
            fileListO: [],
            editID:'',
            form: {
              Customer1:'',
              Category1: '',
              Functionn1: '',
              Case_name1: '',
              Version1: '',
            },
            formData:[],
            canEdit:null



        }
    },
    mounted(){
         this.getdata("first");
    },
    methods: {
        indexMethod(index) {
            return index + 1;
        },
        handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
                    this.pageSize = val;
              },
        handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
              this.currentPage = val;
        },
        getdata:function(e){
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/SpecDownload/SpecDownload-summary/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.selectOptions = res.data.selectOptions;
                    this.canEdit = res.data.canEdit;
                    });
        },
        Search:function(){
            if(this.customer==''){
                this.customerError = true;
                return false;
            }
            this.customerError=false;
            if(this.category==''){
                this.categoryError = true;
                return false;
            }
            this.categoryError=false;
            if(this.fc==''){
                this.functionError = true;
                return false;
            }
            this.functionError=false;
          let Customer=this.customer;
          let Category=this.category;
          let FC=this.fc;
          let msg = {
              "isGetData" : "Search" , "Customer":Customer, "Category":Category, "Function":FC,
          }
           axios.post("/SpecDownload/SpecDownload-summary/",Qs.stringify(msg,{indices:false}),{
                    headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                } ).then((res) => {
                               this.tableData = res.data.content;
                               this.totalNum=this.tableData.length;
                                for(let i=0;i<res.data.content.length;i++){
                                    let id = res.data.content[i].id;
                                    Vue.set(this.tableData[i],'index',i+1);
                                }
           })
            this.showCustomer = this.customer;
            this.showCategory = this.category;
            this.showFunction = this.fc;
        },
        editRow:function(row, index){
                   console.log(this.tableData[index],index,row);
                  Vue.set(this.Customer,index,row.Customer);
                  Vue.set(this.Category,index,row.Category);
                  Vue.set(this.Fc,index,row.Fc);
                  Vue.set(this.Case_name,index,row.Case_name);
                  Vue.set(this.Version,index,row.Version);
                  //打開修改框
                    console.log(this.Customer);
                  this.$set(this.showEdit,index,true);
                  this.$set(this.showBtn,index,true);
              },
        saveRow:function(row, index){
                  let result =  {'action':'edit','showCustomer':this.showCustomer,'showCategory':this.showCategory,'showFunction':this.showFunction,'category':this.showCategory,'ID':row.id,'Customer':this.Customer[index],'Category':this.Category[index],'Fc':this.Fc[index],'Case_name':this.Case_name[index],'Version':this.Version[index]}
                  axios.post("/SpecDownload/SpecDownload-summary/" ,Qs.stringify(result, {indices:false}),{
                        headers:{ 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                    }).then((res) => {
                        this.selectOptions = res.data.selectOptions;
                        this.tableData = res.data.content;
                      {% comment %}row.Customer = this.Customer[index];
                      row.Category = this.Category[index];
                      row.Fc = this.Fc[index]
                      row.Case_name = this.Case_name[index];
                      row.Version = this.Version[index];{% endcomment %}
                      //關閉修改框
                      this.$set(this.showEdit, index, false);
                      this.$set(this.showBtn, index, false);
                      //上傳成功提示框
                      this.$message({
                          message: '修改成功',
                          type: 'success'
                      })
                  })
          },
        cancelRow(row,index){
             this.$set(this.showEdit,index,false);
             this.$set(this.showBtn,index,false) ;
              this.$message('取消編輯');
        },
        deleteRow:function(row, index){
             var warning=confirm('此操作将永久删除该条数据, 是否继续?')
                 if(warning) {
                     let result = {
                         'action': 'DELETE',
                         'showCustomer': this.showCustomer,
                         'showCategory': this.showCategory,
                         'showFunction': this.showFunction,
                         'category': this.showCategory,
                         'ID': row.id
                     }
                     axios.post("/SpecDownload/SpecDownload-summary/", Qs.stringify(result, {indices: false}), {
                         headers: {
                             'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8',
                             'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                         } //改变头格式，原生默认上传json格式
                     }).then((res) => {
                         this.tableData = res.data.content;
                         {% comment %}row.Customer = this.Customer[index];
                         row.Category = this.Category[index];
                         row.Fc = this.Fc[index]
                         row.Case_name = this.Case_name[index];
                         row.Version = this.Version[index];{% endcomment %}
                         //上傳成功提示框
                         this.$message({
                             message: '删除成功',
                             type: 'success'
                         })
                     })
                 } else {
                     return false;
                 }
          },

        handleRemove(file) {
          // 删除文件
          console.log(file.response.data);
          let fileNames = file.response.data.split("/");
          fileDelete(fileNames[fileNames.length - 1]).then(res => {
            if (res.data.code == "0000") {
              this.fileList.splice(file, 1);
            }
          });
        },
        handlePictureCardPreview(file) {
          // 预览文件
          this.dialogImageUrl = file.url;
          this.dialogVisible = true;
        },
        handleDownload(file) {
          console.log("下载成功");
          let fileNames = file.response.data.split("/");
          let fileName = fileNames[fileNames.length - 1];
          fileDownload(fileName).then(res => {
            if (res.data.code == "0000") {
                this.downloadFile(fileName,res.data.data);
            }
          });
        },
        handleImageSuccess(res, files, fileList) {
          // 上传成功
            this.formData = new FormData();

          this.fileList = fileList;
          console.log("上传成功" + fileList.length,files,"tt",fileList);

          for(var i=0; i<this.fileList.length; i++){
                this.formData.append('fileList', fileList[i].raw)//fileList里面raw才是文件对象，与files一样
          }


          console.log(this.formData,typeof (this.formData))
        },
        beforeImageUpload(file) {
          // 上传前格式与大小校验

          {#const isJPG = file.type === "image/jpeg"|| file.type == 'image/png'|| file.type == 'video/mp4';#}
          const isLt2M = file.size / 1024 / 1024 < 500;

          {% comment %}if (!isJPG) {
            this.$message.error("上传头像图片只能是 JPG/PNG 格式，视频为mp4格式!");
          }{% endcomment %}
          if (!isLt2M) {
            this.$message.error("上传头像图片大小不能超过 500MB!");
          }
          return isJPG && isLt2M;
            console.log("before" )
            //也是成功的
        },
        // 下载
        downloadFile(fileName, content) {
          let aLink = document.createElement("a");
          let blob = this.base64ToBlob(content); //new Blob([content]);

          let evt = document.createEvent("HTMLEvents");
          evt.initEvent("click", true, true); // initEvent 不加后两个参数在FF下会报错  事件类型，是否冒泡，是否阻止浏览器的默认行为
          aLink.download = fileName;
          aLink.href = URL.createObjectURL(blob);

          // aLink.dispatchEvent(evt);
          aLink.click();
        },
        // base64转blob
        base64ToBlob(code) {
          let parts = code.split(";base64,");
          let contentType = parts[0].split(":")[1];
          let raw = window.atob(parts[1]);
          let rawLength = raw.length;

          let uInt8Array = new Uint8Array(rawLength);

          for (let i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
          }
          return new Blob([uInt8Array], { type: contentType });
        },
        onSubmit() {
            let searchCustomer=this.customer;
            let searchCategory=this.category;
            let searchFC=this.fc;
            console.log('submit!',this.$refs.form.model,typeof (this.$refs.form.model),this.formData);
            {#var submitData = new FormData();#}
            if (this.formData.length==0){this.formData = new FormData();}
{#            this.formData.append('showCategory', this.showCategory)#}
{#            this.formData.append('id', this.editID)#}
            this.formData.append('Customer', this.$refs.form.model.Customer1)
            this.formData.append('Category', this.$refs.form.model.Category1)
            this.formData.append('Functionn', this.$refs.form.model.Functionn1)
            this.formData.append('Case_name', this.$refs.form.model.Case_name1)
            this.formData.append('Version', this.$refs.form.model.Version1)
            {#submitData['Photolist'] = this.formData;#}
            this.formData.append("action",'submit');
            this.formData.append("searchCustomer",searchCustomer);
            this.formData.append("searchCategory",searchCategory);
            this.formData.append("searchFC",searchFC);
            console.log(this.formData)
            axios.post("/SpecDownload/SpecDownload-summary/", this.formData,{
                        headers:{ 'Content-Type': 'multipart/form-data','X-CSRFToken':$("[name='csrfmiddlewaretoken']").val()} //改变头格式，原生默认上传json格式
                    }).then((res)=>{
                        if(res.data.duplicate_check==1){
                            this.$message({
                                  message:'数据已存在！',
                                  type:'warning',
                              })
                        }
                        if(res.data.duplicate_check==0){
                            this.selectOptions = res.data.selectOptions;
                            this.tableData = res.data.content;
                            this.update = false;
                            this.form={};
                            this.fileListO=[];
                            this.$message({

                                  message:'上傳成功',
                                  type:'success',
                              });
                            this.formData = new FormData();
                        }

            })
        },


    }
})

</script>
{% endblock %}






{% comment %}
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}DriverList_upload{% endblock %}
{% block css %}
<style>
.namediv{
    width:535px;
    height: 30px;
    border-radius: 4px;
}
.projectStyle,.imagediv,.driverdiv,.functiondiv,.vendordiv,.versiondiv,.customerdiv,.phasediv{
    width:200px;
    height: 30px;
    border-radius:4px;
}
.fade{
    opacity: 1;
}
#msgContent{
    overflow: auto;
}
    </style>
{% endblock %}
{% block content %}

<!-- 彈出信息提示，用來顯示內容上傳成功和失敗 -->
<div class="modal fade" id="returnMsg" tabindex="-1" role="dialog" aria-labelledby="returnTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="returnTitle">Upload Result</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="msgContent"></div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

            </div>
          </div>
        </div>
        </div>

<div  style="color:white;">文件上传:</div>
    <br/>
<div style="background-color: rgba(255,255,255,0.2);height:50px;width:1150px;margin:0 auto;border-radius:10px 10px 10px 10px;" >
     <div class="upload">
     <input type="file" name="files"   id="xlsxUpload" accept=".xlsx" style="color:#FFF;position:relative;top:10px;left:30px;"/>
     <input type="button" name="button1" id="xlsxSubmit" onclick="Upload(this)" style=" background:#428bca;position:relative;left:50px;top:10px;color:#fff;width:80px;text-align:center;height:32px;line-height:32px;font-size:13px;" value="上传"/>
     </div>
</div>
    <hr/>
    <div  style="color:white;">单条录入:</div><div id="showResult" class="err_msg">上传结果：<span id="showErrResult"></span></div>
    <br/>
<form method="post" action="/DriverTool/DriverList_upload/">
    <div id="form_container" style="background-color: rgba(255,255,255,0.2);margin:0 auto;border-radius:10px 10px 10px 10px;" >
        <div class="row">
                <div class="col-md-4" style="color:white;text-align: center"><label for="Customer" style="color: #FFF;width:90px;font-size:large;" >Customer:</label></div>
                <div class="col-md-4" style="color:white;text-align: center"><label for="Project" style="color: #FFF;width:90px;font-size: large;" >Project:</label></div>
                <div class="col-md-4" style="color:white;text-align: center"><label for="Phase0"  style="color: #FFF;width:90px;font-size: large;" >Phase:</label></div>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Customer }}</div>
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Project }}</div>
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Phase0 }}</div>
            </div>
            <div class="row">
                <div class="col-md-4" style="color:white;text-align: center"><label for="Image"  style="color: #FFF; font-size:large;" >Image:</label></div>
                <div class="col-md-4" style="color:white;text-align: center"><label for="Driver"  style="font-size:large;color: #FFF" >Driver:</label></div>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Image }}</div>
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Driver }}</div>
            </div>
            <div class="row">
                <div class="col-md-8" style="text-align: center"><label for="Name" style="font-size:large;color:#fff;">Driver/Utility/Firmware/Application Name: </label></div>
            </div>
            <div class="row">
                <div class="col-md-8" style="text-align: center">{{ DriverList_M_lists.Name }}</div>
            </div>
            <div class="row">
                <div class="col-md-4" style="font-size:large;color:white;text-align: center"><label for="Function" style="color:#fff">Function: </label></div>
                <div class="col-md-4" style="font-size:large;color:white;text-align: center"><label for="Vendor" style="color:#fff">Vendor: </label></div>
                <div class="col-md-4" style="font-size:large;color:white;text-align: center"><label for="Version" style="color:#fff" name="Version">Version: </label></div>
            </div>
            <div class="row">
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Function }}</div>
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Vendor }}</div>
                <div class="col-md-4" style="text-align: center">{{ DriverList_M_lists.Version }}</div>
            </div>
            <div class="row">
            <div class="col-md-4" ></div>
            <div class="col-md-4" style="text-align: center">
                <button type="submit" id="upload1" style="background:#428bca;color: #FFF;width:80px;text-align:center;height:32px;line-height:32px;font-size:13px;" value="上传" name="Upload">Upload</button>
            </div>
            <div class="col-md-4" ></div>
            </div>
    </div>
</form>

{% endblock %}
{% block scripts %}
<script src="/static/js/xlsx/xlsx.js"></script>
<script src="/static/js/xlsx/xlsx.core.min.js"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script>
var backResult=['Pass','Fail','上传数据成功','上传数据重复'];
window.onload=function(){
    var el =document.getElementById("showErrResult");

    var result={{ result  }};
    console.log(backResult[result]);
    if(result==0){

        el.innerHTML=backResult[result+2];
        $("#showErrResult").css({"color":"green"});
        $("#showResult").css({"display":"block"});
        //alert(backResult[result+2]);
        setTimeout(function () {
            $("#showResult").css({"display":"none"});
        },3000);
    }
    else if(result==1){
        el.innerHTML=backResult[result+2];
        $("#showErrResult").css({"color":"red"});
        $("#showResult").css({"display":"block"});
        alert(backResult[result+2]);
    }
    else {

    }


}
</script>
{% endblock %}{% endcomment %}
