{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}My-application{% endblock %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<style>

/* 解决el-table 表线不齐 */
.el-table th.gutter {
  display: table-cell !important;
}


.showNum{
font-size: 20px;
font-weight: bold;
color: white;
}
.el-tabs__item{
color:white;
}

 .el-pagination__total,.el-pagination__jump{
    color:white;
}

</style>
{% endblock %}
{% block content %}
<div id="app">
<div class="111" style="margin-bottom:20px;">
      <span class="showNum" style="margin-left: 30px">已選 <span id="selectNum">0</span> 條</span> <el-button type="primary"  @click="Add()" size="medium" style="margin-left: 50px">修改</el-button> <el-button type="primary"  @click="Delete()" size="medium" style="margin-left: 50px">撤回</el-button>
</div>
<el-dialog :visible.sync="updateDataNPI">
           <template>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" size="medium">

            <el-row>
              <el-col span="12">
              <el-form-item label="Project" prop="Project">

                <el-select v-model="ruleForm.Project" filterable clearable placeholder="请选择" @change="changeDate">
                    <el-option
                        v-for="item in sectionProject"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                    </el-option>
                </el-select>
              </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="Role" prop="Role">
                    <el-select v-model="ruleForm.Role" placeholder="请选择">
                      <el-option label="QM" value="QM"></el-option>
                      <el-option label="TL" value="TL"></el-option>
                      <el-option label="TE" value="TE"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col span="12">
                  <el-form-item label="SS Date" prop="SS_Date">
                     <el-input v-model="ruleForm.SS_Date" style="width: 210px;" disabled="true"></el-input>
                  </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="Fun." prop="Func">
                    <el-select v-model="ruleForm.Func" placeholder="请选择" @change="changeSubFun">
                      <el-option label="Compatibility" value="Compatibility"></el-option>
                      <el-option label="Reliability" value="Reliability"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col span="12" v-if="CanShow===1">
                  <el-form-item label="Phase" prop="Phase">
                    <el-select v-model="ruleForm.Phase" placeholder="请选择">
                        <el-option label="B" value="B"></el-option>
                        <el-option label="C" value="C"></el-option>
                        <el-option label="OOC" value="OOC"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
              <el-col span="12" v-if="CanShow===0">
                  <el-form-item label="Phase" prop="Phase">
                    <el-select v-model="ruleForm.Phase" placeholder="请选择">
                        <el-option
                            v-for="item in sectionPhase"
                            :key="item"
                            :label="item"
                            :value="item">
                        </el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="Sub Fun." prop="SubFunc">
                    <el-select v-model="ruleForm.SubFunc" placeholder="请选择">
                        <el-option
                            v-for="item in sectionSubFun"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                        </el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
                <el-col span="23">
                  <el-form-item label="Comments" prop="Comments">
                    <el-input type="textarea" v-model="ruleForm.Comments" :rows="5"></el-input>
                  </el-form-item>
                </el-col>
            </el-row>
            <div class="el-form-item__content" style="margin-left: 200px;">
              <el-form-item>
                <el-button type="primary" @click="onSubmit('ruleForm')">送出</el-button>
              </el-form-item>
             </div>

        </el-form>
        </template>
     </el-dialog>
<el-dialog :visible.sync="updateDataINV">
    <template>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" size="medium" class="change">

            <el-row>
              <el-col span="12">
              <el-form-item label="Project" prop="Project">

                <el-select v-model="ruleForm.Project" filterable clearable placeholder="请选择" @change="changeDate">
                    <el-option
                        v-for="item in sectionProject"
                        :key="item.value"
                        :label="item.value"
                        :value="item.value">
                    </el-option>
                </el-select>
              </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="Year" prop="Year">
                    <el-select v-model="ruleForm.Year"  placeholder="请选择">
                        <el-option
                            v-for="item in sectionYear"
                            :key="item"
                            :label="item"
                            :value="item">
                        </el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col span="12">
                  <el-form-item label="SS Date" prop="SS_Date">
                     <el-input v-model="ruleForm.SS_Date" style="width: 210px;" disabled="true"></el-input>
                  </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="Month" prop="Month">
                    <el-select v-model="ruleForm.Month" placeholder="请选择">
                      <el-option label="上半年" value="上半年"></el-option>
                      <el-option label="下半年" value="下半年"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col span="12">
                  <el-form-item label="Fun." prop="Func">
                    <el-select v-model="ruleForm.Func" placeholder="请选择">
                      <el-option label="Compatibility" value="Compatibility"></el-option>
                      <el-option label="Reliability" value="Reliability"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
              <el-col span="12">
                  <el-form-item label="K/P No." prop="KPNum">
                      <el-input v-model.number="ruleForm.KPNum" style="width: 210px;"></el-input>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col span="12">
                  <el-form-item label="Role" prop="Role">
                    <el-select v-model="ruleForm.Role" placeholder="请选择">
                      <el-option label="QM" value="QM"></el-option>
                      <el-option label="TL" value="TL"></el-option>
                      <el-option label="TE" value="TE"></el-option>
                    </el-select>
                  </el-form-item>
              </el-col>
            </el-row>
            <el-row>
                <el-col span="23">
                  <el-form-item label="Comments" prop="Comments">
                    <el-input type="textarea" v-model="ruleForm.Comments" :rows="5"></el-input>
                  </el-form-item>
                </el-col>
            </el-row>
            <div class="el-form-item__content" style="margin-left: 200px;">
              <el-form-item>
                <el-button type="primary" @click="onSubmitINV('ruleForm')">送出</el-button>
              </el-form-item>
             </div>

        </el-form>
    </template>
     </el-dialog>

<template>
<el-table height="700" ref="multipleTable" border stripe
          @selection-change="handleSelectionChange" :row-key="getRowKeys"
          :data="EXPtable.slice((currentPage-1)*pageSize,(currentPage)*pageSize)"
          :header-cell-style="{
                           'background-color':'#fafafa',
                           'font-weight':'800',
                           'border-bottom':'1px solid rgb(103, 194, 58)'}">
        <el-table-column type="selection" width="50" :reserve-selection="true" :selectable='checkboxT'></el-table-column>
        <el-table-column type="index" label="No." :index="indexMethod" align="center"></el-table-column>
        <el-table-column  prop="Approved_Officer" label="簽核人" align="center"></el-table-column>
        <el-table-column  prop="Status" label="狀態" align="center"></el-table-column>
        <el-table-column  prop="Department_Code" label="課別" align="center"></el-table-column>
        <el-table-column  prop="Proposer_Num" label="工號" align="center"></el-table-column>
        <el-table-column  prop="Proposer_Name" label="姓名(中)" align="center"></el-table-column>
        <el-table-column  prop="Position_Now" label="現職稱" align="center"></el-table-column>
        <el-table-column  prop="Project" label="Project" align="center"></el-table-column>
        <el-table-column  prop="SS_Date" label="SS時間" align="center"></el-table-column>
        <el-table-column  prop="Year" label="年份" align="center"></el-table-column>
        <el-table-column  prop="Time_Interval" label="時間區間" align="center"></el-table-column>
        <el-table-column  prop="Phase" label="Phase" align="center"></el-table-column>
        <el-table-column  prop="Role" label="Role" align="center"></el-table-column>
        <el-table-column  prop="Function" label="Function" align="center"></el-table-column>
        <el-table-column  prop="SubFunction_Com" label="Sub Function-Compatibility" align="center"></el-table-column>
        <el-table-column  prop="KeypartNum" label="Keypart數量" align="center"></el-table-column>
        <el-table-column  prop="Comments" label="Comments" align="center"></el-table-column>
</el-table>
<br/>
<div class="block">
    <el-pagination  @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[10, 50, 100, 200]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="totalNum">
    </el-pagination>
</div>
</template>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/es6/polyfill.min.js"></script>
<script src="/static/js/es6/babel.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/qs.js"></script>
<script src="/static/js/Element/index.js"></script>
    <script type="text/babel">
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {

            EXPtable:[],
            sectionProject: [],
            sectionSubFun: [],
            sectionPhase: [],
            multipleSelection: [],
            sectionYear : [],
            currentPage: 1,//默认显示第一页
            pageSize:100,//默认每页显示100条
            totalNum: null,
            updateDataNPI : false,
            updateDataINV : false,
            CanShow: 1,
            num: 0,
            flag: 0,
            sessionCategory:{
                "Compatibility": [{value: 'Basic system', label: 'Basic system'},
                                  {value: 'Multimedia', label: 'Multimedia'},
                                  {value: 'Communication', label: 'Communication'},
                                  {value: 'User Interface', label: 'User Interface'},
                                  {value: 'Performance', label: 'Performance'},
                                  {value: 'Stress', label: 'Stress'},
                ],
                "Reliability":   [{value: 'Hinge cycling', label: 'Hinge cycling'},
                                  {value: 'Transportation', label: 'Transportation'},
                                  {value: 'Environmental', label: 'Environmental'},
                                  {value: 'Robustness', label: 'Robustness'},
                                  {value: 'Durability', label: 'Durability'},
                ]
            },
            ssdate: '',
            ruleForm: {
                  Project: '',
                  Role: '',
                  SS_Date: '',
                  Func: '',
                  Phase: '',
                  SubFunc: '',
                  KPNum: '',
                  Year: '',
                  Month: '',
                  Comments: ''
            },
            formData:[],
            rules: {
                      Project: [
                        { required: true, message: '请填写Project', trigger: 'change' }
                      ],
                      Role: [
                        { required: true, message: '请填写Role', trigger: 'change' }
                      ],
                      SS_Date: [
                        { required: true, message: '请填写SS Date', trigger: 'change' }
                      ],
                      Func: [
                        { required: true, message: '请填写Fun.', trigger: 'change' }
                      ],
                      Phase: [
                        { required: true, message: '请填写Phase', trigger: 'change' }
                      ],
                      SubFunc: [
                        { required: true, message: '请填写Sub Fun.', trigger: 'change' }
                      ],
                      KPNum: [
                          { required: true, message: '请填写K/P No.'},
                          { type: 'number', message: '请输入数字值'}
                      ],
                      Month: [
                        { required: true, message: '请填写Month', trigger: 'change' }
                      ],
                      Year: [
                        { required: true, message: '请填写Year', trigger: 'blur' }
                      ],
            },
            editID:'',


            }
        },
        mounted(){        // 页面渲染后触发该区域内容 即页面初始化
            this.getdata("first");
        },
        methods: {
            //获取数据
            getdata: function (e) {
                let data = {"isGetData": e, "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()};
                axios.post("/PersonalExperience/My-application/", Qs.stringify(data), {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'}
                }).then((res) => {
                    this.EXPtable=res.data.EXPtable;
                    this.sectionProject=res.data.sectionProject;
                    this.sectionPhase=res.data.sectionPhase;
                    this.totalNum=this.EXPtable.length;
                    let date = new Date();
                    this.sectionYear.push(date.getFullYear() - 1);
                    this.sectionYear.push(date.getFullYear());

                });
            },

            handleSizeChange(val) {
                  this.pageSize = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
            },

            changeSubFun:function(item){
                this.ruleForm.SubFunc = '';
                this.sectionSubFun = this.sessionCategory[item];

            },

            changeDate(item){
                for(let i=0; i < this.sectionProject.length; i++){
                    if( this.sectionProject[i].value === item ){
                        this.ruleForm.SS_Date = this.sectionProject[i].SS_Date
                    }
                }
            },

            handleSelectionChange(rows) {
                this.multipleSelection = rows;
                let len=document.getElementById("selectNum")
                len.innerHTML=this.multipleSelection.length;
            },

           checkboxT(row,index){
              if( row.Status ==='同意'){
                return 0
              }else {
                return 1
              }
            },

            Add() {
                let datas = this.multipleSelection;   // multipleSelection存储了勾选到的数据
                if(datas.length === 0){
                     this.$alert('請勾選一條數據', '提示', {
                        type: 'warning',
                     })
                }else if(datas.length === 1){
                    if(datas[0].Status === "拒絕"){
                        if(datas[0].Phase === ""){
                        this.updateDataINV = true;
                        this.editid = datas[0].id;
                        this.ruleForm.Project = datas[0].Project;
                        this.ruleForm.Role = datas[0].Role;
                        this.ruleForm.Year = datas[0].Year;
                        this.ruleForm.SS_Date = datas[0].SS_Date;
                        this.ruleForm.Func = datas[0].Function;
                        this.ruleForm.Month = datas[0].Time_Interval;
                        this.ruleForm.KPNum = datas[0].KeypartNum;
                        this.ruleForm.Comments = datas[0].Comments;
                    }else {
                        if((datas[0].Phase).indexOf("OSR") != -1){
                            if(this.sectionPhase.length != 0 && this.num === 0){
                                for(let i=0; i<this.sectionPhase.length; i++){
                                    this.sectionPhase[i] = 'OSR-' + this.sectionPhase[i]
                                }
                                this.num = 1
                            }
                            this.CanShow = 0

                        }else {
                            this.CanShow = 1
                        }
                        this.updateDataNPI = true;
                        this.editid = datas[0].id;
                        this.ruleForm.Project = datas[0].Project;
                        this.ruleForm.Role = datas[0].Role;
                        this.ruleForm.SS_Date = datas[0].SS_Date;
                        this.ruleForm.Func = datas[0].Function;
                        this.ruleForm.Phase = datas[0].Phase;
                        this.ruleForm.SubFunc = datas[0].SubFunction_Com;
                        this.sectionSubFun = this.sessionCategory[datas[0].Function];
                        this.ruleForm.Comments = datas[0].Comments;
                    }
                    }else {
                            this.$alert('只有拒絕狀態才能修改數據！！', '提示', {
                            type: 'warning',
                         });
                    }
                }else{
                     this.$alert('只能勾選一條數據', '提示', {
                        type: 'warning',
                     });
                }
                this.$refs.multipleTable.clearSelection();
             },

            onSubmitINV(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.formData.length === 0) {
                            this.formData = new FormData();
                        }
                        this.formData.append('ID', this.editid);
                        this.formData.append('Project', this.$refs[formName].model.Project);
                        this.formData.append('Role', this.$refs[formName].model.Role);
                        this.formData.append('SS_Date', this.$refs[formName].model.SS_Date);
                        this.formData.append('Function', this.$refs[formName].model.Func);
                        this.formData.append('Month', this.$refs[formName].model.Month);
                        this.formData.append('Year', this.$refs[formName].model.Year);
                        this.formData.append('KeypartNum', this.$refs[formName].model.KPNum);
                        this.formData.append('Comments', this.$refs[formName].model.Comments);
                        this.formData.append("action", 'addSubmit');
                        {#console.log(this.formData);#}
                        axios.post("/PersonalExperience/My-application/", this.formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                                'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                            } //改变头格式，原生默认上传json格式
                        }).then((res) => {
                            this.formData = new FormData();
                            this.EXPtable=res.data.EXPtable;
                            this.totalNum=this.EXPtable.length;
                            this.errMsgNumber = res.data.errMsgNumber;
                            if (this.errMsgNumber) {
                                this.$alert(this.errMsgNumber, '提示', {
                                    type: 'warning',
                                });
                            } else {
                                try {
                                    this.$refs[formName].resetFields();
                                } catch (e) {

                                }
                                this.updateDataINV = false;
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },

            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        if (this.formData.length === 0) {
                            this.formData = new FormData();
                        }
                        this.formData.append('ID', this.editid);
                        this.formData.append('Project', this.$refs[formName].model.Project);
                        this.formData.append('Role', this.$refs[formName].model.Role);
                        this.formData.append('SS_Date', this.$refs[formName].model.SS_Date);
                        this.formData.append('Function', this.$refs[formName].model.Func);
                        this.formData.append('SubFunction', this.$refs[formName].model.SubFunc);
                        this.formData.append('Phase', this.$refs[formName].model.Phase);
                        this.formData.append('Comments', this.$refs[formName].model.Comments);
                        this.formData.append("action", 'addSubmit');
                        axios.post("/PersonalExperience/My-application/", this.formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data',
                                'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()
                            } //改变头格式，原生默认上传json格式
                        }).then((res) => {
                            this.formData = new FormData();
                            this.EXPtable=res.data.EXPtable;
                            this.totalNum=this.EXPtable.length;
                            this.errMsgNumber = res.data.errMsgNumber;
                            if (this.errMsgNumber) {
                                this.$alert(this.errMsgNumber, '提示', {
                                    type: 'warning',
                                });
                            } else {
                                try {
                                    this.$refs[formName].resetFields();
                                } catch (e) {

                                }
                                this.updateDataNPI = false;
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },

            Delete(){
                 if(this.multipleSelection.length===0){
                    alert('未勾选数据！')
                  }else{
                      this.$confirm('您正在撤回數據, 是否繼續?', '提示', {
                              confirmButtonText: '確定',
                              cancelButtonText: '取消',
                              type: 'warning'
                      }).then(() => {
                             let checkArr = this.multipleSelection;   // multipleSelection存储了勾选到的数据
                             let params = [];
                             let self = this;
                             checkArr.forEach(function (item) {
                                 params.push(item.id);       // 添加所有需要删除数据的id到一个数组，post提交过去
                             });
                             let data ={"isGetData":"Delete","DeleteId":params,"csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val()}
                             axios.post("/PersonalExperience/My-application/",data).then((res) => {
                                        this.EXPtable=res.data.EXPtable;
                                        this.totalNum=this.EXPtable.length;
                                    })
                                    this.$refs.multipleTable.clearSelection()
                             this.$message({
                             type: 'success',
                             message: '撤回成功!'
                             });
                      }).catch(() => {
                            this.$message({
                            type: 'info',
                            message: '已取消撤回'
                            });
                      });
               }
            },


            indexMethod(index) {
                return index + 1;
            },

            getRowKeys (row) {
              return row.id;
            },

        },
    })
    </script>

{% endblock %}





